<div class="panel panel-default">

    <div class="panel-heading">
        Documents
    </div>

    <div class="panel-body">
        <div class="container">

            <%= form_for @officialdocument, url: tradeinfo_officialdocument_path(@tradeinfo, @officialdocument), method: :put do |form| %>

                <br><br><br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Invoices 2017 </b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :invoiceone %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Invoices 2018 </b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :invoicetwo %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Balance Sheet </b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :balancesheet %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Company Registration Certificate </b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :companyregistrationcertificate %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> ShareHolders Agreement</b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :shareholdersagreement %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Identification Document (Majority Shareholder)</b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :identificationdocumentshareholder %>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-5">
                        <h4><b> Extra Document</b></h4>
                    </div>
                    <div class="col-md-5">
                        <%= form.file_field :extradoc, name: 'picture'%>
                    </div>
                </div>

                <br><br>

                <div id="DIV_295">
                    <%= button_to "Back", accepted_tradeinfo_path(@tradeinfo, @financial), id: "A_296", method: :get %>
                    <button type="Submit" id="BUTTON_297"> PROCEED</button>
                </div>
            <% end %>

        </div>
        <br><br>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2 // Creates a dropdown of 15 years to control year
        });
    });
</script>
