<div class="container">
    <div class="section standard">
        <div class="row valign-wrapper">
            <div class="col s12 m6">
                <div class="text-section black-text">
                    <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                    <h4>Registrierungsemail erneut senden</h4>
                    <p>Sollten Sie keine Email erhalten haben, geben Sie ihre Email erneut ein.</p>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="col s12 custom-form">
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-section z-depth-2">

                            <div class="row">
                                <div class="col s12">
                                    <div class="form-content">
                                        <div class="row">

                                            <div class="input-field col s12">
                                                <label>E-Mail</label>
                                                <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="actions">
                            <%= f.submit "Registrierungsemail erneut senden", id: "submit", class: "btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" %>
                        </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>