<div class="container">
    <div class="section sign-in">
        <div class="row valign-wrapper">
            <div class="col s12 m6">
                <div class="text-section black-text">
                    <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                    <h4>Bestätigungsanweisungen erneut senden</h4>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="col s12 custom-form">
                    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
                        <%= devise_error_messages! %>

                        <div class="form-group">
                            <label>E-Mail</label>
                            <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
                        </div>

                        <div class="actions">
                            <%= f.submit "Bestätigungsanweisungen erneut senden",  id: "submit", class: "validate" %>
                        </div>
                    <% end %>
                    <%= render "devise/shared/links" %>
                </div>
            </div>
        </div>
    </div>
</div>