<div class="row">
<!--  <div class="col-md-2 col-md-offset-1">-->
<!--    <ul class="sidebar-list">-->
<!--      <li class="sidebar-item"><%#= link_to "Edit Profile", edit_user_registration_path, class: "sidebar-link active" %> </li>-->
<!--    </ul>-->
<!--    <br/>-->
    <%#= link_to "View My Profile", user_path(current_user.id), class: "btn handex-btn btn btn-default" %>
<!--  </div>-->


  <div class="col-md-6 col-md-offset-3 text-center">
    <div class="panel panel-default">
      <div class="panel-heading"> <%= t('your_profile') %></div>
      <div class="panel-body">
        <div class="container">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
            <%= render 'shared/devisemes' %>

            <div class="form-group">
              <%= f.text_field :fullname, autofocus: true, placeholder: "Company Name", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.text_field :phone_number, autofocus: true, placeholder: "Telefonnummer", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <div>Wartet momentan auf Bestätigung für: <%= resource.unconfirmed_email %></div>
            <% end %>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "off", placeholder: "Neues Passwort (Lassen Sie das Feld leer, wenn Sie es nicht ändern möchten)", class: "form-control" %>
            </div>

            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Passwort bestätigen", class: "form-control" %>
            </div>

            <div class="col-md-4 col-md-offset-4 text-center">

                <div class="actions">
                    <%= f.submit t('save'), class: "btn z-depth-0 handex-btn z-depth-0 btn-blue btn-block" %>
                </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>