<div class="container">
    <div class="row">
        <div class="col-sm-12">

            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">

                    <%= form_with(model: listing, local: true, id: "customer-portal") do |form| %>

                        <% if listing.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from
                                    being saved:</h2>
                                <ul>
                                    <% listing.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>


                        <div class="wizard-header">
                            <h3 class="wizard-title">Versichern Sie Ihren Export</h3>
                            <h5 align="center">In Kooperation mit Euler Hermes</h5>
                            <br><br>
                        </div>

                        <div class="wizard-navigation">

                            <div class="progress-with-circle">
                                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                            </div>

                            <ul>
                                <li>
                                    <a href="#contactinformation" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-clipboard"></i>
                                        </div>
                                        Kontaktinformation
                                    </a>
                                </li>
                                <li>
                                    <a href="#location" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-map"></i>
                                        </div>
                                        Das Wichtigste Zuerst
                                    </a>
                                </li>
                                <li>
                                    <a href="#type" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-direction-alt"></i>
                                        </div>
                                        Ihre Risiken
                                    </a>
                                </li>
                                <li>
                                    <a href="#facilities" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-panel"></i>
                                        </div>
                                        Ihr Geschäft
                                    </a>
                                </li>
                                <li>
                                    <a href="#description" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-comments"></i>
                                        </div>
                                        Ihr Kunde
                                    </a>
                                </li>
                                <li>
                                    <a href="#important-at-end" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-share"></i>
                                        </div>
                                        Notwendiges zum Schluss
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <br><br>

                        <div class="tab-content">
                            <div class="tab-pane" id="contactinformation">
                                <%= render "contact_information.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="location">
                                <%= render "important_first.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="type">
                                <%= render "risk_insure.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="facilities">
                                <%= render "business_information.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="description">
                                <%= render "importer_information.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="important-at-end">
                                <%= render "necessary_at_end.html.erb", form: form %>
                            </div>
                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Weiter'/>
                                <%= form.submit class: 'btn btn-finish btn-fill btn-danger btn-wd', value: 'Angaben prüfen' %>
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Zurück'/>
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(function () {
        $(".auftragwertbutton").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivTotalFinancingRequired").show();
            } else {
                $("#showHideDivTotalFinancingRequired").hide();
            }
        });
    });

    $(function () {
        $("#privateSector").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivResultMessage").show();
            } else {
                $("#showHideDivResultMessage").hide();
            }
        });

        $("#publicSector").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivResultMessageFail").show();
            } else {
                $("#showHideDivResultMessageFail").hide();
            }
        });
    });

    function privateSector() {
        var x = document.getElementById("showHideDivResultMessage");
        var y = document.getElementById("showHideDivResultMessageFail");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function publicSector() {
        var x = document.getElementById("showHideDivResultMessage");
        var y = document.getElementById("showHideDivResultMessageFail");
        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
        } else {
            y.style.display = "none";
        }
    }

    function ziehungVonGarantien() {
        var x = document.getElementById("entlastung");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function deliverWithOtherCompanies() {
        var x = document.getElementById("showHideDivJaWorkOtherCompanies");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function notDeliverWithOtherCompanies() {
        var x = document.getElementById("showHideDivJaWorkOtherCompanies");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function exportLicenseRequired() {
        var x = document.getElementById("exportLicenseRequirement");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noExportLicenseRequired() {
        var x = document.getElementById("exportLicenseRequirement");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    $(function () {
        $("#yes_secondhand_goods").click(function () {
            if ($(this).is(":checked")) {
                $("#deliverSecondHandGoods").show();
            } else {
                $("#deliverSecondHandGoods").hide();
            }
        });
    });

    function secondHandGoods() {
        var x = document.getElementById("deliverSecondHandGoods");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noSecondHandGoods() {
        var x = document.getElementById("deliverSecondHandGoods");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function contractSignedAllParties() {
        var x = document.getElementById("contractSigned");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noContractSignedAllParties() {
        var x = document.getElementById("contractSigned");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function specialContractStructure() {
        var x = document.getElementById("yesNoSpecialContractStructure");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noSpecialContractStructure() {
        var x = document.getElementById("yesNoSpecialContractStructure");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function customerCountsInterest() {
        var x = document.getElementById("yesNoCustomerCountInterest");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noCustomerCountsInterest() {
        var x = document.getElementById("yesNoCustomerCountInterest");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function priceAdjustmentClause() {
        var x = document.getElementById("yesNoPriceAdjustmentClause");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noPriceAdjustmentClause() {
        var x = document.getElementById("yesNoPriceAdjustmentClause");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function multipleDeliveries() {
        var x = document.getElementById("yesNoMultipleDeliveries");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noMultipleDeliveries() {
        var x = document.getElementById("yesNoMultipleDeliveries");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }


    $(function () {
        $("#no_certificateoforigin").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoCertificateOfOrigin").show();
            } else {
                $("#yesNoCertificateOfOrigin").hide();
            }
        });
    });

    $(function () {
        $("#teil-certificateoforigin").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoCertificateOfOriginTeil").show();
            } else {
                $("#yesNoCertificateOfOriginTeil").hide();
            }
        });
    });

    function kurzFristigTermOfPayment() {
        var x = document.getElementById("KurzFristigTermOfPayment");
        var y = document.getElementById("MittelTermOfPayment");
        var z = document.getElementById("SonstigeKurzFristigTermOfPayment");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none"
        }
    }

    function mittelTermOfPayment() {
        var x = document.getElementById("KurzFristigTermOfPayment");
        var y = document.getElementById("MittelTermOfPayment");
        var z = document.getElementById("SonstigeKurzFristigTermOfPayment");
        if (y.style.display === "none") {
            y.style.display = "block";
            z.style.display = "none";
            x.style.display = "none";
        } else {
            y.style.display = "none"
        }
    }

    function sonstigeKurzFristigTermOfPayment() {
        var x = document.getElementById("KurzFristigTermOfPayment");
        var y = document.getElementById("MittelTermOfPayment");
        var z = document.getElementById("SonstigeKurzFristigTermOfPayment");

        if (z.style.display === "none") {
            z.style.display = "block";
            x.style.display = "none";
            y.style.display = "none";
        } else {
            z.style.display = "none"
        }
    }

    $(function () {
        $("#sonstige").click(function () {
            if ($(this).is(":checked")) {
                $("#entlastung").show();
            } else {
                $("#entlastung").hide();
            }
        });
    });

    function securityBusinnesProvided() {
        var x = document.getElementById("typeOfSecurity");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noSecurityBusinnesProvided() {
        var x = document.getElementById("typeOfSecurity");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function deliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function notDeliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function relationToCustomer() {
        var x = document.getElementById("relationToCustomerExplain");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noRelationToCustomer() {
        var x = document.getElementById("relationToCustomerExplain");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    $(function () {
        $("#Yes-paymentExperience").click(function () {
            if ($(this).is(":checked")) {
                $("#alreadyPaymentExperience").show();
            } else {
                $("#alreadyPaymentExperience").hide();
            }
        });
    });

    function previousPaymentExperienceWithCustomer() {
        var x = document.getElementById("alreadyPaymentExperience");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noPreviousPaymentExperienceWithCustomer() {
        var x = document.getElementById("alreadyPaymentExperience");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    $(function () {
        $("#No-hermesdeckungNutz").click(function () {
            if ($(this).is(":checked")) {
                $("#newAtHermesDeckung").show();
            } else {
                $("#newAtHermesDeckung").hide();
            }
        });
    });

    function previouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function noPreviouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    $(function () {
        $("#Yes-WorkAssociation").click(function () {
            if ($(this).is(":checked")) {
                $("#workAssociationExist").show();
            } else {
                $("#workAssociationExist").hide();
            }
        });
    });

    $(function () {
        $("#corruptionDeclarationApplies").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivCorruptionDeclarationApplies").show();
            } else {
                $("#showHideDivCorruptionDeclarationApplies").hide();
            }
        });
    });

    var $choice = jQuery('.choice');

    $choice.filter('[name="kurzfristigtermofpayment"]').click(function () {
        $choice.filter('[name="mitteltermofpayment"]').removeClass('active');
        $choice.filter('[name="sonstigekurzfristigtermofpayment"]').removeClass('active');
    });

    $choice.filter('[name="mitteltermofpayment"]').click(function () {
        $choice.filter('[name="kurzfristigtermofpayment"]').removeClass('active');
        $choice.filter('[name="sonstigekurzfristigtermofpayment"]').removeClass('active');
    });

    $choice.filter('[name="sonstigekurzfristigtermofpayment"]').click(function () {
        $choice.filter('[name="mitteltermofpayment"]').removeClass('active');
        $choice.filter('[name="kurzfristigtermofpayment"]').removeClass('active');
    });


    $choice.filter('[name="sensitivearea_nein"]').click(function () {
        $choice.filter('[name="sensitivearea"]').removeClass('active');
        $choice.filter('[name="sensitivearea_sonstige"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="sensitivearea_sonstige"]').click(function () {
        $choice.filter('[name="sensitivearea"]').removeClass('active');
        $choice.filter('[name="sensitivearea_nein"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="sensitivearea"]').click(function () {
        $choice.filter('[name="sensitivearea_nein"]').removeClass('active');
        $choice.filter('[name="sensitivearea_sonstige"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="deliverwithothercompanies_yes"]').click(function () {
        $choice.filter('[name="deliverwithothercompanies_no"]').removeClass('active');
    });

    $choice.filter('[name="deliverwithothercompanies_no"]').click(function () {
        $choice.filter('[name="deliverwithothercompanies_yes"]').removeClass('active');
    });


    $choice.filter('[name="exportlicenserequired_yes"]').click(function () {
        $choice.filter('[name="exportlicenserequired_no"]').removeClass('active');
    });

    $choice.filter('[name="exportlicenserequired_no"]').click(function () {
        $choice.filter('[name="exportlicenserequired_yes"]').removeClass('active');
    });

    $choice.filter('[name="yes_secondhandgoods"]').click(function () {
        $choice.filter('[name="no_secondhandgoods"]').removeClass('active');
    });

    $choice.filter('[name="no_secondhandgoods"]').click(function () {
        $choice.filter('[name="yes_secondhandgoods"]').removeClass('active');
    });

    $choice.filter('[name="yes_congractsignedallparties"]').click(function () {
        $choice.filter('[name="no_congractsignedallparties"]').removeClass('active');
    });

    $choice.filter('[name="no_congractsignedallparties"]').click(function () {
        $choice.filter('[name="yes_congractsignedallparties"]').removeClass('active');
    });

    $choice.filter('[name="yes_specialcontractstructure"]').click(function () {
        $choice.filter('[name="no_specialcontractstructure"]').removeClass('active');
    });

    $choice.filter('[name="no_specialcontractstructure"]').click(function () {
        $choice.filter('[name="yes_specialcontractstructure"]').removeClass('active');
    });

    $choice.filter('[name="yes_customercountsinterest"]').click(function () {
        $choice.filter('[name="no_customercountsinterest"]').removeClass('active');
    });

    $choice.filter('[name="no_customercountsinterest"]').click(function () {
        $choice.filter('[name="yes_customercountsinterest"]').removeClass('active');
    });

    $choice.filter('[name="yes_priceadjustmentclause"]').click(function () {
        $choice.filter('[name="no_priceadjustmentclause"]').removeClass('active');
    });

    $choice.filter('[name="no_priceadjustmentclause"]').click(function () {
        $choice.filter('[name="yes_priceadjustmentclause"]').removeClass('active');
    });

    $choice.filter('[name="yes_multipledeliveries"]').click(function () {
        $choice.filter('[name="no_multipledeliveries"]').removeClass('active');
    });

    $choice.filter('[name="no_multipledeliveries"]').click(function () {
        $choice.filter('[name="yes_multipledeliveries"]').removeClass('active');
    });

    $choice.filter('[name="yes_securitybusinnesprovided"]').click(function () {
        $choice.filter('[name="no_securitybusinnesprovided"]').removeClass('active');
    });

    $choice.filter('[name="no_securitybusinnesprovided"]').click(function () {
        $choice.filter('[name="yes_securitybusinnesprovided"]').removeClass('active');
    });

    $choice.filter('[name="yes_deliveredatthisaddress"]').click(function () {
        $choice.filter('[name="no_deliveredatthisaddress"]').removeClass('active');
    });

    $choice.filter('[name="no_deliveredatthisaddress"]').click(function () {
        $choice.filter('[name="yes_deliveredatthisaddress"]').removeClass('active');
    });

    $choice.filter('[name="yes_relationtocustomer"]').click(function () {
        $choice.filter('[name="no_relationtocustomer"]').removeClass('active');
    });

    $choice.filter('[name="no_relationtocustomer"]').click(function () {
        $choice.filter('[name="yes_relationtocustomer"]').removeClass('active');
    });

    $choice.filter('[name="yes_previouspaymentexperiencewithcustomer"]').click(function () {
        $choice.filter('[name="no_previouspaymentexperiencewithcustomer"]').removeClass('active');
    });

    $choice.filter('[name="no_previouspaymentexperiencewithcustomer"]').click(function () {
        $choice.filter('[name="yes_previouspaymentexperiencewithcustomer"]').removeClass('active');
    });

    $choice.filter('[name="yes_previouslyhermesinsuranceused"]').click(function () {
        $choice.filter('[name="no_previouslyhermesinsuranceused"]').removeClass('active');
    });

    $choice.filter('[name="no_previouslyhermesinsuranceused"]').click(function () {
        $choice.filter('[name="yes_previouslyhermesinsuranceused"]').removeClass('active');
    });

    $choice.filter('[name="yes_reduceEconomicRisk"]').click(function () {
        $choice.filter('[name="dont_reduceEconomicRisk"]').removeClass('active');
    });

    $choice.filter('[name="dont_reduceEconomicRisk"]').click(function () {
        $choice.filter('[name="yes_reduceEconomicRisk"]').removeClass('active');
    });

    $choice.filter('[name="publicsector"]').click(function () {
        $choice.filter('[name="privatesector"]').removeClass('active');
    });

    $choice.filter('[name="privatesector"]').click(function () {
        $choice.filter('[name="publicsector"]').removeClass('active');
    });


    $('input[type="checkbox"]').on('change', function () {

        $('input[name="' + this.name + '"]').not(this).prop('checked', false);

        if ($("#No-hermesdeckungNutz").is(":checked")) {
            $("#newAtHermesDeckung").show();
        } else {
            $("#newAtHermesDeckung").hide();
        }

        if ($("#Yes-WorkAssociation").is(":checked")) {
            $("#workAssociationExist").show();
        } else {
            $("#workAssociationExist").hide();
        }

        if ($("#ja_exportlicense_requirement").is(":checked")) {
            $("#exportLicenseRequirement").show();
        } else {
            $("#exportLicenseRequirement").hide();
        }

        if ($("#yes_secondhand_goods").is(":checked")) {
            $("#deliverSecondHandGoods").show();
        } else {
            $("#deliverSecondHandGoods").hide();
        }

        if ($("#ja_contractsigned").is(":checked")) {
            $("#contractSigned").show();
        } else {
            $("#contractSigned").hide();
        }

        if ($("#yes_specialcontractstructure").is(":checked")) {
            $("#yesNoSpecialContractStructure").show();
        } else {
            $("#yesNoSpecialContractStructure").hide();
        }

        if ($("#ja_customercountsinterest").is(":checked")) {
            $("#yesNoCustomerCountInterest").show();
        } else {
            $("#yesNoCustomerCountInterest").hide();
        }

        if ($("#ja_priceadjustmentclause").is(":checked")) {
            $("#yesNoPriceAdjustmentClause").show();
        } else {
            $("#yesNoPriceAdjustmentClause").hide();
        }

        if ($("#ja_multipledeliveries").is(":checked")) {
            $("#yesNoMultipleDeliveries").show();
        } else {
            $("#yesNoMultipleDeliveries").hide();
        }

        if ($("#ja").is(":checked")) {
            $("#showHideDivJaWorkOtherCompanies").show();
        } else {
            $("#showHideDivJaWorkOtherCompanies").hide();
        }

        if ($("#no_certificateoforigin").is(":checked")) {
            $("#yesNoCertificateOfOrigin").show();
        } else {
            $("#yesNoCertificateOfOrigin").hide();
        }

        if ($("#teil-certificateoforigin").is(":checked")) {
            $("#yesNoCertificateOfOriginTeil").show();
        } else {
            $("#yesNoCertificateOfOriginTeil").hide();
        }

        if ($("#Yes-securityForBusiness").is(":checked")) {
            $("#typeOfSecurity").show();
        } else {
            $("#typeOfSecurity").hide();
        }

        if ($("#No-deliveryAddress").is(":checked")) {
            $("#deliveryAddress").show();
        } else {
            $("#deliveryAddress").hide();
        }

        if ($("#Yes-relationToCustomer").is(":checked")) {
            $("#relationToCustomerExplain").show();
        } else {
            $("#relationToCustomerExplain").hide();
        }

        if ($("#Yes-paymentExperience").is(":checked")) {
            $("#alreadyPaymentExperience").show();
        } else {
            $("#alreadyPaymentExperience").hide();
        }

        if ($("#corruptionDeclarationApplies").is(":checked")) {
            $("#showHideDivCorruptionDeclarationApplies").show();
        } else {
            $("#showHideDivCorruptionDeclarationApplies").hide();
        }

        if ($("#privateSector").is(":checked")) {
            $("#showHideDivResultMessage").show();
        } else {
            $("#showHideDivResultMessage").hide();
        }

        if ($("#publicSector").is(":checked")) {
            $("#showHideDivResultMessageFail").show();
        } else {
            $("#showHideDivResultMessageFail").hide();
        }
    });


    //------------------------- START: input validation checks here -------------------------

    // only allow numerical value
    function onlyAllowNumericalValue(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and plus symbol
    function onlyAllowNumericalValueAndPlus(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 43) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and comma, dot
    function onlyAllowNumericalValueAndDotComma(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 44 && charCode != 46) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    //------------------------- END: input validation checks here -------------------------


</script>