<p id="notice"><%= notice %></p>

<h1>Refinances</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @refinances.each do |refinance| %>
      <tr>
        <td><%= link_to 'Show', refinance %></td>
        <td><%= link_to 'Edit', edit_refinance_path(refinance) %></td>
        <td><%= link_to 'Destroy', refinance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Refinance', new_refinance_path %>
