<section id="SECTION_84">
    <div id="DIV_85">
        <%= form_for @bankaccount, url: tradeinfo_bankaccounts_path, method: :post do |f| %>
            <div id="DIV_91">

                <div id="DIV_110">
                    <h1 id="H1_224">
                        Bank Account Information
                    </h1>

                    <div id="DIV_225">

                        <div class="form-group">
                            <div class="row">

                                <label class="control-label"> Name of Account Holder </label>
                                <div> <%= f.text_field :name_account_holder, class: "form-control", required: true %> </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <label class="control-label"> IBAN Number</label>
                                <div> <%= f.text_field :iban, class: "form-control", required: true %> </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <label class="control-label"> BIC </label>
                                <div> <%= f.text_field :bic, class: "form-control", required: true %> </div>
                            </div>
                        </div>

                    </div>

                    <div id="DIV_295">
                        <button type="Submit Application" id="BUTTON_297"> Submit Application</button>
                    </div>

                </div>

                <div id="DIV_210">
                    <img class="responsive-img" id="IMG_211" src="<%= asset_path('bank.png') %>">
                </div>
            </div>
        <% end %>
    </div>
</section>

<footer id="FOOTER_408">
</footer>