<h4 class="info-text" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('business_heading') %> </h4>

<br>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b><%= t('describe_export_business') %></b></p>
            <%= form.text_area :describe_export_business, class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="form-group">
            <p><b><%= t('is_investment_good') %></b></p>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="investmentgoods_yes" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_investment_good]", @insurance.is_investment_good ? @insurance.is_investment_good : nil %>
                    <div class="card portal-hover-effect">
                        <i>Yes</i>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="investmentgoods_no" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_investment_good]", @insurance.is_investment_good ? nil : @insurance.is_investment_good %>
                    <div class="card portal-hover-effect">
                        <i>No</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="form-group">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p><b> Haben Sie bereits Incoterms vereinbart?  </b>
            <p>
            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="yes_incoterms" data-toggle="wizard-checkbox" onclick="incoTerms()">
                    <div class="card portal-hover-effect">
                        <i>Yes</i>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="no_incoterms" data-toggle="wizard-checkbox" onclick="noIncoTerms()">
                    <div class="card portal-hover-effect">
                        <i>No</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div id="incotermsAgreed" style="display: none">
    <div class="appear">
        <div class="form-group">
            <div class="row">
                <br>
                <div class="col-md-4 col-md-offset-1">
                    <p> IncoTerms </p>
                    <%= form.select :years_trading_without_hermes_insurance, options_for_select(["Bitte auswählen", "CIF(Cost, Insurance and Freight)", "CIP (Carriage and Insurance Paid to)",
                                                                                                "CFR (Cost and Freight)","CPT (Carriage paid to)","DAT (Delivered at Terminal)","DAP (Delivered at Place)",
                                                                                                "DDP (Delivery Duty Paid)", " EXW (Ex Works)", "FAS (Free Alongside Ship)", "FCA (Free Carrier)", "FOB (Free on Board)"]), {}, class: 'form-control' %>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <p><b><%= t('explain_why_importer_buying_good') %></b></p>
        <div class="form-group">
            <p><%= t('explain_why_importer_buying_good_additional_information') %> </p>
            <%= form.text_area :explain_why_importer_buying_good, class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="form-group">
            <p><b><%= t('is_servicing_for_goods_offered') %></b></p>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="exporteroffersservicingforgoods_yes" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_servicing_for_goods_offered]", @insurance.is_servicing_for_goods_offered ? @insurance.is_servicing_for_goods_offered : nil %>
                    <div class="card">
                      <p>Ja</p>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="exporteroffersservicingforgoods_no" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_servicing_for_goods_offered]", @insurance.is_servicing_for_goods_offered ? nil: @insurance.is_servicing_for_goods_offered  %>
                    <div class="card portal-hover-effect">
                      <p>Nein</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b> <%= t('exported_goods_type') %> </b></p>

            <div class="row">
                <div class="col-sm-6">
                    <%= form.select :exported_goods_type, options_for_select([t('please_select'), 'Bergbau, inkl. Verarbeitung', 'Erdöl- und Erdgasförderung inkl. Verarbeitung',
                                                                              'Chemie', 'Energie', 'Infrastruktur', 'Papier- , Holz-, Leder- und Textilindustrie',
                                                                              'Agrarsektor und Nahrungsmittelindustrie', 'Verarbeitende Industrie', 'Umwelttechnik',
                                                                              'Dienstleistungen'], @insurance.exported_goods_type ? @insurance.exported_goods_type : nil),
                                    {}, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b><%= t('explain_good_industry_type') %>></b></p>
            <%= form.text_area :explain_good_industry_type, class: 'form-control', :input_html => {:rows => 20} %>
        </div>
    </div>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p><b><%= t('is_delivered_part_of_consortium_with_other_companies') %> </b></p>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="deliverwithothercompanies_yes" data-toggle="wizard-checkbox"> <!-- onclick="deliverWithOtherCompanies()" -->

                        <%= check_box_tag "insurance[is_delivered_part_of_consortium_with_other_companies]", @insurance.is_delivered_part_of_consortium_with_other_companies ? @insurance.is_delivered_part_of_consortium_with_other_companies : nil %>

                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="deliverwithothercompanies_no" data-toggle="wizard-checkbox"> <!-- onclick="notDeliverWithOtherCompanies()"> -->
                        <%= check_box_tag "insurance[is_delivered_part_of_consortium_with_other_companies]", @insurance.is_delivered_part_of_consortium_with_other_companies ? nil : @insurance.is_delivered_part_of_consortium_with_other_companies %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="form-group">
            <div class="row">
                <br>
                <div class="col-md-12">
                    <p><b> <%= t('sensitivearea') %></b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <p><i><%= t('sensitivearea_additional_information') %></i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                    <div class="choice" name="sensitivearea_nein" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_doesnt_affects_sensitive_areas]", @insurance.delivery_doesnt_affects_sensitive_areas ? @insurance.delivery_doesnt_affects_sensitive_areas : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-layout-sidebar-none"></i>
                            <p>Nein </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_natural_reserves]", @insurance.delivery_affects_natural_reserves ? @insurance.delivery_affects_natural_reserves : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-shine"></i>
                            <p><%= t('delivery_affects_natural_reserves') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_indigenous_people]", @insurance.delivery_affects_indigenous_people ? @insurance.delivery_affects_indigenous_people : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-user"></i>
                            <p><%= t('delivery_affects_indigenous_people') %></p>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-3 col-md-offset-2">

                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_cultural_heritage]", @insurance.delivery_affects_cultural_heritage ? @insurance.delivery_affects_cultural_heritage : nil %>

                        <div class="card card-checkboxes height-adjusted-normal-big card-hover-effect">
                            <i class="ti-star"></i>
                            <p> <%= t('delivery_affects_cultural_heritage') %>
                                <Bedeutung></Bedeutung>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="choice" name="sensitivearea_sonstige" data-toggle="wizard-checkbox" , onclick="affectsOtherSpecial()">

                        <%= check_box_tag "insurance[delivery_affects_other]", @insurance.delivery_affects_other ? @insurance.delivery_affects_other : nil %>

                        <div class="card card-checkboxes height-adjusted-normal-big card-hover-effect">
                            <i class="ti-marker"></i>
                            <p><%= t('Others') %> </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="affectsOtherSpecialDiv" style="display: none;">

    <div class="appear">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <br>
                <div class="form-group">
                    <p><%= t('explain_delivery_affects_other') %>
                        <%= form.text_field :explain_delivery_affects_other, class: "form-control" %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <br>
                <p><b><%= t('is_export_licence_needed') %></b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="exportlicenserequired_yes" data-toggle="wizard-checkbox" onclick="exportLicenseRequired()">
                        <%= check_box_tag "insurance[is_export_licence_needed]", @insurance.is_export_licence_needed ? @insurance.is_export_licence_needed : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="exportlicenserequired_no" data-toggle="wizard-checkbox" onclick="noExportLicenseRequired()">
                        <%= check_box_tag "insurance[is_export_licence_needed]", @insurance.is_export_licence_needed ? nil : @insurance.is_export_licence_needed %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="exportLicenseRequirement" style="display: none;">
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><b> <%= t('which_regulations_enforcing_exportlicense_requirement') %> </b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div> <%= form.text_area :which_regulations_enforcing_exportlicense_requirement, class: "form-control" %> </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p> <%= t('export_license_status') %> </p>
                </div>
                <div class="col-md-3">
                    <%= form.select :export_license_status, options_for_select([t('please_select'), "... wurde erteilt.", "... ist beantragt.", "... ist noch zu beantragen."]), {}, class: 'form-control' %>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <p><b> <%= t('are_secondhand_goods_delivered') %></b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_secondhandgoods" data-toggle="wizard-checkbox"> <!-- onclick="secondHandGoods()"> -->
                        <%= check_box_tag "insurance[are_secondhand_goods_delivered]", @insurance.are_secondhand_goods_delivered ? @insurance.are_secondhand_goods_delivered : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_secondhandgoods" data-toggle="wizard-checkbox"> <!-- onclick="noSecondHandGoods()"> -->
                        <%= check_box_tag "insurance[are_secondhand_goods_delivered]", @insurance.are_secondhand_goods_delivered ? nil : @insurance.are_secondhand_goods_delivered %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>
                <p><b> <%= t('is_contract_already_signed_between_parties') %></b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_congractsignedallparties" data-toggle="wizard-checkbox" onclick="contractSignedAllParties()">
                        <%= check_box_tag "insurance[is_contract_already_signed_between_parties]", @insurance.is_contract_already_signed_between_parties ? @insurance.is_contract_already_signed_between_parties : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_congractsignedallparties" data-toggle="wizard-checkbox" onclick="noContractSignedAllParties()">
                        <%= check_box_tag "insurance[is_contract_already_signed_between_parties]", @insurance.is_contract_already_signed_between_parties ? nil : @insurance.is_contract_already_signed_between_parties %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="contractSigned" style="display: none; ">
    <div class="appear">
        <div class="form-group">
            <br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('contract_signing_date_exporter_internal_contract_id') %></p>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-2 col-md-offset-1">
                    <div> <%= form.date_field :contract_signing_date, id: "start_date", type: "date", class: "datepicker" %> </div>
                </div>

                <div class="col-md-4 col-md-offset-1 ">
                    <div> <%= form.text_field :exporter_internal_contract_id, class: "form-control", placeholder: "Ihre interne Vertragskennung" %> </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div id="specialContractStructure">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">

                <p><b> <%= t('has_special_contract_structure') %> </b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_specialcontractstructure" data-toggle="wizard-checkbox"> <!--onclick="specialContractStructure()"> -->
                        <%= check_box_tag "insurance[has_special_contract_structure]", @insurance.has_special_contract_structure ? @insurance.has_special_contract_structure : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_specialcontractstructure" data-toggle="wizard-checkbox"> <!-- onclick="noSpecialContractStructure()"> -->
                        <%= check_box_tag "insurance[has_special_contract_structure]", @insurance.has_special_contract_structure ? nil : @insurance.has_special_contract_structure %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="contractAmount">

    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <p><b><%= t('give_contract_value') %></b></p>
                    <p><i><%= t('contract_currency')  %> </i></p>

                    <div class="row">
                        <div class="col-md-4 ">
                            <%= form.select :contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-4 ">
                            <div> <%= form.text_field :contract_value, class: "form-control", placeholder: "Auftragswert", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-8">
                            <p><i> <%= t('total_delivery_value_excluding_servicing') %></i>
                            </p>
                            <div> <%= form.text_field :total_delivery_value_excluding_servicing, class: "form-control", placeholder: "Lieferwert (Betrag)", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-8">
                            <p><i> <%= t('percentage_of_spareparts_in_whole_order') %></i></p>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :percentage_of_spareparts_in_whole_order, class: "form-control", placeholder: "Wert Ersatzteile in Prozent oder Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-10">
                            <i> <%= t('other_billed_items_in_contract') %></i>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="priceAdjustmentClause">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>
                <p><b><%= t('is_price_adjustment_clause_with_importer') %></b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_priceadjustmentclause" data-toggle="wizard-checkbox" onclick="priceAdjustmentClause()">
                        <%= check_box_tag "insurance[is_price_adjustment_clause_with_importer]", @insurance.is_price_adjustment_clause_with_importer ? @insurance.is_price_adjustment_clause_with_importer : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_priceadjustmentclause" data-toggle="wizard-checkbox" onclick="noPriceAdjustmentClause()">
                        <%= check_box_tag "insurance[is_price_adjustment_clause_with_importer]", @insurance.is_price_adjustment_clause_with_importer ? nil : @insurance.is_price_adjustment_clause_with_importer  %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<div id="yesNoPriceAdjustmentClause" style="display: none">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('explain_accounting_methods') %> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div> <%= form.text_area :explain_accounting_methods, class: "form-control" %> </div>
                </div>
                <br><br><br>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="multipleDeliveries">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>

                <p><b> <%= t('is_good_sent_in_multiple_deliveries') %> </b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_multipledeliveries" data-toggle="wizard-checkbox" onclick="multipleDeliveries()">
                        <%= check_box_tag "insurance[is_good_sent_in_multiple_deliveries]", @insurance.is_good_sent_in_multiple_deliveries ? @insurance.is_good_sent_in_multiple_deliveries : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_multipledeliveries" data-toggle="wizard-checkbox" onclick="noMultipleDeliveries()">
                        <%= check_box_tag "insurance[is_good_sent_in_multiple_deliveries]", @insurance.is_good_sent_in_multiple_deliveries ? nil : @insurance.is_good_sent_in_multiple_deliveries %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>
</div>

<div id="yesNoMultipleDeliveries" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <p> <%= t('delivery_or_performance_dates') %> </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <p><i><%= t('delivery_start') %>></i></p>
                <div> <%= form.date_field :delivery_start, id: "start_date", type: "date", class: "form-control" %> </div>
            </div>
            <div class="col-md-4">
                <p><i><%= t("delivery_end") %></i></p>
                <div> <%= form.date_field :delivery_end, id: "start_date", type: "date", class: "form-control" %> </div>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div id="certificateOfOrigin">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="form-group">
                    <br>
                    <p><b> <%= t('has_german_certificate_of_origin') %></b></p>

                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="yes_certificateoforigin" data-toggle="wizard-checkbox" onclick="yesCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin]", @insurance.has_german_certificate_of_origin ? @insurance.has_german_certificate_of_origin : nil %>

                            <div class="card portal-hover-effect">
                                <p>Ja</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="no_certificateoforigin" data-toggle="wizard-checkbox" onclick="noCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin]", @insurance.has_german_certificate_of_origin ? nil : @insurance.has_german_certificate_of_origin  %>
                            <div class="card portal-hover-effect">
                                <p>Nein</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="teil_certificateoforigin" data-toggle="wizard-checkbox" onclick="teilCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin_for_only_parts_of_good]", @insurance.has_german_certificate_of_origin_for_only_parts_of_good ? @insurance.has_german_certificate_of_origin_for_only_parts_of_good : nil %>

                            <div class="card portal-hover-effect">
                                <p><%= t('part_of_goods') %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>


<div id="noCertificateOfOrigin" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <p> <%= t('all_rawgoods_supplier_country') %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <%= form.select :all_rawgoods_supplier_country, options_for_select([t('please_select'), 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                        'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                        'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                        'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                        'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                        'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                        'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                        'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                        'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                        'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                        'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                        'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                        'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                        'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                        'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                        'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                        'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                        'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                        'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                        'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                        'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                        'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                        'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                        'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "form-control" %>
                </div>

                <div class="col-md-2">
                    <%= form.select :all_rawgoods_supplier_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: "form-control" %>
                </div>

                <div class="col-md-4 ">
                    <%= form.text_field :all_rawgoods_supplier_text, class: "form-control" %>
                </div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('why_all_foreign_rawgoods_necessary') %> </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <%= form.text_area :why_all_foreign_rawgoods_necessary, class: "form-control" %>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teilCertificateOfOrigin" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <p> <%= t('partly_rawgoods_supplier_country') %> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <%= form.select :partly_rawgoods_supplier_country, options_for_select([t('please_select'), 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                           'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                           'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                           'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                           'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                           'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                           'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                           'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                           'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                           'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                           'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                           'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                           'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                           'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                           'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                           'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                           'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                           'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                           'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                           'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                           'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                           'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                           'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                           'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                           'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                           'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                           'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                           'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "form-control" %>
                </div>

                <div class="col-md-2">
                    <%= form.select :partly_rawgoods_supplier_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: "form-control" %>
                </div>

                <div class="col-md-4 ">
                    <%= form.text_field :partly_rawgoods_supplier_text, class: "form-control" %>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('why_partly_foreign_rawgoods_necessary') %> </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <%= form.text_area :why_partly_foreign_rawgoods_necessary, class: "form-control" %>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="securityForBusiness">
    <div class="form-group">
        <div class="row">
            <br>
            <div class="col-md-10 col-md-offset-1">
                <p><b><%= t('is_security_present_for_transaction') %> </b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_securitybusinnesprovided" data-toggle="wizard-checkbox" onclick="securityBusinnesProvided()">
                        <%= check_box_tag "insurance[is_security_present_for_transaction]", @insurance.is_security_present_for_transaction ? @insurance.is_security_present_for_transaction : nil %>
                        <div class="card portal-hover-effect">
                            <p>Ja</p>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_securitybusinnesprovided" data-toggle="wizard-checkbox" onclick="noSecurityBusinnesProvided()">
                        <%= check_box_tag "insurance[is_security_present_for_transaction]", @insurance.is_security_present_for_transaction ? nil : @insurance.is_security_present_for_transaction %>
                        <div class="card portal-hover-effect">
                            <p>Nein</p>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="typeOfSecurity" style="display: none;">
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">

                <div class="col-md-8 col-md-offset-1">
                    <p> <%= t('security_type') %> </p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <%= form.select :security_type, options_for_select([[t('please_select'),"0"], ["Unbestätigtes Akkreditiv einer Bank","1"], ["Bestätigtes Akkreditiv","2"],
                                                                        ["Zahlungsgarantie einer Bank","3"], ["Zahlungsgarantie eines Unternehmens","4"],
                                                                        ["(eingetragener) Eigentumsvorbehalt (dingliche Sicherheit)","5"],
                                                                        ["Pfandrecht (dingliche Sicherheit)","6"], ["sonstige","7"]]), {}, id: "security_type", class: "form-control" %>
                </div>
                <div class="col-md-4">
                    <div> <%= form.text_field :security_type_name, class: "form-control", placeholder: "Bitte Name vergeben" %> </div>

                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('proportion_of_good_covered_by_security')  %>  </p>
                    <div> <%= form.text_field :proportion_of_good_covered_by_security, class: "form-control" %> </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> <%= t('when_security_received') %>  </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <%= form.select :when_security_received, options_for_select([[t('please_select'),"0"], ["Vor Fabrikationsbeginn","1"], ["Vor Liefer-/Leistungsbeginn","2"], ["Später","3"],
                                                                                 ["Anderer Termin","4"]]), {}, id: "when_security_received", class: "form-control" %>
                </div>
            </div>

            <div id='business' style='display:none;'>
                <br>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p> <%= t('when_security_received_later_exact_date') %></p>
                        <div> <%= form.text_field :when_security_received_later_exact_date, class: "form-control" %> </div>
                    </div>
                </div>
            </div>

            <div id='securityprovideradditionalinfo' style='display:none;'>
                <br>

                <div class="form-group">
                    <div class="row">
                        <br>
                        <div class="col-md-10 col-md-offset-1">
                            <p><b><%= t('has_significant_influence_on_security_provider') %> </b>
                            <p>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                                <div class="choice" name="yes_significantinfluencesecurityprovider" data-toggle="wizard-checkbox" onclick="explainSignificantInfluenceOnSecurityProvider()">
                                    <%= check_box_tag "insurance[has_significant_influence_on_security_provider]", @insurance.has_significant_influence_on_security_provider ? @insurance.has_significant_influence_on_security_provider : nil %>
                                    <div class="card portal-hover-effect">
                                        <p>Ja</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                                <div class="choice" name="no_significantinfluencesecurityprovider" data-toggle="wizard-checkbox" onclick="noSecurityBusinnesProvided()">
                                    <%= check_box_tag "insurance[has_significant_influence_on_security_provider]", @insurance.has_significant_influence_on_security_provider ? nil : @insurance.has_significant_influence_on_security_provider %>
                                    <div class="card portal-hover-effect">
                                        <p>Nein</p>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <br>
                </div>

                <div id='explainSignificantInfluenceOnSecurityProviderId' style='display:none;'>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p> <%= t('explain_exporter_influence_on_security_provider') %></p>
                            <div> <%= form.text_area :explain_exporter_influence_on_security_provider, class: "form-control" %> </div>
                        </div>
                    </div>
                </div>

                <br>

                <div class="form-group">
                    <div class="row">
                        <br>
                        <div class="col-md-10 col-md-offset-1">
                            <p><b><%= t('has_payment_experience_with_security_provider') %> </b>
                            <p>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                                <div class="choice" name="yes_securitybusinnesprovided" data-toggle="wizard-checkbox" onclick="explainPaymentExperienceWithSecurityProvider()">
                                    <%= check_box_tag "insurance[has_payment_experience_with_security_provider]", @insurance.has_payment_experience_with_security_provider ? @insurance.has_payment_experience_with_security_provider : nil %>
                                    <div class="card portal-hover-effect">
                                        <p>Ja</p>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                                <div class="choice" name="no_securitybusinnesprovided" data-toggle="wizard-checkbox">
                                    <%= check_box_tag "insurance[has_payment_experience_with_security_provider]", @insurance.has_payment_experience_with_security_provider ? nil : @insurance.has_payment_experience_with_security_provider %>
                                    <div class="card portal-hover-effect">
                                        <p>Nein</p>
                                    </div>
                                </div>
                            </div>
                            <br><br>
                        </div>
                    </div>
                    <br>
                </div>
                <div id='explainPaymentExperienceSecurityProviderId' style='display:none;'>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p> <%= t('explain_previous_payment_experience_with_security_provider') %></p>
                            <div> <%= form.text_area :explain_previous_payment_experience_with_security_provider, class: "form-control" %> </div>
                        </div>
                    </div>
                </div>

                <div id='securityProviderAddress'>
                    <br>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <p> <%= t('security_provider_address') %></p>
                            <div> <%= form.text_area :security_provider_address, class: "form-control" %> </div>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>
</div>

<script>
    $(document).ready(function(){
        $('#when_security_received').on("change", function() {
            if ( this.value == "3") {
                $("#business").show();
            }
            else {
                $("#business").hide();
            }
        });
    });

    $(document).ready(function(){
        $('#security_type').on("change", function() {
            if ( this.value == "0" || "1" || "2" || "3" || "4") {
                $("#securityprovideradditionalinfo").show();
            }
            else {
                $("#securityprovideradditionalinfo").hide();
            }
        });
    });

    function explainSignificantInfluenceOnSecurityProvider() {
        var x = document.getElementById("explainSignificantInfluenceOnSecurityProviderId");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function explainPaymentExperienceWithSecurityProvider() {
        var x = document.getElementById("explainPaymentExperienceSecurityProviderId");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }


</script>