<h4 class="info-text" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('business_heading') %> </h4>

<br>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b>Bitte beschreiben Sie Ihre Produkte und Leistungen</b></p>
            <%= form.text_area :describe_export_business, class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="form-group">
            <p><b>Handelt es sich bei Ihrer Ware um Investitionsgüter?</b></p>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="investmentgoods_yes" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_investment_good]", @insurance.is_investment_good ? @insurance.is_investment_good : nil %>
                    <div class="card circle card-hover-effect">
                        <i class="ti-check"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="investmentgoods_no" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_investment_good]", @insurance.is_investment_good ? nil : @insurance.is_investment_good %>
                    <div class="card circle card-hover-effect">
                        <i class="ti-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <p><b>Bitte helfen Sie uns nun, das Vorhaben gut zu verstehen</b></p>
        <div class="form-group">
            <p>Wofür benötigt Ihr Kunde die Maschinen/Güter/Anlagen bzw. die
                Dienstleistung? Handelt es sich bspw. um eine Ersatz- oder um eine
                Neuinvestition? Wenn Sie Leistungen (Montage, Schulungen vor Ort, etc.)
                erbringen, können Sie diese hier ebenfalls beschreiben.</p>
            <%= form.text_area :explain_why_importer_buying_good, class: 'form-control' %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-8 col-sm-offset-1">
        <div class="form-group">
            <p><b>Erbringen Sie auch Leistungen (Montage, Schulungen vor Ort etc.)?</b></p>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="exporteroffersservicingforgoods_yes" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_servicing_for_goods_offered]", @insurance.is_servicing_for_goods_offered ? @insurance.is_servicing_for_goods_offered : nil %>
                    <div class="card circle card-hover-effect">
                        <i class="ti-check"></i>
                    </div>
                </div>
            </div>

            <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                <div class="choice" name="exporteroffersservicingforgoods_no" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[is_servicing_for_goods_offered]", @insurance.is_servicing_for_goods_offered ? nil: @insurance.is_servicing_for_goods_offered  %>
                    <div class="card circle card-hover-effect">
                        <i class="ti-close"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b>Bitte ordnen Sie die von Ihnen zu liefernden Waren/Güter/Anlagen bzw.
                Dienstleistungen Ihrer Branche und der passenden Warenart zu.</b></p>

            <div class="row">
                <div class="col-sm-6">
                    <%= form.select :exported_goods_type, options_for_select(['Bitte auswählen', 'Bergbau, inkl. Verarbeitung', 'Erdöl- und Erdgasförderung inkl. Verarbeitung',
                                                                              'Chemie', 'Energie', 'Infrastruktur', 'Papier- , Holz-, Leder- und Textilindustrie',
                                                                              'Agrarsektor und Nahrungsmittelindustrie', 'Verarbeitende Industrie', 'Umwelttechnik',
                                                                              'Dienstleistungen'], @insurance.exported_goods_type ? @insurance.exported_goods_type : nil),
                                    {}, class: 'form-control' %>
                </div>
            </div>
        </div>
    </div>
</div>

<br>
<div class="row">
    <div class="col-sm-10 col-sm-offset-1">
        <div class="form-group">
            <p><b>Bitte beschreiben Sie Ihre Industrie genauer</b></p>
            <%= form.text_area :explain_good_industry_type, class: 'form-control', :input_html => {:rows => 20} %>
        </div>
    </div>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p><b>Liefern/Leisten Sie im Rahmen eines Gesamtprojekts zusammen mit anderen Unternehmen? </b></p>
        </div>
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="deliverwithothercompanies_yes" data-toggle="wizard-checkbox"> <!-- onclick="deliverWithOtherCompanies()" -->

                        <%= check_box_tag "insurance[is_delivered_part_of_consortium_with_other_companies]", @insurance.is_delivered_part_of_consortium_with_other_companies ? @insurance.is_delivered_part_of_consortium_with_other_companies : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="deliverwithothercompanies_no" data-toggle="wizard-checkbox"> <!-- onclick="notDeliverWithOtherCompanies()"> -->
                        <%= check_box_tag "insurance[is_delivered_part_of_consortium_with_other_companies]", @insurance.is_delivered_part_of_consortium_with_other_companies ? nil : @insurance.is_delivered_part_of_consortium_with_other_companies %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!--<div id="showHideDivJaWorkOtherCompanies" style="display: none;">-->
<!--    <br/>-->

<!--    <div class="appear">-->

<!--        <div class="row">-->
<!--            <div class="col-sm-10 col-sm-offset-1">-->
<!--                <br>-->
<!--                <div class="form-group">-->
<!--                    <p>Bitte beschreiben Sie das Gesamtprojekt detaillierter</p>-->
<%#= form.text_area :explain_complete_project, class: 'form-control' %>
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-sm-10 col-sm-offset-1">-->
<!--                <div class="form-group">-->
<!--                    <p>Wir tragen die Gesamtverantwortung für das-->
<!--                        Projekt</p>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4">-->
<%#= form.check_box :overall_responsibility_project_taken, :style => "width: 20px; height: 20px;" %>
<!--                            Ja-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-sm-10 col-sm-offset-1">-->
<!--                <div class="form-group">-->
<!--                    <p>Wie hoch ist das Gesamtprojektvolumen?</p>-->
<!--                    <div class="row">-->
<!--                        <div class="col-sm-4">-->
<%#= form.select :overall_project_volume_currency, options_for_select(["Euro", "Dollar"]), {}, class: 'form-control', prompt: "Currency..." %>
<!--                        </div>-->
<!--                        <div class="col-sm-6">-->
<%#= form.text_field :overall_project_volume, class: "form-control" %>
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="row">-->
<!--            <div class="col-sm-10 col-sm-offset-1">-->
<!--                <div class="form-group">-->
<!--                    <p> Bitte tragen Sie hier so detailliert wie möglich ein, wie das-->
<!--                        Gesamtprojekt finanziert ist. </p>-->
<!--                    <br>-->
<!--                    <p><i>Mittelverwendung</i></p>-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<%#= form.text_field :use_of_fund, class: "form-control", placeholder: "Fiktives Beispiel: Maschine \"x\"", prompt: "fiktives Beispiel: Maschine \"x\" " %>
<!--                        </div>-->

<!--                        <div class="col-md-2">-->
<%#= form.select :use_of_fund_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], {}, class: "form-control", prompt: "Währung..." %>
<!--                        </div>-->

<!--                        <div class="col-md-4 ">-->
<%#= form.text_field :amount_of_fund, class: "form-control", placeholder: "Betrag" %>
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br>-->

<!--                    <p><i>Mittelherkunft</i></p>-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-6">-->
<%#= form.text_field :source_of_fund, class: "form-control", placeholder: "z.B. \"ECA-Finanzierung\" " %>
<!--                        </div>-->

<!--                        <div class="col-md-2">-->
<%#= form.select :source_of_fund_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], {}, class: "form-control", prompt: "Währung..." %>
<!--                        </div>-->

<!--                        <div class="col-md-4 ">-->
<%#= form.text_field :source_of_fund_amount, class: "form-control", placeholder: "Betrag" %>
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div class="row">
    <div class="col-sm-11 col-sm-offset-1">
        <div class="form-group">
            <div class="row">
                <br>
                <div class="col-md-12">
                    <p><b>Betreffen Ihre Lieferungen bzw. Leistungen ein sensibles
                        Gebiet?</b></p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <p><i>Als sensible Gebiete gelten Nationalparks und andere durch
                        nationales oder internationales Recht geschützte Gebiete sowie
                        sensible Regionen von internationaler, nationaler oder
                        regionaler
                        Bedeutung.</i></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">

                    <div class="choice" name="sensitivearea_nein" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_doesnt_affects_sensitive_areas]", @insurance.delivery_doesnt_affects_sensitive_areas ? @insurance.delivery_doesnt_affects_sensitive_areas : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-layout-sidebar-none"></i>
                            <p>Nein</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_natural_reserves]", @insurance.delivery_affects_natural_reserves ? @insurance.delivery_affects_natural_reserves : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-shine"></i>
                            <p>Naturschutzgebiet</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">
                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_indigenous_people]", @insurance.delivery_affects_indigenous_people ? @insurance.delivery_affects_indigenous_people : nil %>

                        <div class="card card-checkboxes height-adjusted-normal card-hover-effect">
                            <i class="ti-user"></i>
                            <p>Bedeutung für indigene Völker</p>
                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">

                <div class="col-md-3 col-md-offset-2">

                    <div class="choice" name="sensitivearea" data-toggle="wizard-checkbox">

                        <%= check_box_tag "insurance[delivery_affects_cultural_heritage]", @insurance.delivery_affects_cultural_heritage ? @insurance.delivery_affects_cultural_heritage : nil %>

                        <div class="card card-checkboxes height-adjusted-normal-big card-hover-effect">
                            <i class="ti-star"></i>
                            <p> Archäologische oder kulturelle
                                <Bedeutung></Bedeutung>
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-md-offset-1">

                    <div class="choice" name="sensitivearea_sonstige" data-toggle="wizard-checkbox" , onclick="affectsOtherSpecial()">

                        <%= check_box_tag "insurance[delivery_affects_other]", @insurance.delivery_affects_other ? @insurance.delivery_affects_other : nil %>

                        <div class="card card-checkboxes height-adjusted-normal-big card-hover-effect">
                            <i class="ti-marker"></i>
                            <p>Sonstige</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="affectsOtherSpecialDiv" style="display: none;">

    <div class="appear">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <br>
                <div class="form-group">
                    <p>Bitte konkretisieren Sie, um was für ein sensibles Gebiet es sich
                        handelt
                        <%= form.text_field :explain_delivery_affects_other, class: "form-control" %>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <br>
                <p><b>Ist Ihr Export ausfuhrgenehmigungspflichtig?</b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="exportlicenserequired_yes" data-toggle="wizard-checkbox" onclick="exportLicenseRequired()">
                        <%= check_box_tag "insurance[is_export_licence_needed]", @insurance.is_export_licence_needed ? @insurance.is_export_licence_needed : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="exportlicenserequired_no" data-toggle="wizard-checkbox" onclick="noExportLicenseRequired()">
                        <%= check_box_tag "insurance[is_export_licence_needed]", @insurance.is_export_licence_needed ? nil : @insurance.is_export_licence_needed %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="exportLicenseRequirement" style="display: none;">
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><b>Aus welchen Vorschriften bzw. welchem Teil/Abschnitt der
                        Ausfuhrliste ergibt sich die Genehmigungspflicht? </b></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div> <%= form.text_area :which_regulations_enforcing_exportlicense_requirement, class: "form-control" %> </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p> Die Ausfuhrgenehmigung .. </p>
                </div>
                <div class="col-md-3">
                    <%= form.select :export_license_status, options_for_select(["Bitte auswählen", "... wurde erteilt.", "... ist beantragt.", "... ist noch zu beantragen."]), {}, class: 'form-control' %>
                </div>
            </div>
        </div>
        <br>
    </div>
    <br>
</div>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-sm-8 col-sm-offset-1">
            <div class="form-group">
                <p><b>Liefern Sie gebrauchte Ware? </b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_secondhandgoods" data-toggle="wizard-checkbox"> <!-- onclick="secondHandGoods()"> -->
                        <%= check_box_tag "insurance[are_secondhand_goods_delivered]", @insurance.are_secondhand_goods_delivered ? @insurance.are_secondhand_goods_delivered : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_secondhandgoods" data-toggle="wizard-checkbox"> <!-- onclick="noSecondHandGoods()"> -->
                        <%= check_box_tag "insurance[are_secondhand_goods_delivered]", @insurance.are_secondhand_goods_delivered ? nil : @insurance.are_secondhand_goods_delivered %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<!--<div id="deliverSecondHandGoods" style="display: none;">-->
<!--    <div class="appear">-->
<!--        <div class="form-group">-->
<!--            <br>-->
<!--            <div class="row">-->
<!--                <div class="col-md-10 col-md-offset-1">-->
<!--                    <p>Wann wurde die Ware ursprünglich gefertigt und wie lang ist die-->
<!--                        Restlebensdauer?</p>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row">-->
<!--                <br>-->
<!--                <div class="col-md-4 col-md-offset-1">-->
<!--                    <div> <%#= form.text_field :product_original_date_of_manifacture, class: "form-control", placeholder: "Jahr der Fertigung", :onkeypress => "return isNumberInputValidation(event)" %> </div>-->
<!--                </div>-->
<!--                <div class="col-md-4 ">-->
<!--                    <div> <%#= form.text_field :product_remaining_life, class: "form-control", placeholder: "Restlebensdauer in Jahren", :onkeypress => "return isNumberInputValidation(event)" %> </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <br>-->

<!--            <div id="outdatedGoods">-->
<!--                <div class="form-group">-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-10 col-md-offset-1">-->
<!--                            <br>-->
<!--                            <p> Wird die Ware vor dem Weiterverkauf überholt? </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-3 col-md-offset-2">-->
<%#= form.check_box :yes_good_overhauled_before_reselling, id: "yes_outdated_goods", :style => "width: 20px; height: 20px;" %>
<!--                            Ja-->
<!--                        </div>-->
<!--                        <div class="col-md-3">-->
<%#= form.check_box :no_good_arent_overhauled_before_reselling, id: "no_outdated_goods", :style => "width: 20px; height: 20px;" %>
<!--                            Nein-->
<!--                        </div>-->
<!--                    </div>-->

<!--                    <br><br>-->

<!--                    <div class="row">-->
<!--                        <div class="col-md-4 col-md-offset-1">-->
<!--                            <p> Wo wird die Ware überholt? </p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <br>-->
<!--                    <div class="row">-->
<!--                        <div class="col-md-4 col-md-offset-1">-->
<%#= form.select :goods_overhauled_location, options_for_select(["In Deuschland", "im Ausland", "sowohl als auch"]), {}, class: "form-control" %>
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <br>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>
                <p><b>Haben bereits alle Parteien den Vertrag für das Exportgeschäft
                    unterzeichnet?</b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_congractsignedallparties" data-toggle="wizard-checkbox" onclick="contractSignedAllParties()">
                        <%= check_box_tag "insurance[is_contract_already_signed_between_parties]", @insurance.is_contract_already_signed_between_parties ? @insurance.is_contract_already_signed_between_parties : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_congractsignedallparties" data-toggle="wizard-checkbox" onclick="noContractSignedAllParties()">
                        <%= check_box_tag "insurance[is_contract_already_signed_between_parties]", @insurance.is_contract_already_signed_between_parties ? nil : @insurance.is_contract_already_signed_between_parties %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="contractSigned" style="display: none; ">
    <div class="appear">
        <div class="form-group">
            <br>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p>Bitte geben Sie das Abschlussdatum des Vertrags und optional eine
                        interne Referenz an</p>
                </div>
            </div>

            <div class="row">
                <br>
                <div class="col-md-2 col-md-offset-1">
                    <div> <%= form.date_field :contract_signing_date, id: "start_date", type: "date", class: "datepicker" %> </div>
                </div>

                <div class="col-md-4 col-md-offset-1 ">
                    <div> <%= form.text_field :exporter_internal_contract_id, class: "form-control", placeholder: "Ihre interne Vertragskennung" %> </div>
                    <br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div id="specialContractStructure">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">

                <p><b>Vereinbaren Sie mit Ihrem Vertragspartner eine besondere Vertragsstruktur? </b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_specialcontractstructure" data-toggle="wizard-checkbox"> <!--onclick="specialContractStructure()"> -->
                        <%= check_box_tag "insurance[has_special_contract_structure]", @insurance.has_special_contract_structure ? @insurance.has_special_contract_structure : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_specialcontractstructure" data-toggle="wizard-checkbox"> <!-- onclick="noSpecialContractStructure()"> -->
                        <%= check_box_tag "insurance[has_special_contract_structure]", @insurance.has_special_contract_structure ? nil : @insurance.has_special_contract_structure %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>

<div id="contractAmount">

    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <p><b>Bitte geben Sie den Auftragswert an. </b></p>
                    <p><i>Vertragswährung </i></p>

                    <div class="row">
                        <div class="col-md-4 ">
                            <%= form.select :contract_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-4 ">
                            <div> <%= form.text_field :contract_value, class: "form-control", placeholder: "Auftragswert", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>
                    <div class="row">
                        <br>
                        <div class="col-md-8">
                            <p><i>Wie hoch ist der Lieferwert der Güter exkl. anderer Leistungen (Montagen, etc.)</i>
                            </p>
                            <div> <%= form.text_field :total_delivery_value, class: "form-control", placeholder: "Lieferwert (Betrag)", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-8">
                            <p><i> Wie hoch ist der Anteil der Ersatzteile am Lieferwert? </i></p>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :percentage_of_spareparts_in_whole_order, class: "form-control", placeholder: "Wert Ersatzteile in Prozent oder Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                    </div>

                    <div class="row">
                        <br>
                        <div class="col-md-8">
                            <i> Wenn weitere Bestandteile offen gegenüber Ihrem Kunden ausgewiesen werden (bspw.
                                Montagen, Trainings, etc.), tragen Sie diese bitte hier ein.</i>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: "Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: "Beschreibung" %> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: "Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: "Beschreibung" %> </div>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-3">
                            <%= form.select :other_billed_items_in_contract_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: 'form-control' %>
                        </div>
                        <div class="col-md-3">
                            <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "form-control", placeholder: "Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                        </div>
                        <div class="col-md-6">
                            <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: "Beschreibung" %> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="priceAdjustmentClause">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>
                <p><b>Haben Sie mit Ihrem Kunden eine Preisgleitklausel vereinbart? </b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_priceadjustmentclause" data-toggle="wizard-checkbox" onclick="priceAdjustmentClause()">
                        <%= check_box_tag "insurance[is_price_adjustment_clause_with_importer]", @insurance.is_price_adjustment_clause_with_importer ? @insurance.is_price_adjustment_clause_with_importer : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_priceadjustmentclause" data-toggle="wizard-checkbox" onclick="noPriceAdjustmentClause()">
                        <%= check_box_tag "insurance[is_price_adjustment_clause_with_importer]", @insurance.is_price_adjustment_clause_with_importer ? nil : @insurance.is_price_adjustment_clause_with_importer  %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>

<div id="yesNoPriceAdjustmentClause" style="display: none">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> Bitte beschreiben Sie die Details zur Verrechnungsmethode
                        (Prozent- oder Betragsverfahren). </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <div> <%= form.text_area :explain_accounting_methods, class: "form-control" %> </div>
                </div>
                <br><br><br>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="multipleDeliveries">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="form-group">
                <br>

                <p><b>Versenden Sie Ihre Waren/Güter/Anlagen in mehreren
                    Lieferungen? </b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_multipledeliveries" data-toggle="wizard-checkbox" onclick="multipleDeliveries()">
                        <%= check_box_tag "insurance[is_good_sent_in_multiple_deliveries]", @insurance.is_good_sent_in_multiple_deliveries ? @insurance.is_good_sent_in_multiple_deliveries : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_multipledeliveries" data-toggle="wizard-checkbox" onclick="noMultipleDeliveries()">
                        <%= check_box_tag "insurance[is_good_sent_in_multiple_deliveries]", @insurance.is_good_sent_in_multiple_deliveries ? nil : @insurance.is_good_sent_in_multiple_deliveries %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>

            </div>
            <br><br>
        </div>
    </div>
</div>

<div id="yesNoMultipleDeliveries" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <p> Bitte teilen Sie uns die Liefer- und ggf. Leistungstermine Ihres Exportgeschäftes mit.
                </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <p><i>Lieferbeginn</i></p>
                <div> <%= form.date_field :delivery_start, id: "start_date", type: "date", class: "form-control" %> </div>
            </div>
            <div class="col-md-4">
                <p><i>Lieferende</i></p>
                <div> <%= form.date_field :delivery_end, id: "start_date", type: "date", class: "form-control" %> </div>
            </div>
        </div>
        <br>
        <div class="row">

            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <div> <%= form.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
            </div>
            <div class="col-md-4">
                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                <br>
            </div>
        </div>
    </div>
</div>

<div id="certificateOfOrigin">
    <div class="form-group">
        <div class="row">
            <div class="col-md-12 col-md-offset-1">
                <div class="form-group">
                    <br>
                    <p><b>Bekommen Sie für die zu liefernde Ware ein deutsches Warenursprungszeugnis? </b></p>

                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="yes_certificateoforigin" data-toggle="wizard-checkbox" onclick="yesCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin]", @insurance.has_german_certificate_of_origin ? @insurance.has_german_certificate_of_origin : nil %>

                            <div class="card circle card-hover-effect">
                                <i class="ti-check"></i>
                                <p>Ja</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="no_certificateoforigin" data-toggle="wizard-checkbox" onclick="noCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin]", @insurance.has_german_certificate_of_origin ? nil : @insurance.has_german_certificate_of_origin  %>
                            <div class="card circle card-hover-effect">
                                <i class="ti-close"></i>
                                <p>Nein</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <div class="choice" name="teil_certificateoforigin" data-toggle="wizard-checkbox" onclick="teilCertificateOfOrigin()">

                            <%= check_box_tag "insurance[has_german_certificate_of_origin_for_only_parts_of_good]", @insurance.has_german_certificate_of_origin_for_only_parts_of_good ? @insurance.has_german_certificate_of_origin_for_only_parts_of_good : nil %>

                            <div class="card circle card-hover-effect">
                                <i class="ti-star"></i>
                                <p> für Teile der Ware</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<br><br>


<div id="noCertificateOfOrigin" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <p> Bitte geben Sie die Zulieferungen aus dem Ausland an.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <%= form.select :all_rawgoods_supplier_country, options_for_select(['Bitte auswählen', 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                        'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                        'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                        'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                        'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                        'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                        'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                        'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                        'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                        'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                        'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                        'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                        'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                        'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                        'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                        'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                        'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                        'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                        'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                        'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                        'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                        'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                        'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                        'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "form-control" %>
                </div>

                <div class="col-md-2">
                    <%= form.select :all_rawgoods_supplier_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: "form-control" %>
                </div>

                <div class="col-md-4 ">
                    <%= form.text_field :all_rawgoods_supplier_text, class: "form-control" %>
                </div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> Bitte erläutern Sie, warum diese Zulieferungen aus dem Ausland
                        notwendig sind. </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <%= form.text_area :why_all_foreign_rawgoods_necessary, class: "form-control" %>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="teilCertificateOfOrigin" style="display: none;">
    <br>
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <p> Bitte geben Sie die Zulieferungen aus dem Ausland an. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-1">
                    <%= form.select :partly_rawgoods_supplier_country, options_for_select(['Bitte auswählen', 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                           'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                           'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                           'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                           'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                           'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                           'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                           'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                           'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                           'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                           'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                           'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                           'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                           'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                           'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                           'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                           'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                           'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                           'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                           'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                           'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                           'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                           'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                           'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                           'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                           'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                           'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                           'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "form-control" %>
                </div>

                <div class="col-md-2">
                    <%= form.select :partly_rawgoods_supplier_currency, options_for_select(["Bitte auswählen", "Euro", "Dollar"]), {}, class: "form-control" %>
                </div>

                <div class="col-md-4 ">
                    <%= form.text_field :partly_rawgoods_supplier_text, class: "form-control" %>
                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> Bitte erläutern Sie, warum diese Zulieferungen aus dem Ausland
                        notwendig sind. </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <%= form.text_area :why_partly_foreign_rawgoods_necessary, class: "form-control" %>
                    <br><br>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="securityForBusiness">
    <div class="form-group">
        <div class="row">
            <br>
            <div class="col-md-8 col-md-offset-1">
                <p><b>Sind für Ihr Geschäft Sicherheiten (bspw. Akkreditiv, Zahlungsgarantien, etc.) vorgesehen? </b>
                <p>
                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="yes_securitybusinnesprovided" data-toggle="wizard-checkbox" onclick="securityBusinnesProvided()">
                        <%= check_box_tag "insurance[is_security_present_for_transaction]", @insurance.is_security_present_for_transaction ? @insurance.is_security_present_for_transaction : nil %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice" name="no_securitybusinnesprovided" data-toggle="wizard-checkbox" onclick="noSecurityBusinnesProvided()">
                        <%= check_box_tag "insurance[is_security_present_for_transaction]", @insurance.is_security_present_for_transaction ? nil : @insurance.is_security_present_for_transaction %>
                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>
        <br>
    </div>
</div>

<div id="typeOfSecurity" style="display: none;">
    <div class="appear">
        <br>
        <div class="form-group">
            <div class="row">

                <div class="col-md-8 col-md-offset-1">
                    <p> Welche Art von Sicherheiten? </p>
                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <%= form.select :security_type, options_for_select(["Bitte auswählen", "Unbestätigtes Akkreditiv einer Bank", "Bestätigtes Akkreditiv", "Zahlungsgarantie einer Bank",
                                                                        "Zahlungsgarantie eines Unternehmens", "(eingetragener) Eigentumsvorbehalt (dingliche Sicherheit)",
                                                                        "Pfandrecht (dingliche Sicherheit)", "sonstige"]), {}, class: "form-control" %>
                </div>
                <div class="col-md-4">
                    <div> <%= form.text_field :security_type_name, class: "form-control", placeholder: "Bitte Name vergeben" %> </div>

                </div>
            </div>
            <br>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> Welchen Anteil des Auftragswertes wird die Sicherheit umfassen?
                        (Zahlungsgarantie einer Bank-1) </p>
                    <div> <%= form.text_area :proportion_of_good_covered_by_security, class: "form-control" %> </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p> Wann werden Sie die Sicherheiten erhalten? (unbestätigtes
                        Akkreditiv einer Bank-1) </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-1">
                    <%= form.select :when_security_received, options_for_select(["Bitte auswählen", "Vor Fabrikationsbeginn", "Vor Liefer-/Leistungsbeginn", "Später",
                                                                                 "Anderer Termin"]), {}, class: "form-control" %>
                </div>
            </div>
            <br><br>
        </div>
    </div>
</div>