<div class="form-progress">
    <div class="container">
        <div class="col s12 m12">
            <ul class="progressbar">
                <li tab_index="1" class="active"><span class="dot"></span>Unternehmen</li>
                <li tab_index="2"><span class="dot hidden"></span>Kunde</li>
                <li tab_index="3"><span class="dot hidden"></span>Geschäft</li>
                <li tab_index="4"><span class="dot hidden"></span>Zahlung & Finanzierung</li>
                <li tab_index="5"><span class="dot hidden"></span>Abschluss</li>
            </ul>
        </div>
    </div>
</div>
<div class="handex-form-container">
    <div class="container">
        <div class="section">
            <%= form_for(@insurance, local: true, html: {multipart: true}, id: "export-application-portal") do |form| %>

                <% if insurance.errors.any? %>
                    <div id="error_explanation">
                        <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from
                            being saved:</h2>
                        <ul>
                            <% insurance.errors.full_messages.each do |message| %>
                                <li><%= message %></li>
                            <% end %>
                        </ul>
                    </div>
                <% end %>

                <div class="form-section z-depth-1">

                    <%= render "insurances/steps/company_information.html.erb", form: form %>

                    <%= render "insurances/steps/customer_information.html.erb", form: form %>

                    <%= render "insurances/steps/business_information.html.erb", form: form %>

                    <%= render "insurances/steps/payment_financial_information.html.erb", form: form %>

                    <%= render "insurances/steps/conclusion.html.erb", form: form %>

                </div>

            <% end %>

        </div>
    </div>
</div>

<!--  Scripts-->
<script type="text/javascript">

    //disabling ENTER key (AscII: 13) on our form because enter was submitting application
    jQuery(function($) { // DOM ready

        $('form').on('keydown', function(e) {
            if (e.which === 13 && !$(e.target).is('textarea')) {
                e.preventDefault();
                console.log("ENTER-KEY PREVENTED ON NON-TEXTAREA ELEMENTS");
            }
        });
    });

    $(document).ready(function () {
        $('.datepicker').datepicker();
    });

    function changeTabs(current_tab_index) {
        $('.tab').hide();
        $('.step_' + current_tab_index).show();
    }

    function setActive(current_tab_index) {
        let i;
        for (i = 1; i <= current_tab_index; i++) {
            $('li[tab_index="' + i + '"]').addClass('active');
        }
        $('li .dot').addClass('hidden');
        $('li[tab_index="' + current_tab_index + '"] span').removeClass("hidden");
    }

    $('.progressbar li, .next').click(function function_name(argument) {
        setActive($(this).attr('tab_index'));
        changeTabs($(this).attr('tab_index'));
        $(this).addClass('active');
    });

    function customerCountsInterest() {
        var x = document.getElementById("yesCustomerCountInterest");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.is_interest_charged_to_importer').addClass('active-btn');
        }
        $('.no.yes-no-btns.is_interest_charged_to_importer').removeClass('active-btn');
        $('.is_interest_charged_to_importer').addClass('dialog_background');
    }

    function noCustomerCountsInterest() {
        var x = document.getElementById("yesCustomerCountInterest");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.is_interest_charged_to_importer').removeClass('dialog_background');
        $('.no.yes-no-btns.is_interest_charged_to_importer').addClass('active-btn');
        $('.yes.yes-no-btns.is_interest_charged_to_importer').removeClass('active-btn');
    }


    function kurzFristigTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");

        if (x.style.display === "none") {
            $("[name='kurzfristigtermofpayment']").addClass("active_selection_card");
            $("[name='mitteltermofpayment']").removeClass("active_selection_card");
            $("[name='sonstigekurzfristigtermofpayment']").removeClass("active_selection_card");

            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        }
    }

    function mittelTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");
        if (y.style.display === "none") {
            $("[name='kurzfristigtermofpayment']").removeClass("active_selection_card");
            $("[name='mitteltermofpayment']").addClass("active_selection_card");
            $("[name='sonstigekurzfristigtermofpayment']").removeClass("active_selection_card");
            y.class = "active";
            y.style.display = "block";
            z.style.display = "none";
            x.style.display = "none";
        }
    }

    function sonstigeKurzFristigTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");

        if (z.style.display === "none") {
            $("[name='kurzfristigtermofpayment']").removeClass("active_selection_card");
            $("[name='mitteltermofpayment']").removeClass("active_selection_card");
            $("[name='sonstigekurzfristigtermofpayment']").addClass("active_selection_card");
            z.style.display = "block";
            x.style.display = "none";
            y.style.display = "none";
        }
    }

    function previouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        var y = document.getElementById("selfDeclaration");

        if (x.style.display === "block") {
            x.style.display = "none";
        }
        if (y.style.display === "block") {
            y.style.display = "none";
        }
        $('.has_previously_used_hermes_cover').removeClass('dialog_background');
        $('.yes.yes-no-btns.has_previously_used_hermes_cover').addClass('active-btn');
        $('.no.yes-no-btns.has_previously_used_hermes_cover').removeClass('active-btn');
    }

    function noPreviouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        var y = document.getElementById("selfDeclaration");

        if (x.style.display === "none") {
            x.style.display = "block";
        }

        if (y.style.display === "none") {
            y.style.display = "block";
        }

        $('.yes.yes-no-btns.has_previously_used_hermes_cover').removeClass('active-btn');
        $('.no.yes-no-btns.has_previously_used_hermes_cover').addClass('active-btn');
        $('.has_previously_used_hermes_cover').addClass('dialog_background');
    }

    function germanCertificateOfOrigin() {
        var x = document.getElementById("noGermanCertificateOfOriginId");
        var y = document.getElementById("partlyGermanCertificateOfOrigin");

        if (x.style.display === "block") {
            x.style.display = "none";
        }
        if (y.style.display === "block") {
            y.style.display = "none";
        }
        $('.yes.yes-no-btns.has_german_certificate_of_origin').addClass('active-btn');
        $('.no.yes-no-btns.has_german_certificate_of_origin').removeClass('active-btn');
        $('.partly.yes-no-btns.has_german_certificate_of_origin_for_only_parts_of_good').removeClass('active-btn');
        $('.has_german_certificate_of_origin').removeClass('dialog_background');
    }

    function noGermanCertificateOfOrigin() {
        var x = document.getElementById("noGermanCertificateOfOriginId");
        var y = document.getElementById("partlyGermanCertificateOfOrigin");

        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (y.style.display === "block") {
            y.style.display = "none";
        }
        $('.no.yes-no-btns.has_german_certificate_of_origin').addClass('active-btn');
        $('.yes.yes-no-btns.has_german_certificate_of_origin').removeClass('active-btn');
        $('.partly.yes-no-btns.has_german_certificate_of_origin_for_only_parts_of_good').removeClass('active-btn');
        $('.has_german_certificate_of_origin').addClass('dialog_background');
    }

    function partlyGermanCertificateOfOrigin() {
        var x = document.getElementById("partlyGermanCertificateOfOrigin");
        var y = document.getElementById("noGermanCertificateOfOriginId");

        if (x.style.display === "none") {
            x.style.display = "block";
        }

        if (y.style.display === "block") {
            y.style.display = "none";
        }

        $('.yes.yes-no-btns.has_german_certificate_of_origin').removeClass('active-btn');
        $('.no.yes-no-btns.has_german_certificate_of_origin').removeClass('active-btn');
        $('.partly.yes-no-btns.has_german_certificate_of_origin_for_only_parts_of_good').addClass('active-btn');
        $('.has_german_certificate_of_origin').addClass('dialog_background');
    }

    function goodOverhauled() {
        var x = document.getElementById("goodsOverhauled");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.are_goods_overhauled').addClass('active-btn');
        }
        $('.no.yes-no-btns.are_goods_overhauled').removeClass('active-btn');
        $('.are_goods_overhauled').addClass('dialog_background');
    }

    function noGoodsOverhauled() {
        var x = document.getElementById("goodsOverhauled");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.are_goods_overhauled').removeClass('dialog_background');
        $('.no.yes-no-btns.are_goods_overhauled').addClass('active-btn');
        $('.yes.yes-no-btns.are_goods_overhauled').removeClass('active-btn');
    }

    function incoTerms() {
        var x = document.getElementById("incotermsAgreed");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noIncoTerms() {
        var x = document.getElementById("incotermsAgreed");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function exporterExternalRatingFunction() {
        var x = document.getElementById("exporterExternalRating");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.exporter_external_rating_available').addClass('active-btn');
        }
        $('.no.yes-no-btns.exporter_external_rating_available').removeClass('active-btn');
        $('.exporter_external_rating_available').addClass('dialog_background');
    }

    function noExporterExternalRatingFunction() {
        var x = document.getElementById("exporterExternalRating");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.exporter_external_rating_available').removeClass('dialog_background');
        $('.no.yes-no-btns.exporter_external_rating_available').addClass('active-btn');
        $('.yes.yes-no-btns.exporter_external_rating_available').removeClass('active-btn');
    }

    function importerExternalRatingFunction() {
        var x = document.getElementById("importerExternalRating");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.importer_external_rating_available').addClass('active-btn');
        }
        $('.no.yes-no-btns.importer_external_rating_available').removeClass('active-btn');
        $('.importer_external_rating_available').addClass('dialog_background');
    }

    function noImporterExternalRatingFunction() {
        var x = document.getElementById("importerExternalRating");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.importer_external_rating_available').removeClass('dialog_background');
        $('.no.yes-no-btns.importer_external_rating_available').addClass('active-btn');
        $('.yes.yes-no-btns.importer_external_rating_available').removeClass('active-btn');
    }

    function controlledByMotherCompany() {
        $('.yes.yes-no-btns.is_company_controlled_by_mother_company').addClass('active-btn');
        $('.no.yes-no-btns.is_company_controlled_by_mother_company').removeClass('active-btn');
    }

    function notControlledByMotherCompany() {
        $('.no.yes-no-btns.is_company_controlled_by_mother_company').addClass('active-btn');
        $('.yes.yes-no-btns.is_company_controlled_by_mother_company').removeClass('active-btn');
    }

    function significantInfluenceOnImporter() {
        var x = document.getElementById("significantInfluenceImporter");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.has_significant_influence_on_importer_management').addClass('active-btn');
        }
        $('.no.yes-no-btns.has_significant_influence_on_importer_management').removeClass('active-btn');
        $('.has_significant_influence_on_importer_management').addClass('dialog_background');
    }

    function noSignificantInfluenceOnImporter() {
        var x = document.getElementById("significantInfluenceImporter");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.has_significant_influence_on_importer_management').removeClass('dialog_background');
        $('.no.yes-no-btns.has_significant_influence_on_importer_management').addClass('active-btn');
        $('.yes.yes-no-btns.has_significant_influence_on_importer_management').removeClass('active-btn');
    }

    function investmentGoods() {
        $('.yes.yes-no-btns.is_investment_good').addClass('active-btn');
        $('.no.yes-no-btns.is_investment_good').removeClass('active-btn');

        var x = document.getElementById("exportGoodsType");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function noInvestmentGoods() {
        $('.no.yes-no-btns.is_investment_good').addClass('active-btn');
        $('.yes.yes-no-btns.is_investment_good').removeClass('active-btn');

        var x = document.getElementById("exportGoodsType");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
    }

    function deliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.is_delivered_at_this_address').removeClass('dialog_background');
        $('.yes.yes-no-btns.is_delivered_at_this_address').addClass('active-btn');
        $('.no.yes-no-btns.is_delivered_at_this_address').removeClass('active-btn');
    }

    function noDeliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.no.yes-no-btns.is_delivered_at_this_address').addClass('active-btn');
        }

        $('.yes.yes-no-btns.is_delivered_at_this_address').removeClass('active-btn');
        $('.is_delivered_at_this_address').addClass('dialog_background');
    }

    function fixedInterestRate() {
        var x = document.getElementById("yesFixedInterestRate");
        var y = document.getElementById("noFixedInterestRate");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        }
        $('.yes.yes-no-btns.fixed_interest_rate').addClass('active-btn');
        $('.no.yes-no-btns.fixed_interest_rate').removeClass('active-btn');
    }

    function noFixedInterestRate() {
        var x = document.getElementById("yesFixedInterestRate");
        var y = document.getElementById("noFixedInterestRate");

        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
        }

        $('.no.yes-no-btns.fixed_interest_rate').addClass('active-btn');
        $('.yes.yes-no-btns.fixed_interest_rate').removeClass('active-btn');
    }

    function degressiveInterestRate() {
        var x = document.getElementById("noDegressiveInterestRate");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.degressive_interest_rate').addClass('active-btn');
        }
        $('.no.yes-no-btns.degressive_interest_rate').removeClass('active-btn');
    }

    function noDegressiveInterestRate() {
        var x = document.getElementById("noDegressiveInterestRate");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.no.yes-no-btns.degressive_interest_rate').addClass('active-btn');
        $('.yes.yes-no-btns.degressive_interest_rate').removeClass('active-btn');
    }

    function privateSector() {
        $('.yes.yes-no-btns.is_exporting_to_private_sector').addClass('active-btn');
        $('.no.yes-no-btns.is_exporting_to_private_sector').removeClass('active-btn');
    }

    function noPrivateSector() {
        $('.no.yes-no-btns.is_exporting_to_private_sector').addClass('active-btn');
        $('.yes.yes-no-btns.is_exporting_to_private_sector').removeClass('active-btn');
    }

    function paymentExperienceWithImporter() {
        $('.yes.yes-no-btns.has_payment_experience_with_importer').addClass('active-btn');
        $('.no.yes-no-btns.has_payment_experience_with_importer').removeClass('active-btn');
    }

    function noPaymentExperienceWithImporter() {
        $('.yes.yes-no-btns.has_payment_experience_with_importer').removeClass('active-btn');
        $('.no.yes-no-btns.has_payment_experience_with_importer').addClass('active-btn');
    }

    function servicingForGoods() {
        $('#exporterOffersServicingForGoods').show();
        $('.yes.yes-no-btns.exporter_offers_servicing_for_goods').addClass('active-btn');
        $('.no.yes-no-btns.exporter_offers_servicing_for_goods').removeClass('active-btn');
    }

    function noServicingForGoods() {
        $('#exporterOffersServicingForGoods').hide();
        $('.no.yes-no-btns.exporter_offers_servicing_for_goods').addClass('active-btn');
        $('.yes.yes-no-btns.exporter_offers_servicing_for_goods').removeClass('active-btn');
    }

    function deliveredPartOfConsortiumWithOtherCompanies() {
        var x = document.getElementById("deliveredPartOfConsortiumWithOtherCompanies");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.is_delivered_part_of_consortium_with_other_companies').addClass('active-btn');
        }
        $('.no.yes-no-btns.is_delivered_part_of_consortium_with_other_companies').removeClass('active-btn');
        $('.is_delivered_part_of_consortium_with_other_companies').addClass('dialog_background');
    }

    function notDeliveredPartOfConsortiumWithOtherCompanies() {
        var x = document.getElementById("deliveredPartOfConsortiumWithOtherCompanies");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.is_delivered_part_of_consortium_with_other_companies').removeClass('dialog_background');
        $('.no.yes-no-btns.is_delivered_part_of_consortium_with_other_companies').addClass('active-btn');
        $('.yes.yes-no-btns.is_delivered_part_of_consortium_with_other_companies').removeClass('active-btn');
    }

    function deliveryAffectsSensitiveArea() {
        var x = document.getElementById("deliveryAffectsSensitiveArea");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.does_delivery_affect_sensitive_areas').addClass('active-btn');
        }
        $('.no.yes-no-btns.does_delivery_affect_sensitive_areas').removeClass('active-btn');
        $('.does_delivery_affect_sensitive_areas').addClass('dialog_background');
    }

    function deliveryDoesNotAffectsSensitiveArea() {
        var x = document.getElementById("deliveryAffectsSensitiveArea");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.does_delivery_affect_sensitive_areas').removeClass('dialog_background');
        $('.no.yes-no-btns.does_delivery_affect_sensitive_areas').addClass('active-btn');
        $('.yes.yes-no-btns.does_delivery_affect_sensitive_areas').removeClass('active-btn');
    }

    function exportLicenceNeeded() {
        var x = document.getElementById("originLicense");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.is_export_licence_needed').addClass('active-btn');
        }
        $('.no.yes-no-btns.is_export_licence_needed').removeClass('active-btn');
        $('.is_export_licence_needed').addClass('dialog_background');
    }

    function noExportLicenceNeeded() {
        var x = document.getElementById("originLicense");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.is_export_licence_needed').removeClass('dialog_background');
        $('.no.yes-no-btns.is_export_licence_needed').addClass('active-btn');
        $('.yes.yes-no-btns.is_export_licence_needed').removeClass('active-btn');
    }

    function isFullyResponsibleForProject() {
        $('.yes.yes-no-btns.is_fully_responsible_for_project').addClass('active-btn');
        $('.no.yes-no-btns.is_fully_responsible_for_project').removeClass('active-btn');
    }

    function isNotFullyResponsibleForProject() {
        $('.no.yes-no-btns.is_fully_responsible_for_project').addClass('active-btn');
        $('.yes.yes-no-btns.is_fully_responsible_for_project').removeClass('active-btn');
    }

    function deliverySecondHandGoods() {
        var x = document.getElementById("deliverySecondHandGoods");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.are_secondhand_goods_delivered').addClass('active-btn');
        }
        $('.no.yes-no-btns.are_secondhand_goods_delivered').removeClass('active-btn');
        $('.are_secondhand_goods_delivered').addClass('dialog_background');
    }

    function noDeliverySecondHandGoods() {
        var x = document.getElementById("deliverySecondHandGoods");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.are_secondhand_goods_delivered').removeClass('dialog_background');
        $('.no.yes-no-btns.are_secondhand_goods_delivered').addClass('active-btn');
        $('.yes.yes-no-btns.are_secondhand_goods_delivered').removeClass('active-btn');
    }

    function contractAlreadySignedBetweenParties() {
        var x = document.getElementById("contractSignedBetweenParties");
        var y = document.getElementById("noContractSignedBetweenParties");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            $('.yes.yes-no-btns.is_contract_already_signed_between_parties').addClass('active-btn');
        }
        $('.no.yes-no-btns.is_contract_already_signed_between_parties').removeClass('active-btn');
        $('.is_contract_already_signed_between_parties').addClass('dialog_background');
    }

    function noContractAlreadySignedBetweenParties() {
        var x = document.getElementById("contractSignedBetweenParties");
        var y = document.getElementById("noContractSignedBetweenParties");

        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
            $('.no.yes-no-btns.is_contract_already_signed_between_parties').addClass('active-btn');
        }
        $('.is_contract_already_signed_between_parties').addClass('dialog_background');
        $('.yes.yes-no-btns.is_contract_already_signed_between_parties').removeClass('active-btn');
    }

    function partInTender() {
        var x = document.getElementById("partInTender");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.taking_part_in_tender').addClass('active-btn');
        }
        $('.no.yes-no-btns.taking_part_in_tender').removeClass('active-btn');
        $('.taking_part_in_tender').addClass('dialog_background');
    }

    function noPartInTender() {
        var x = document.getElementById("partInTender");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.taking_part_in_tender').removeClass('dialog_background');
        $('.no.yes-no-btns.taking_part_in_tender').addClass('active-btn');
        $('.yes.yes-no-btns.taking_part_in_tender').removeClass('active-btn');
    }

    function specialContractStructure() {
        var x = document.getElementById("explainStructure");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.has_special_contract_structure').addClass('active-btn');
        }
        $('.no.yes-no-btns.has_special_contract_structure').removeClass('active-btn');
        $('.has_special_contract_structure').addClass('dialog_background');
    }

    function noSpecialContractStructure() {
        var x = document.getElementById("explainStructure");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.has_special_contract_structure').removeClass('dialog_background');
        $('.no.yes-no-btns.has_special_contract_structure').addClass('active-btn');
        $('.yes.yes-no-btns.has_special_contract_structure').removeClass('active-btn');
    }

    function goodsSentMultipleDeliveries() {
        var x = document.getElementById("goodsSentMultipleDeliveries");
        var y = document.getElementById("notRelevantForNoGoodsSentMultipleDeliveries");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (y.style.display === "none") {
            y.style.display = "block";
        }
        $('.no.yes-no-btns.is_good_sent_in_multiple_deliveries').removeClass('active-btn');
        $('.yes.yes-no-btns.is_good_sent_in_multiple_deliveries').addClass('active-btn');
        $('.is_good_sent_in_multiple_deliveries').addClass('dialog_background');
    }

    function noGoodsSentMultipleDeliveries() {
        var x = document.getElementById("goodsSentMultipleDeliveries");
        var y = document.getElementById("notRelevantForNoGoodsSentMultipleDeliveries");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        if (y.style.display === "block") {
            y.style.display = "none";
        }
        $('.no.yes-no-btns.is_good_sent_in_multiple_deliveries').addClass('active-btn');
        $('.yes.yes-no-btns.is_good_sent_in_multiple_deliveries').removeClass('active-btn');
        $('.is_good_sent_in_multiple_deliveries').addClass('dialog_background');
    }

    function securityPresent() {
        var x = document.getElementById("securityPresent");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.is_security_present_for_transaction').addClass('active-btn');
        }
        $('.no.yes-no-btns.is_security_present_for_transaction').removeClass('active-btn');
        $('.is_security_present_for_transaction').addClass('dialog_background');
    }

    function noSecurityPresent() {
        var x = document.getElementById("securityPresent");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.is_security_present_for_transaction').removeClass('dialog_background');
        $('.no.yes-no-btns.is_security_present_for_transaction').addClass('active-btn');
        $('.yes.yes-no-btns.is_security_present_for_transaction').removeClass('active-btn');
    }

    function agreedTermOfPayments() {
        var x = document.getElementById("agreedTermsOfPayments");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.has_agreed_payment_term_already').addClass('active-btn');
        }
        $('.no.yes-no-btns.has_agreed_payment_term_already').removeClass('active-btn');
        $('.has_agreed_payment_term_already').addClass('dialog_background');
    }

    function noAgreedTermOfPayments() {
        var x = document.getElementById("agreedTermsOfPayments");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.has_agreed_payment_term_already').removeClass('dialog_background');
        $('.no.yes-no-btns.has_agreed_payment_term_already').addClass('active-btn');
        $('.yes.yes-no-btns.has_agreed_payment_term_already').removeClass('active-btn');
    }

    function corruptionDeclaration() {
        var x = document.getElementById("corruptionDeclaration");
        if (x.style.display === "none") {
            x.style.display = "block";
            $('.yes.yes-no-btns.does_corruption_declaration_apply').addClass('active-btn');
        }
        $('.no.yes-no-btns.does_corruption_declaration_apply').removeClass('active-btn');
    }

    function noCorruptionDeclaration() {
        var x = document.getElementById("corruptionDeclaration");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
        $('.no.yes-no-btns.does_corruption_declaration_apply').addClass('active-btn');
        $('.yes.yes-no-btns.does_corruption_declaration_apply').removeClass('active-btn');
    }

    function goodsOverhaulCountryIfGermanyHandler() {
        if ($('#goods_overhaul_country option:selected').val() === 'Deutschland') {
            $('#goods_overhaul_country_if_not_germany').hide();
        } else {
            $('#goods_overhaul_country_if_not_germany').show();
        }
    }

    function sensitiveAreaTypeChangeHandler() {
        if ($('#sensitive_area_type option:selected').val() === 'Sonstige') {
            $('#explain_sensitive_area_type').show();
        } else {
            $('#explain_sensitive_area_type').hide();
        }
    }

    var loans_custom_arr = {
        "Bergbau, inkl. Verarbeitung" : {
            "Bergbau untertage": ["Anlagen: Abbau von Kohle", "Anlagen: Abbau von Eisenerz","Anlagen: Abbau von NE-Metallen","Anlagen: Abbau von Gold","Anlagen: Abbau von Diamanten","Anlagen: Förderung von Baumaterial","Zubehör/ Ersatzteile"],
            "Bergbau übertage": ["Anlagen: Abbau von Kohlec", "Anlagen: Abbau von Eisenerz","Anlagen: Abbau von NE-Metallen","Anlagen: Abbau von Gold","Anlagen: Abbau von Diamanten","Anlagen: Förderung von Baumaterial","Steinbrüche/Gewinnung von Rohstoffen","Zubehör/ Ersatzteile"],
            'Mineralverarbeitende Industrie': ["Anlagen: Herstellung von Glas", "Anlagen: Herst. von Mineralfasern","Anlagen: Herst. von Zement und Kalk","Anlagen: Herstellung von Keramik","Anlagen: Herstellung von Klinkern","Anlagen: Herstellung von Asbest","Waren aus mineral. Stoffen","Zubehör/ Ersatzteile"],
            'Kohleverarbeitung': ["Anlagen:  Pressen von Kohle", "Kokereien","Zubehör/ Ersatzteile"],
            'Maschinenbau Bergbau inkl. Verarbeitung':["Maschinen: Bergbau (untertage)", "Maschinen: Bergbau (übertage)","Maschinen: mineralverarbeitende Industrie","Maschinen: Kohleverarbeitung","Hebezeuge und Fördermittel","Zubehör/ Ersatzteile"]
        },
        'Erdöl- und Erdgasförderung inkl. Verarbeitung' : {
            'Offshore Förderung': ["Plattformen", "Pipelines","Zubehör/ Ersatzteile"],
            'Onshore Förderung': ["Bohrtürme", "Pipelines","Zubehör/ Ersatzteile"],
            'Erdgasverarbeitung': ["Anlagen: Erdgasverflüssigung", "Anlagen: Separation von Gasen","Zubehör/ Ersatzteile"],
            'Erdölverarbeitung': ["Raffinerien", "Anlagen: Herst. petrochem. Produkte","Anlagen: Herst. chem. Grundstoffe","Petrochemische Erzeugnisse","Chemische Grundstoffe","Zubehör/ Ersatzteile"],
            'Maschinenbau Erdöl- und Erdgasförderung': ["Maschinen: Erdölförderung", "Maschinen: Erdgasförderung","Maschinen: Erdöl/-gas-Verarbeitung","Zubehör/ Ersatzteile"]
        },
        'Chemie' : {
            'Pharmaindustrie; Biotechnologie': ["Anlagen: Herst. von Arzneimitteln", "Anlagen: Herst. von Biotechnologie","Pharmazeutische Produkte","Biotechnische Produkte","Zubehör/ Ersatzteile"],
            'Düngemittel': ["Anlagen: Herst. von Düngemitteln", "Düngemittellieferungen","Zubehör/ Ersatzteile"],
            'Sonstige Chemische Industrie': ["Anlagen: Herst. organischer Chemik.", "Anlagen: Herst. anorgan. Chemikalien","Anlagen: Herst. von Pflanzenschutzmitteln","Anlagen: Oleochemie (Fett-Verarb.)","Chemikalien","Zubehör/ Ersatzteile"],
            'Maschinenbau Chemie':["Maschinen: chem. Industrie","Zubehör/ Ersatzteile"]
        },
        'Energie' : {
            'Erneuerbare Energien': ["Biomassekraftwerke", "Geothermiekraftwerke","Windkraft","Solartechnik","Wasserkraftwerke","Pumpspeicherkraftwerke","Laufwasserkraftwerke","Großstaudämme zur Energieerzeugung","Gezeitenkraftwerke","Turbinen","Pumpen","Kompressoren","Kraftwerksleittechnik","Zubehör/ Ersatzteile"],
            'Mit fossilen Energieträgern betriebene Kraftwerke': ["Gaskraftwerke", "Kohlekraftwerke","Ölbefeuerte Kraftwerke","Dieselkraftwerke","Turbinen","Pumpen","Kompressoren","Verbrennungsmotoren","Kraftwerksleittechnik","Zubehör/ Ersatzteile"],
            'Atomenergie': ["Atomkraftwerke (komplett)", "Lieferung von Nukleartechnologie","Lieferung von konventioneller Techn.","Turbinen","Pumpen","Kompressoren","Kraftwerksleittechnik","Zubehör/ Ersatzteile"]
        },
        'Infrastruktur' : {
            'Entsorgung – Abfallbeseitigung und Abwasser': ["Recycling / Sortierung", "Verbrennung","Deponie","Abwasserentsorgung","Kläranlagen","Sammelkanalisation","Zubehör/ Ersatzteile"],
            'Energie Distribution': ["Netze,Transformatoren,Schaltanlagen", "Oberirdische Erdöl/gas-Speicherung","Unterirdische Erdöl/gas-Lagerung","Fernwärme","Zubehör/ Ersatzteile"],
            'Krankenhäuser': ["Krankenhäuser", "Ausstattungen für Krankenhäuser","Zubehör/ Ersatzteile"],
            'Tourismus' : ["Hotels und Feriendörfer","Skipisten, Skilifte, Seilbahnen","Zubehör/ Ersatzteile"],
            'Anlagen zum Bau von Transportmitteln ' : ["Anlagen: Bau von KFZ/-Motoren","Anlagen: Bau von Luftfahrzeugen","Anlagen: Bau von Schienenfahrzeugen","Anlagen: Bau von Schiffen","Zubehör/ Ersatzteile"],
            'Transportmittel (Straßenfahrzeuge, Schienenfahrzeuge, Flugzeuge, Schiffe (bis 1999), Spezialfahrzeuge)' :["Lastkraftwagen","Busse","Personenkraftwagen","Fahrzeugkomponenten/Ersatzteile","Lokomotiven","Triebwagen","Waggons","Fahrzeugkomponenten/Ersatzteile","Airbusse","Flugzeuge","Hubschrauber","Fahrzeugkomponenten/Ersatzteile","Schiffe (bis 1999 einschließlich)","Schiffsausrüstungen (bis 1999 einschließlich)","schwimmende Vorrichtungen (bis 1999 einschließlich)","Fahrzeugkomponenten/Ersatzteile (bis 1999 einschließlich)","Baufahrzeuge","Spezialfahrzeuge","Krane/Hebezeuge/Fördermittel","Fahrzeugkomponenten/Ersatzteile"],
            'Verkehrswege und –anlagen' : ["Straßen, Tunnel, Brückenbauten","Straßenbahnen/Stadtschnellbahnen","Untergrundbahnen","Eisenbahnstrecken/ Tunnel","Flughäfen und Flughafenanlagen","Häfen und Hafenanlagen","Städtebauprojekte","Bauten des Hochwasserschutzes","Bau von Wasserstraßen/ Kanälen","Landgewinnung","Grenzsicherungs- und Zollanlagen","Zubehör/ Ersatzteile"],
            'Wasserwirtschaft' : ["Entsalzungsanlagen","Frischwasserversorgung","Trinkwasserreservoirs (Speicherung)","Grundwasserentnahme-/Auffüll.syteme","Wasserfernleitungen","Wasseraufbereitungsanlagen","Staudämme (keine Energieerzeugung)","Zubehör/ Ersatzteile"],
            'Telekommunikation/ Rundfunk- und Nachrichtentechnik' : ["Satelliten","Mobil- und Funknetze","Leitungsnetze","Telekommunikationsgeräte","Techn. Ausrüstung zur Grenzsicherung","Überwachungstechnologien","Zubehör/ Ersatzteile"],
            'Computer und Software' : ["Computer und weitere Hardware","Software","Geldautomaten","Zubehör/ Ersatzteile"],
            'Maschinenbau Infrastruktur' : ["Bau- und Baustoffmaschinen","Maschinen zum Baustoffmaschinen-Bau","Maschinen für die Wasserwirtschaft","Zubehör/ Ersatzteile"],
            'Schiffe' : ["Passagierschiffe (Hochsee-, Flusskreuzfahrtschiffe)","Containerschiffe","Fährschiffe (RoRo-/RoPax-Schiffe","Tankschiffe (Öl-, Chemie-, LNG/LPG-Schiffe)","Offshore-Schiffe (Errichterschiffe, Kabelleger, Ankerziehschlepper (AHTS), Offshore Support Vessel (OSV))","Mehrzweckschiffe (Multi Pupose Vessel, Bulk-Schiffe, Schwerlastschiffe (Heavy Lift Carrier))","Spezialschiffe (Bagger, Schlepper, Fischereiboote, Yachten)","Behördenschiffe (Zoll-, Küstenwach-, Lotsenboote etc. mit sonstigen staatlichen oder staatlich kontrollierten Bestellern)","Militärschiffe/ militärische Komponenten (U-Boote, Fregatten, Korvetten mit dem Verteidigungsministerium und/oder Unternehmen aus dem militär-industriellen Bereich))","Maritime Komponenten (Reparaturen, Umbauten, Ersatzteile, Ausrüstungen)","ohne Zuordnung"]
        },
        'Papier- , Holz-, Leder- und Textilindustrie' : {
            'Forstwirtschaftliche Anlagen': ["Anlagen für die Forstwirtschaft", "Zubehör/ Ersatzteile"],
            'Papier- und Zellstoffherstellung': ["Anlagen: Herst. von Zellstoff", "Anlagen: Herst. von Papier, Pappe","Druckereien","Anlagen zum Bedrucken und Binden","Papierwaren","Zubehör/ Ersatzteile"],
            'Holzverarbeitung': ["Sägemühlen", "Anlagen: Herstellung von Holzwaren","Holzwaren (Bretter, Kork etc.)","Zubehör/ Ersatzteile"],
            'Textil- und Lederindustrie' : ["Anlagen: Herst./ Pflege von Textilien","Färbereianlagen","Anlagen: Gerben, Lederherstellung","Textilien","Lederwaren","Zubehör/ Ersatzteile"],
            'Maschinenbau Papier- , Holz-, Leder- und Textilindustrie':["Forstwirtschaftliche Maschinen","Papiermaschinen","Druckmaschinen","Ledermaschinen","Textilmaschinen","Zubehör/ Ersatzteile"]
        },
        'Agrarsektor und Nahrungsmittelindustrie' : {
            'Landwirtschaftliche Anlagen': ["Tierfarmen","Zubehör/ Ersatzteile"],
            'Anlagen zur Nahrungsmittelverarbeitung' : ["Anlagen: Herstellung von Zucker","Anlagen: Erzeugung von Milchprod.","Anlagen: Herstellung von Konserven","Brauereien und Mälzereien","Anlagen: Herstellung von Getränken","Anlagen: Herst. von Tabakerzeugn.","Schlachtanlagen","Gewächshäuser","Zubehör/ Ersatzteile"],
            'Waren pflanzlichen und tierischen Ursprungs':["Tiere","Waren pflanzlichen Ursprungs","Waren tierischen Ursprungs"],
            'Maschinenbau Agrarsektor und Nahrungsmittelindustrie' : ["Landwirtschaftliche Maschinen","Maschinen für das Ernährungsgewerbe","Maschinen für die Tabakverarbeitung","Zub	ehör/ Ersatzteile"]
        },
        'Verarbeitende Industrie' : {
            'Metallindustrie' : ["Stahl- und Hüttenwerke","Anlagen: Erzeugung von Elektrostahl","Warmwalzwerke","Kaltwalzwerke","Galvanisierungsanlagen","Gießereien","Anlagen zur NE-Herstellung","Eisen-/Stahl-, -rohre, -bleche etc.","NE-, -rohre, -bleche, -kabel etc.","Lager, Getriebe, Zahnräder","Werkzeuge","Zubehör/ Ersatzteile"],
            'Naturprodukte' : ["Anlagen: Herst. von Gummiprodukten","Kautschuk- und Gummiprodukte","Zubehör/ Ersatzteile"],
            'Kunststoffindustrie' : ["Anlagen: Herst. von Kunststoffen","Anlagen: Herst. von Kunststoffprod.","Kunststoffprodukte","Zubehör/ Ersatzteile"],
            'Medizintechnik/Forschung' : ["Labore/Laboreinrichtungen","Medizinische Geräte und Anlagen","Zubehör/ Ersatzteile"],
            'Elektrotechnik, EDV-Technik, Feinmechanik/Optik' : ["Elektromotoren, Generatoren, Transf.","Halbleiter und Elektronik","Antriebssysteme","Feinmechanische Erzeugnisse","Optische Erzeugnisse","Zubehör/ Ersatzteile"],
            'Maschinenbau für die verarbeitende Industrie' : ["Maschinen für Metallerzeugnisse","Maschinen: Prod. von Naturprodukten","Maschinen für Kunststoffindustrie","Maschinen: Herst. von Medizintechnik","Verpackungsmaschinen","Maschinen: Herst. von Elektrotechnik","Maschinen für versch. Waren","Zubehör/ Ersatzteile"]
        },
        'Umwelttechnik' : {
            'Anlagen für die Umwelttechnik' : ["Anlagen: Herst. von Solaranlagen","Anlagen: Herst. von Windkraftanlagen","Luftreinhaltung/Luftfilter","Klimatechnik","Zubehör/ Ersatzteile"]
        },
        'Dienstleistungen' : {
            'Dienstleistungen' : ["Reparaturen/Instandsetzung/Wartung","Montageverträge","Lizenzverträge","Leihverträge","Ingenieurleistungen/Projektierungen","Studien"],
            'Dienstleistungsanteile im Rahmen einer Lieferung' :["Montageverträge","Lizenzverträge","Leistungen","Schulungen/Trainings"]
        }

    };

    var global_seconddrop_key = "";

    $.each(loans_custom_arr, function (index, value) {
        var option = "<option value='"+index+"'>" + index + "</option>";
        $('#exported_goods_type_two').append(option);
    });

    $('#exported_goods_type_two').change(function (){
        $('#exported_goods_type_three').show();
        global_seconddrop_key = $(this).val();
        $('#exported_goods_type_three option').remove();
        $('#exported_goods_type_three').append("<option disabled='disabled' selected hidden class='placeholder_design'> Bitte konkretisieren Sie Ihre Branche weiter.</option>");

        $.each(loans_custom_arr[global_seconddrop_key], function (index, value) {
            var option = "<option value='"+index+"'>"+index+"</option>";
            $('#exported_goods_type_three').append(option);
        });
    });

    $('#exported_goods_type_three').change(function (){
        $('#exported_goods_type_four').show();
        var third_key = $(this).val();
        $('#exported_goods_type_four option').remove();
        $("#exported_goods_type_four").append("<option disabled='disabled' selected hidden> Welche Warenart passt zu den von Ihnen zu liefernden Waren/Gütern/Anlagen bzw. Dienstleistungen?</option>");

        $.each(loans_custom_arr[global_seconddrop_key][third_key], function (index, value) {
            var option = "<option value='"+value+"'>"+value+"</option>";
            $('#exported_goods_type_four').append(option);
        });
    });

    //------------------------- START: input validation checks here -------------------------
    // only allow numerical value
    function onlyAllowNumericalValue(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and plus symbol
    function onlyAllowNumericalValueAndPlus(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 43) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and comma, dot
    function onlyAllowNumericalValueAndDotComma(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 44 && charCode != 46) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    //importer invitation popup
    function openImporterInvitationForm() {
        document.getElementById("myForm").style.display = "block";
        $("#insurance_invitation_importer_company_name").attr('required',true);
        $("#insurance_invitation_importer_representative_name").attr('required',true);
        $("#insurance_invitation_importer_email").attr('required',true);
    }

    function closeForm() {
        $("#insurance_invitation_importer_company_name").prop('required',false);
        $("#insurance_invitation_importer_representative_name").prop('required',false);
        $("#insurance_invitation_importer_email").prop('required',false);
        document.getElementById("myForm").style.display = "none";
    }

</script>