<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">

                    <%= form_with(model: insurance, local: true, html: {multipart: true}, id: "customer-portal") do |form| %>

                        <% if insurance.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(insurance.errors.count, "error") %> prohibited this insurance from
                                    being saved:</h2>
                                <ul>
                                    <% insurance.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>

                        <div class="wizard-navigation">
                            <ul>
                                <li>
                                    <a href="#facilities" data-toggle="tab">
                                        <p style="line-height: 6em; font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('business_heading') %> </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#description" data-toggle="tab">
                                        <div class="icon-circle">
                                        </div>
                                        <p style="line-height: 5.2em; font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('your_importer') %> </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#type" data-toggle="tab">
                                        <div class="icon-circle">
                                        </div>
                                        <p style="line-height: 5.2em; font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('your_financing') %> </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#important-at-end" data-toggle="tab">
                                        <div class="icon-circle">
                                        </div>
                                        <p style="line-height:5.2em; font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> <%= t('necessary_at_end') %> </p>
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <br><br>

                        <div class="tab-content">

                            <div class="tab-pane" id="facilities">
                                <%= render "business_information.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="description">
                                <%= render "importer_information.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="type">
                                <%= render "financing.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="important-at-end">
                                <%= render "necessary_at_end.html.erb", form: form %>
                            </div>
                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn handex-btn btn btn-next btn-fill btn-danger btn-wd' name='next' value= <%= t('next_step') %> >
                                <%= form.submit class: 'btn handex-btn btn btn-finish btn-fill btn-danger btn-wd', value: t('application_submit'), :onclick => "validateCheckbox();" %>
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn handex-btn btn btn-previous btn-default btn-wd' name='previous' value= <%= t('back') %> >
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    //disabling ENTER key (AscII: 13) on our form because enter was submitting application
    $("form").on("keypress", function (e) {
        if (e.keyCode == 13) {
            return false;
        }
    });

    $(function () {
        $(".auftragwertbutton").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivTotalFinancingRequired").show();
            } else {
                $("#showHideDivTotalFinancingRequired").hide();
            }
        });
    });

    function ziehungVonGarantien() {
        var x = document.getElementById("entlastung");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function exportLicenseRequired() {
        var x = document.getElementById("exportLicenseRequirement");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noExportLicenseRequired() {
        var x = document.getElementById("exportLicenseRequirement");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function paymentTermAgreed() {
        var x = document.getElementById("paymentTermWithImporter");
        var y = document.getElementById("noPaymentTermWithImporter");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function noPaymentTermAgreed() {
        var x = document.getElementById("noPaymentTermWithImporter");
        var y = document.getElementById("paymentTermWithImporter");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function contractSignedAllParties() {
        var x = document.getElementById("contractSigned");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noContractSignedAllParties() {
        var x = document.getElementById("contractSigned");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function customerCountsInterest() {
        var x = document.getElementById("yesCustomerCountInterest");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noCustomerCountsInterest() {
        var x = document.getElementById("yesCustomerCountInterest");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function residualRiskApetite() {
        var x = document.getElementById("yesResidualRiskApetite");
        var y = document.getElementById("noResidualRiskApetite");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function noResidualRiskApetite() {
        var x = document.getElementById("yesResidualRiskApetite");
        var y = document.getElementById("noResidualRiskApetite");

        if (y.style.display === "none") {
            y.style.display = "block";
            x.style.display = "none";
        } else {
            y.style.display = "none";
        }
    }

    function priceAdjustmentClause() {
        var x = document.getElementById("yesNoPriceAdjustmentClause");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noPriceAdjustmentClause() {
        var x = document.getElementById("yesNoPriceAdjustmentClause");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function multipleDeliveries() {
        var x = document.getElementById("yesNoMultipleDeliveries");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noMultipleDeliveries() {
        var x = document.getElementById("yesNoMultipleDeliveries");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function yesCertificateOfOrigin() {
        var x = document.getElementById("noCertificateOfOrigin");
        var y = document.getElementById("teilCertificateOfOrigin");
        x.style.display = "none";
        y.style.display = "none";
    }

    function noCertificateOfOrigin() {
        var x = document.getElementById("noCertificateOfOrigin");
        var y = document.getElementById("teilCertificateOfOrigin");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function teilCertificateOfOrigin() {
        var x = document.getElementById("teilCertificateOfOrigin");
        var y = document.getElementById("noCertificateOfOrigin");
        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
        } else {
            x.style.display = "none";
        }
    }

    function kurzFristigTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");

        if (x.style.display === "none") {
            x.style.display = "block";
            y.style.display = "none";
            z.style.display = "none";
        } else {
            x.style.display = "none"
        }
    }

    function mittelTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");
        if (y.style.display === "none") {
            y.style.display = "block";
            z.style.display = "none";
            x.style.display = "none";
        } else {
            y.style.display = "none"
        }
    }

    function sonstigeKurzFristigTermOfPayment() {
        var x = document.getElementById("ShortTermOfPayment");
        var y = document.getElementById("MidTermOfPayment");
        var z = document.getElementById("BothTermOfPayment");

        if (z.style.display === "none") {
            z.style.display = "block";
            x.style.display = "none";
            y.style.display = "none";
        } else {
            z.style.display = "none"
        }
    }

    $(function () {
        $("#sonstige").click(function () {
            if ($(this).is(":checked")) {
                $("#entlastung").show();
            } else {
                $("#entlastung").hide();
            }
        });
    });

    function securityBusinnesProvided() {
        var x = document.getElementById("typeOfSecurity");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noSecurityBusinnesProvided() {
        var x = document.getElementById("typeOfSecurity");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function deliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function notDeliveredAtThisAddress() {
        var x = document.getElementById("deliveryAddress");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function relationToCustomer() {
        var x = document.getElementById("relationToCustomerExplain");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noRelationToCustomer() {
        var x = document.getElementById("relationToCustomerExplain");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function previousPaymentExperienceWithCustomer() {
        var x = document.getElementById("alreadyPaymentExperience");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noPreviousPaymentExperienceWithCustomer() {
        var x = document.getElementById("alreadyPaymentExperience");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function previouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function noPreviouslyHermesInsuranceUsed() {
        var x = document.getElementById("newAtHermesDeckung");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function incoTerms() {
        var x = document.getElementById("incotermsAgreed");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noIncoTerms() {
        var x = document.getElementById("incotermsAgreed");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function daughterCompany() {
        var x = document.getElementById("isDaughterCompany");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noDaughterCompany() {
        var x = document.getElementById("isDaughterCompany");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function externalRatingOfExporter() {
        var x = document.getElementById("externalRatingExporterAvailable");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noExternalRatingOfExporter() {
        var x = document.getElementById("externalRatingExporterAvailable");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    function externalRating() {
        var x = document.getElementById("externalRatingAvailable");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }

    function noExternalRating() {
        var x = document.getElementById("externalRatingAvailable");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }


    function corruptionDeclarationApplies() {
        var x = document.getElementById("showHideDivCorruptionDeclarationApplies");
        if (x.style.display === "none") {
            x.style.display = "block";
        }
        else {
            x.style.display = "none";
        }
    }

    function noCorruptionDeclarationApplies() {
        var x = document.getElementById("showHideDivCorruptionDeclarationApplies");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    }

    var $choice = jQuery('.choice');

    $choice.filter('[name="kurzfristigtermofpayment"]').click(function () {
        $choice.filter('[name="mitteltermofpayment"]').removeClass('active');
        $choice.filter('[name="sonstigekurzfristigtermofpayment"]').removeClass('active');
    });

    $choice.filter('[name="mitteltermofpayment"]').click(function () {
        $choice.filter('[name="kurzfristigtermofpayment"]').removeClass('active');
        $choice.filter('[name="sonstigekurzfristigtermofpayment"]').removeClass('active');
    });

    $choice.filter('[name="sonstigekurzfristigtermofpayment"]').click(function () {
        $choice.filter('[name="mitteltermofpayment"]').removeClass('active');
        $choice.filter('[name="kurzfristigtermofpayment"]').removeClass('active');
    });

    $choice.filter('[name="sensitivearea_nein"]').click(function () {
        $choice.filter('[name="sensitivearea"]').removeClass('active');
        $choice.filter('[name="sensitivearea_sonstige"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="sensitivearea_sonstige"]').click(function () {
        $choice.filter('[name="sensitivearea"]').removeClass('active');
        $choice.filter('[name="sensitivearea_nein"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="sensitivearea"]').click(function () {
        $choice.filter('[name="sensitivearea_nein"]').removeClass('active');
        $choice.filter('[name="sensitivearea_sonstige"]').removeClass('active');

        var x = document.getElementById("affectsOtherSpecialDiv");
        if (x.style.display === "block") {
            x.style.display = "none";
        }
    });

    $choice.filter('[name="investmentgoods_yes"]').click(function () {
        $choice.filter('[name="investmentgoods_no"]').removeClass('active');
    });

    $choice.filter('[name="investmentgoods_no"]').click(function () {
        $choice.filter('[name="investmentgoods_yes"]').removeClass('active');
    });

    $choice.filter('[name="exporteroffersservicingforgoods_yes"]').click(function () {
        $choice.filter('[name="exporteroffersservicingforgoods_no"]').removeClass('active');
    });

    $choice.filter('[name="exporteroffersservicingforgoods_no"]').click(function () {
        $choice.filter('[name="exporteroffersservicingforgoods_yes"]').removeClass('active');
    });

    $choice.filter('[name="deliverwithothercompanies_yes"]').click(function () {
        $choice.filter('[name="deliverwithothercompanies_no"]').removeClass('active');
    });

    $choice.filter('[name="deliverwithothercompanies_no"]').click(function () {
        $choice.filter('[name="deliverwithothercompanies_yes"]').removeClass('active');
    });

    $choice.filter('[name="exportlicenserequired_yes"]').click(function () {
        $choice.filter('[name="exportlicenserequired_no"]').removeClass('active');
    });

    $choice.filter('[name="exportlicenserequired_no"]').click(function () {
        $choice.filter('[name="exportlicenserequired_yes"]').removeClass('active');
    });

    $choice.filter('[name="paymentTermAgreed_yes"]').click(function () {
        $choice.filter('[name="paymentTermAgreed_no"]').removeClass('active');
    });

    $choice.filter('[name="paymentTermAgreed_no"]').click(function () {
        $choice.filter('[name="paymentTermAgreed_yes"]').removeClass('active');
    });

    $choice.filter('[name="yes_secondhandgoods"]').click(function () {
        $choice.filter('[name="no_secondhandgoods"]').removeClass('active');
    });

    $choice.filter('[name="no_secondhandgoods"]').click(function () {
        $choice.filter('[name="yes_secondhandgoods"]').removeClass('active');
    });

    $choice.filter('[name="yes_congractsignedallparties"]').click(function () {
        $choice.filter('[name="no_congractsignedallparties"]').removeClass('active');
    });

    $choice.filter('[name="no_congractsignedallparties"]').click(function () {
        $choice.filter('[name="yes_congractsignedallparties"]').removeClass('active');
    });

    $choice.filter('[name="yes_specialcontractstructure"]').click(function () {
        $choice.filter('[name="no_specialcontractstructure"]').removeClass('active');
    });

    $choice.filter('[name="no_specialcontractstructure"]').click(function () {
        $choice.filter('[name="yes_specialcontractstructure"]').removeClass('active');
    });

    $choice.filter('[name="yes_customercountsinterest"]').click(function () {
        $choice.filter('[name="no_customercountsinterest"]').removeClass('active');
    });

    $choice.filter('[name="no_customercountsinterest"]').click(function () {
        $choice.filter('[name="yes_customercountsinterest"]').removeClass('active');
    });

    $choice.filter('[name="yes_residualriskapetite"]').click(function () {
        $choice.filter('[name="no_residualriskapetite"]').removeClass('active');
    });

    $choice.filter('[name="no_residualriskapetite"]').click(function () {
        $choice.filter('[name="yes_residualriskapetite"]').removeClass('active');
    });

    $choice.filter('[name="yes_priceadjustmentclause"]').click(function () {
        $choice.filter('[name="no_priceadjustmentclause"]').removeClass('active');
    });

    $choice.filter('[name="no_priceadjustmentclause"]').click(function () {
        $choice.filter('[name="yes_priceadjustmentclause"]').removeClass('active');
    });

    $choice.filter('[name="yes_multipledeliveries"]').click(function () {
        $choice.filter('[name="no_multipledeliveries"]').removeClass('active');
    });

    $choice.filter('[name="no_multipledeliveries"]').click(function () {
        $choice.filter('[name="yes_multipledeliveries"]').removeClass('active');
    });

    $choice.filter('[name="yes_certificateoforigin"]').click(function () {
        $choice.filter('[name="no_certificateoforigin"]').removeClass('active');
        $choice.filter('[name="teil_certificateoforigin"]').removeClass('active');

    });

    $choice.filter('[name="no_certificateoforigin"]').click(function () {
        $choice.filter('[name="yes_certificateoforigin"]').removeClass('active');
        $choice.filter('[name="teil_certificateoforigin"]').removeClass('active');

    });

    $choice.filter('[name="teil_certificateoforigin"]').click(function () {
        $choice.filter('[name="no_certificateoforigin"]').removeClass('active');
        $choice.filter('[name="yes_certificateoforigin"]').removeClass('active');
    });

    $choice.filter('[name="yes_securitybusinnesprovided"]').click(function () {
        $choice.filter('[name="no_securitybusinnesprovided"]').removeClass('active');
    });

    $choice.filter('[name="no_securitybusinnesprovided"]').click(function () {
        $choice.filter('[name="yes_securitybusinnesprovided"]').removeClass('active');
    });

    $choice.filter('[name="yes_deliveredatthisaddress"]').click(function () {
        $choice.filter('[name="no_deliveredatthisaddress"]').removeClass('active');
    });

    $choice.filter('[name="no_deliveredatthisaddress"]').click(function () {
        $choice.filter('[name="yes_deliveredatthisaddress"]').removeClass('active');
    });

    $choice.filter('[name="yes_relationtocustomer"]').click(function () {
        $choice.filter('[name="no_relationtocustomer"]').removeClass('active');
    });

    $choice.filter('[name="no_relationtocustomer"]').click(function () {
        $choice.filter('[name="yes_relationtocustomer"]').removeClass('active');
    });

    $choice.filter('[name="yes_previouspaymentexperiencewithcustomer"]').click(function () {
        $choice.filter('[name="no_previouspaymentexperiencewithcustomer"]').removeClass('active');
    });

    $choice.filter('[name="no_previouspaymentexperiencewithcustomer"]').click(function () {
        $choice.filter('[name="yes_previouspaymentexperiencewithcustomer"]').removeClass('active');
    });

    $choice.filter('[name="yes_previouslyhermesinsuranceused"]').click(function () {
        $choice.filter('[name="no_previouslyhermesinsuranceused"]').removeClass('active');
    });

    $choice.filter('[name="no_previouslyhermesinsuranceused"]').click(function () {
        $choice.filter('[name="yes_previouslyhermesinsuranceused"]').removeClass('active');
    });

    $choice.filter('[name="yes_incoterms"]').click(function () {
        $choice.filter('[name="no_incoterms"]').removeClass('active');
    });

    $choice.filter('[name="no_incoterms"]').click(function () {
        $choice.filter('[name="yes_incoterms"]').removeClass('active');
    });

    $choice.filter('[name="yes_daughtercompany"]').click(function () {
        $choice.filter('[name="no_daughtercompany"]').removeClass('active');
    });

    $choice.filter('[name="no_daughtercompany"]').click(function () {
        $choice.filter('[name="yes_daughtercompany"]').removeClass('active');
    });

    $choice.filter('[name="yes_externalratingavailable"]').click(function () {
        $choice.filter('[name="no_externalratingavailable"]').removeClass('active');
    });

    $choice.filter('[name="no_externalratingavailable"]').click(function () {
        $choice.filter('[name="yes_externalratingavailable"]').removeClass('active');
    });

    $choice.filter('[name="yes_externalratingexporteravailable"]').click(function () {
        $choice.filter('[name="no_externalratingexporteravailable"]').removeClass('active');
    });

    $choice.filter('[name="no_externalratingexporteravailable"]').click(function () {
        $choice.filter('[name="yes_externalratingexporteravailable"]').removeClass('active');
    });

    $choice.filter('[name="yes_reduceEconomicRisk"]').click(function () {
        $choice.filter('[name="dont_reduceEconomicRisk"]').removeClass('active');
    });

    $choice.filter('[name="dont_reduceEconomicRisk"]').click(function () {
        $choice.filter('[name="yes_reduceEconomicRisk"]').removeClass('active');
    });

    $choice.filter('[name="publicsector"]').click(function () {
        $choice.filter('[name="privatesector"]').removeClass('active');
    });

    $choice.filter('[name="privatesector"]').click(function () {
        $choice.filter('[name="publicsector"]').removeClass('active');
    });

    $choice.filter('[name="corruptionDeclarationApplies"]').click(function () {
        $choice.filter('[name="corruption_declaration_doesnt_apply"]').removeClass('active');
    });

    $choice.filter('[name="corruption_declaration_doesnt_apply"]').click(function () {
        $choice.filter('[name="corruptionDeclarationApplies"]').removeClass('active');
    });

    //------------------------- START: input validation checks here -------------------------
    // only allow numerical value
    function onlyAllowNumericalValue(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and plus symbol
    function onlyAllowNumericalValueAndPlus(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 43) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    // only allow numerical value and comma, dot
    function onlyAllowNumericalValueAndDotComma(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57) && charCode != 44 && charCode != 46) {
            alert("Bitte nur numerischen Wert eingeben");
            return false;
        }
        return true;
    }

    //------------------------- END: input validation checks here -------------------------

</script>