<br>
<br>

<ul class="sidebar-list">

    <br>
    <li class="sidebar-item">
        <%= link_to "Das Wichtigste zuerst", hermeskycone_tradeinfo_insurance_path(), class: "sidebar-link active" %>
    </li>

    <br>
    <li class="sidebar-item">
        <%= link_to "Ihre Risiken", hermeskyctwo_tradeinfo_insurance_path(), class: "sidebar-link active" %>
    </li>
    <br>

    <li class="sidebar-item">
        <%= link_to "Ihr Geschäft", hermeskycthree_tradeinfo_insurance_path(), class: "sidebar-link active" %>
    </li>

    <br>
    <li class="sidebar-item">
        <%= link_to "Ihr Kunde", hermeskycfour_tradeinfo_insurance_path(), class: "sidebar-link active" %>
    </li>

    <br>
    <li class="sidebar-item">
        <%= link_to "Notwendiges zum Schluss", hermeskycfive_tradeinfo_insurance_path(), class: "sidebar-link active" %>
    </li>

</ul>