<h4 class="info-text" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;" >Ihr Kunde</h4>

<div class="row">
    <div class="form-group">
        <div class="row">
            <br>
            <div class="col-md-5 col-md-offset-1">
                <p><b>Bitte geben Sie die Adresse Ihres Kunden an</b></p>
            </div>
        </div>
        <div class="row">
            <br>

            <div class="col-md-3 col-md-offset-1">
                <p> Firmenname </p>
                <div> <%= form.text_field :importer_company_name, class: "form-control" %> </div>
            </div>

            <div class="col-md-3">
                <p> Straße / Hausnummer </p>
                <%= form.text_field :importer_address, class: "form-control" %>
            </div>

            <div class="col-md-3">
                <p> PLZ </p>
                <%= form.text_field :importer_plz, class: "form-control" %>
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <br>

            <div class="col-md-3 col-md-offset-1">
                <p> Ort </p>
                <div> <%= form.text_field :importer_city, class: "form-control" %> </div>
            </div>

            <div class="col-sm-3">
                <p>Land</p>
                <%= form.select :importer_country,
                                options_for_select(["Bitte auswählen", 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                    'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                    'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                    'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                    'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                    'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                    'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                    'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                    'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                    'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                    'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                    'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                    'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                    'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                    'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                    'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                    'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                    'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                    'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                    'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
                                                   @insurance.importer_country ? @insurance.importer_country : nil), id: 'importercountry', class: 'form-control' %>
            </div>
        </div>
    </div>
    <br>

    <div id="showHideDivDeliveryGoal">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <p><b>Ist Ihr Kunde ein Unternehmen des öffentlichen oder privaten Sektors?</b></p>
            </div>
            <div class="col-sm-10">
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="choice <%= 'active' if @insurance.exporting_to_private_sector == 'on' %>" name="privatesector" data-toggle="wizard-checkbox">
                            <%= check_box_tag "insurance[exporting_to_private_sector]" %>
                            <div class="card card-checkboxes card-hover-effect">
                                <i class="ti-home"></i>
                                <p>Privater Sektor</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="choice <%= 'active' if @insurance.exporting_to_public_sector == 'on' %>" name="publicsector" data-toggle="wizard-checkbox">

                            <%= check_box_tag "insurance[exporting_to_public_sector]", @insurance.exporting_to_public_sector ? @insurance.exporting_to_public_sector : nil %>

                            <div class="card card-checkboxes card-hover-effect">
                                <i class="ti-home"></i>
                                <p>Öffentlicher Sektor</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div id="deliveryAddressCheck">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p><b>Liefern Sie an diese Adresse? </b></p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice <%= 'active' if @insurance.yes_delivered_at_this_address == 'on' %>" name="yes_deliveredatthisaddress" data-toggle="wizard-checkbox" onclick="deliveredAtThisAddress()">

                        <%= check_box_tag "insurance[yes_delivered_at_this_address]", @insurance.yes_delivered_at_this_address ? @insurance.yes_delivered_at_this_address : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>


                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice <%= 'active' if @insurance.no_delivered_at_this_address == 'on' %>" name="no_deliveredatthisaddress" data-toggle="wizard-checkbox" onclick="notDeliveredAtThisAddress()">

                        <%= check_box_tag "insurance[no_delivered_at_this_address]", @insurance.no_delivered_at_this_address ? @insurance.no_delivered_at_this_address : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>

                <br><br>
            </div>
        </div>
    </div>


    <div id="deliveryAddress" style="display: none;">
        <br>
        <div class="appear">
            <div class="form-group">
                <div class="row">
                    <br>
                    <div class="col-md-3 col-md-offset-1">
                        <p> Firmenname </p>
                        <div> <%= form.text_field :importer_delivery_address_company_name, class: "form-control" %> </div>
                    </div>

                    <div class="col-md-3 ">
                        <p> Land </p>
                        <%= form.text_field :importer_delivery_address_country, class: "form-control" %>
                    </div>

                    <div class="col-md-3 ">
                        <p> Straße / Hausnummer </p>
                        <%= form.text_field :importer_delivery_address_street, class: "form-control" %>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <br>
                    <div class="col-md-3 col-md-offset-1">
                        <p> PLZ </p>
                        <%= form.text_field :importer_delivery_address_plz, class: "form-control"%>
                    </div>

                    <div class="col-md-3">
                        <p> Ort </p>
                        <div> <%= form.text_field :importer_delivery_address_city, class: "form-control" %> </div>
                    </div>

                </div>
            </div>
            <br>
        </div>
    </div>

    <div id="deliveryAddressCheck">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <br>
                <p><b>Sind Sie in irgendeiner Form an Ihrem Kunden beteiligt und/oder
                    üben
                    Sie maßgeblichen Einfluss auf die Geschäftsführung aus?</b>
                </p>

            </div>

            <div class="col-md-8 col-md-offset-1">

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice <%= 'active' if @insurance.yes_exporter_influence_on_importer_management == 'on' %>" name="yes_relationtocustomer" data-toggle="wizard-checkbox" onclick="relationToCustomer()">

                        <%= check_box_tag "insurance[yes_exporter_influence_on_importer_management]", @insurance.yes_exporter_influence_on_importer_management ? @insurance.yes_exporter_influence_on_importer_management : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

                    <div class="choice <%= 'active' if @insurance.no_exporter_influence_on_importer_management == 'on' %>" name="no_relationtocustomer" data-toggle="wizard-checkbox" onclick="noRelationToCustomer()">

                        <%= check_box_tag "insurance[no_exporter_influence_on_importer_management]", @insurance.no_exporter_influence_on_importer_management ? @insurance.no_exporter_influence_on_importer_management : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="relationToCustomerExplain" style="display: none">
        <br>
        <div class="appear">
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p>Bitte helfen Sie uns, die Beteiligung besser zu
                            verstehen </p>
                        <div> <%= form.text_area :explain_exporter_influence_on_importer_management, class: "form-control", row: "9" %> </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <br>
    <div id="deliveryAddressCheck">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p><b>Haben Sie bereits Zahlungserfahrungen mit Ihrem Kunden? </b>
                <p>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                    <div class="choice <%= 'active' if @insurance.yes_previous_payment_experience_with_importer == 'on' %>" name="yes_previouspaymentexperiencewithcustomer" data-toggle="wizard-checkbox" onclick="previousPaymentExperienceWithCustomer()">

                        <%= check_box_tag "insurance[yes_previous_payment_experience_with_importer]", @insurance.yes_previous_payment_experience_with_importer ? @insurance.yes_previous_payment_experience_with_importer : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-check"></i>
                        </div>
                    </div>
                </div>

                <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">

                    <div class="choice <%= 'active' if @insurance.no_previous_payment_experience_with_importer == 'on' %>" name="no_previouspaymentexperiencewithcustomer" data-toggle="wizard-checkbox" onclick="noPreviousPaymentExperienceWithCustomer()">

                        <%= check_box_tag "insurance[no_previous_payment_experience_with_importer]", @insurance.no_previous_payment_experience_with_importer ? @insurance.no_previous_payment_experience_with_importer : nil %>

                        <div class="card circle card-hover-effect">
                            <i class="ti-close"></i>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <br>
    </div>

    <div id="alreadyPaymentExperience" style="display: none;">
        <div class="appear">
            <div class="form-group">
                <div class="row">
                    <br>
                    <div class="col-md-10 col-md-offset-1">
                        <p>Bitte beschreiben Sie diese näher.</p>
                        <div> <%= form.text_area :explain_previous_payment_experience_with_importer, class: "form-control" %> </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>