<h4 class="info-text" style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;">Notwendiges zum Schluss </h4>

<br><br>
<div class="row">

    <div id="deliveryAddressCheck">
        <div class="form-group">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <p><b>Haben Sie in der Vergangenheit schon einmal einen Antrag auf
                        Hermesdeckung eingereicht?</b>
                    <p>
                    <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                        <div class="choice" name="yes_previouslyhermesinsuranceused" data-toggle="wizard-checkbox" onclick="previouslyHermesInsuranceUsed()">
                            <%= check_box_tag "insurance[has_previously_used_hermes_cover]", @insurance.has_previously_used_hermes_cover ? @insurance.has_previously_used_hermes_cover : nil %>
                            <div class="card circle card-hover-effect">
                                <i class="ti-check"></i>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                        <div class="choice" name="no_previouslyhermesinsuranceused" data-toggle="wizard-checkbox" onclick="noPreviouslyHermesInsuranceUsed()">
                            <%= check_box_tag "insurance[has_previously_used_hermes_cover]", @insurance.has_previously_used_hermes_cover ? nil : @insurance.has_previously_used_hermes_cover %>
                            <div class="card circle card-hover-effect">
                                <i class="ti-close"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div id="newAtHermesDeckung" style="display: none">
        <div class="appear">
            <div class="form-group">
                <div class="row">
                    <br>
                    <div class="col-md-10 col-md-offset-1">
                        <p>Da Sie bisher keine Hermesdeckung beantragt haben, möchte HandEX
                            und unser Partner Euler Hermes Sie besser kennenlernen.
                            Bitte helfen Sie uns zu verstehen, inwieweit Sie bereits über
                            Exporterfahrung
                            und Erfahrungen mit säumigen Auslandskunden verfügen.</p>
                        <br><br>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <p><i>Inwieweit bzw. seit wie vielen Jahren verfügen Sie über
                            Exporterfahrung
                            aus ungedeckten Geschäften, d.h. Exportgeschäfte ohne
                            Hermesdeckung?</i></p>
                        <div> <%= form.text_field :years_trading_without_hermes_insurance, class: "form-control" %> </div>
                    </div>

                    <div class="col-md-10 col-md-offset-1">
                        <br><br>
                        <p><i>Besteht eine langjährige Exporterfahrung sowie Marktkenntnis
                            mit
                            dem
                            Empfängerland?</i></p>
                        <%= form.text_field :experience_with_importer_country, class: "form-control" %>
                    </div>

                    <div class="col-md-10 col-md-offset-1 ">
                        <br><br>
                        <p><i> Bitte legen Sie dar, inwiefern Sie über ein adäquates
                            Schadenmanagement
                            verfügen. Wurden Sie in der Vergangenheit bereits (häufiger) mit
                            Zahlungsverzügen/ Forderungsausfällen konfrontiert und welche
                            Maßnahmen greifen bei Ihnen im Unternehmen, wenn ein Kunde in
                            Zahlungsverzug
                            gerät? </i></p>
                        <%= form.text_field :adequate_claims_management, class: "form-control" %>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </div>

    <div id="firmenDaten">
        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><b>Bitte geben Sie Ihre Firmendaten an.</b></p>
                </div>

            </div>

            <div class="row">

                <br>
                <div class="col-md-3 col-md-offset-1">
                    <p> Firmenname </p>
                    <div> <%= form.text_field :exporter_name, class: "form-control" %> </div>
                </div>

                <div class="col-md-3 ">
                    <p> DN-NR </p>
                    <%= form.text_field :exporter_dn_no, class: "form-control" %>
                </div>

                <div class="col-md-3">
                    <p>Telefon</p>
                    <%= form.text_field :exporter_telephone, id: 'exporter_telephone', class: 'form-control', :onkeypress => "return onlyAllowNumericalValueAndPlus(event)" %>
                </div>
            </div>
        </div>
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p> Straße / Hausnummer </p>
                    <div> <%= form.text_field :exporter_street_hno, class: "form-control" %> </div>
                </div>

                <div class="col-md-3">
                    <p> PLZ </p>
                    <div> <%= form.text_field :exporter_plz, class: "form-control" %> </div>
                </div>

                <div class="col-md-3">
                    <p> Land </p>
                    <%= form.select :exporter_country,
                                    options_for_select(['Bitte auswählen', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                        'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                        'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                        'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                        'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                        'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                        'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                        'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                        'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                        'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                        'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                        'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                        'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                        'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                        'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                        'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                        'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                        'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                        'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                        'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                        'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                        'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                        'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                        'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
                                                       @insurance.exporter_country ? @insurance.exporter_country : nil), {}, class: 'form-control' %>

                </div>
            </div>
        </div>

        <br>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3 col-md-offset-1">
                    <p> Anzahl der Mitarbeiterinnen und Mitarbeiter </p>
                    <%= form.text_field :employees_count, class: "form-control", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %>
                </div>

                <div class="col-md-3">
                    <p> Umsatz im letzten vollen Geschäftsjahr (in Euro Mio.)</p>
                    <div> <%= form.text_field :revenue_last_year, class: "form-control", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                </div>
            </div>
        </div>
    </div>

    <div id="firmenDaten">
        <br>

        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <p><b>Wen können wir ansprechen?</b></p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <br>
                <div class="col-md-3 col-md-offset-1">
                    <p> Vorname </p>
                    <%= form.text_field :exporter_representative_firstname, class: "form-control" %>
                </div>

                <div class="col-md-3">
                    <p> Nachname </p>
                    <div> <%= form.text_field :exporter_representative_lastname, class: "form-control" %> </div>
                </div>

                <div class="col-md-3">
                    <p> Email </p>
                        <div> <%= form.email_field :exporter_representative_email, class: "form-control" %> </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <br>
                <div class="col-md-3 col-md-offset-1">
                    <p>Funktion</p>
                    <%= form.text_field :exporter_representative_function, class: "form-control" %>
                </div>

                <div class="col-md-3">
                    <p> Bereich </p>
                    <div> <%= form.text_field :exporter_representative_department, class: "form-control" %> </div>
                </div>

            </div>
        </div>
    </div>

    <br>

    <div class="form-group">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p><b>Diese Anlagen benötigen wir für die Prüfung Ihres
                    Geschäftes </b></p>
            </div>
        </div>
    </div>

    <div id="uploadDocuments">
        <br>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> Selbstauskunft (bei Neukunden) </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :self_disclosure %>
            </div>
        </div>

        <br><br>
        <br>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> Jahresabschlüsse Ihres Kunden </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :annual_financial_statement_importer %>
            </div>
        </div>

        <br><br><br>
        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> Auskünfte über Ihren Kunden </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :credit_bureaus_importer %>
            </div>
        </div>

        <br><br>
        <br>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> Umwelt- und Sozialinformationen </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :environment_social_audit %>
            </div>
        </div>

        <br><br>
        <br>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> ggf. Projektmemorandum </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :project_memorandum_exporter_business %>
            </div>
        </div>

        <br><br>
        <br>

        <div class="row">
            <div class="col-md-5 col-md-offset-1">
                <p> Sonstiges </p>
            </div>
            <div class="col-md-6">
                <%= form.file_field :additional_document %>
            </div>
        </div>
    </div>

    <div id="deliveryAddressCheck">
        <div class="form-group">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">

                    <br><br>

                    <p><b>Bitte geben Sie die Erklärung zur
                        Korruptionsprävention ab. </b></p><br>

                    <p><b>Beachtung gesetzlicher Vorschriften </b> <br>
                        Wir erklären, dass der Abschluss des Liefer- bzw.
                        Leistungsgeschäfts
                        nicht durch
                        eine strafbare Handlung eines Mitarbeiters, der Geschäftsleitung
                        oder
                        eines
                        Inhabers unseres Unternehmens oder einer anderen in unserem
                        Auftrag
                        handelnden
                        Person herbeigeführt worden ist bzw. nicht durch eine derartige
                        Handlung
                        herbeigeführt werden wird. </p> <br><br>


                    <p><b>Auskunftspflicht</b> <br>
                        Uns ist bekannt, dass wir im Antragsverfahren und nach Übernahme
                        der
                        jeweils
                        beantragten Exportkreditgarantie sowie gemäß der bei Beantragung
                        einer
                        Exportkreditgarantie für einen gebundenen Finanzkredit
                        abzugebenden
                        Verpflichtungserklärung über alle Umstände des zur Deckung
                        beantragten
                        Geschäfts, die für die Übernahme der Exportkreditgarantie
                        erheblich
                        sind, dem
                        Bund vollständig und richtig Auskunft zu erteilen haben. Dies
                        umfasst
                        auch die
                        Beantwortung von Fragen des Bundes hinsichtlich der Identität
                        von
                        Personen, die
                        in unserem Auftrag am Abschluss des Liefer- bzw.
                        Leistungsgeschäfts
                        beteiligt
                        sind oder waren, sowie von Fragen über Grund und Höhe etwaiger
                        Zahlungen
                        an
                        diese Personen. </p> <br><br>


                    <p><b>Angaben zu Anklagen, strafrechtlichen und
                        nicht-strafrechtlichen
                        Sanktionen
                        sowie Ermittlungsverfahren und Sperrlisten</b> <br>
                        Mitarbeiter, die Geschäftsleitung oder Inhaber unseres
                        Unternehmens
                        oder
                        andere
                        an diesem Vertragsabschluss beteiligte und in unserem Auftrag
                        handelnde
                        Personen
                        oder unser Unternehmen selbst sind/ist wegen eines
                        Korruptionsdelikts
                    </p>
                    <br>

                    <ul>
                        <li> gegenwärtig vor einem staatlichen Gericht angeklagt oder
                        </li>
                        <br>
                        <li> innerhalb der letzten 5 Jahre von einem staatlichen Gericht
                            verurteilt
                            oder
                        </li>
                        <br>
                        <li> mit einer mit einem Gerichtsurteil vergleichbaren
                            nicht-strafrechtlichen
                            Sanktion belegt worden oder
                        </li>
                        <br>
                        <li> einem staatsanwaltschaftlichen Ermittlungsverfahren
                            unterworfen
                            worden oder

                        </li>
                        <br>
                        <li> auf einer Sperrliste einer internationalen
                            Finanzorganisation
                            aufgeführt.

                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <div class="form-group">
                    <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                        <div class="choice" name="corruptionDeclarationApplies" data-toggle="wizard-checkbox" onclick="corruptionDeclarationApplies()">
                            <%= check_box_tag "insurance[does_corruption_declaration_apply]", @insurance.does_corruption_declaration_apply ? @insurance.does_corruption_declaration_apply : nil %>
                            <div class="card circle card-hover-effect">
                                <i class="ti-check"></i>
                                <p>Trifft zu </p>
                                <!--                                (Nähere Angaben erforderlich. Lesen Sie hierzu auch die Hinweise)-->
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-4 col-sm-4 col-md-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-1">
                        <div class="choice" name="corruption_declaration_doesnt_apply" data-toggle="wizard-checkbox" onclick="noCorruptionDeclarationApplies()">
                            <%= check_box_tag "insurance[does_corruption_declaration_apply]", @insurance.does_corruption_declaration_apply ? nil : @insurance.does_corruption_declaration_apply %>
                            <div class="card circle card-hover-effect">
                                <i class="ti-close"></i>
                                <p>Trifft nicht zu</p>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </div>
        </div>

        <br>
        <br>
        <br>

        <div id="showHideDivCorruptionDeclarationApplies" style="display: none;">
            <div class="appear">
                <div class="form-group">
                    <br>

                    <div class="row">
                        <div class="col-sm-10 col-sm-offset-1">
                            <p> Bitte machen Sie nähere Angaben zu den oben stehenden
                                Punkten
                                hinsichtlich Anklagen, strafrechtlichen oder
                                nicht-strafrechtlichen Sanktionen sowie
                                Ermittlungsverfahren
                                und Sperrlisten</p>
                            <%= form.text_area :explain_corruption_sanctions, class: 'form-control' %>
                        </div>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <%= form.check_box :is_all_information_provided_with_best_of_knowledge, id: "YesInformationInputtedBestKnowledge", :style => "width: 20px; height: 20px;" %>
                Die vorstehenden Angaben wurden von uns nach bestem Wissen und Gewissen und
                in Kenntnisnahme der Erläuterungen gemacht
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                Liefern Sie gemeinsam mit Verbundunternehmen oder sind Zwischenhändler
                eingesetzt? Dann
                müssen diese die Erklärung zur Korruptionsprävention separat
                unterzeichnen.
                Bitte leiten
                Sie das Formular entsprechend weiter und reichen es uns nach.
            </div>

            <br><br>
            <div class="col-md-10 col-md-offset-1">
                Bitte geben Sie zuletzt noch die Abschlusserklärungen ab.
                <br><br>
            </div>
        </div>

        <div id="finalDeclaration">

            <div class="row">
                <br>

                <div class="col-md-10 col-md-offset-1">
                    <%= form.check_box :has_accepted_terms_conditions, :style => "width: 20px; height: 20px;" %>
                    Wir akzeptieren die <span><a target="_blank" rel="noopener noreferrer" href="https://www.agaportal.de/_Resources/Persistent/3bfd6a43f17d04f9b34d523df323f0a44a9eaa17/ab_fab.pdf">
                    Allgemeinen Bedingungen für Lieferantenkreditdeckung(G)  </a> </span> in Zusammenhang mit den
                    <span><a target="_blank" rel="noopener noreferrer" href="https://www.agaportal.de/_Resources/Persistent/b751b874fd137e5f8b22b25d2bd8a15995b09eb2/ab_g.pdf">
                    Ergänzenden Bestimmungen für Forderungsabtretungen  </a> </span>

                </div>
            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <br><br>
                    <%= form.check_box :has_read_privacy_policy, :style => "width: 20px; height: 20px;" %>
                    Wir haben die <span><a target="_blank" rel="noopener noreferrer" href="/pages/termsAndConditions">
                    Datenschutzhinweise  </a> </span> zur Kenntnis genommen und sind mit
                    deren Geltung einverstanden.
                </div>


            </div>

            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    <br><br>
                    <%= form.check_box :has_read_all_instructions, :style => "width: 20px; height: 20px;" %>
                    Wir haben die <span><a target="_blank" rel="noopener noreferrer" href="/pages/guidelines">
                    Hinweise zu Gebühren und Entgelten, Richtlinien, Verantwortlichkeiten   </a> </span> für den Antrag,
                    Veröffentlichung von Projektdaten, OECD-Leitsätze für multinationale Unternehmen und
                    UN-Leitprinzipien für Wirtschafts- und Menschenrechte zur Kenntnis genommen.
                </div>
            </div>

        </div>
    </div>
    <br><br><br>
</div>
