<h4 class="info-text">Ihre Risiken</h4>
<h5 class="info-text">Bitte geben Sie an, gegen welche Risiken Sie sich absichern
    möchten </h5>

<div class="row">
    <div class="col-sm-10 col-sm-offset-1">

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2 ">
                <div class="choice <%= 'active' if @insurance.risk_supplier_credit_cover == 'on' %>" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[risk_supplier_credit_cover]", @insurance.risk_supplier_credit_cover ? @insurance.risk_supplier_credit_cover : nil %>

                    <div class="card card-checkboxes height-adjusted-big card-hover-effect">
                        <i class="ti-home"></i>
                        <p>Nichtbezahlung </p>
                        <p>(bekannt als Lieferantenkreditdeckung)</p>
                        <h7 style="color:#F3F2EE;">I</h7>
                    </div>
                </div>
            </div>

            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4">
                <div class="choice <%= 'active' if @insurance.risk_shipment_risk_cover == 'on' %>" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[risk_shipment_risk_cover]", @insurance.risk_shipment_risk_cover ? @insurance.risk_shipment_risk_cover : nil %>
                    <div class="card card-checkboxes card-hover-effect">
                        <i class="ti-package"></i>
                        <p>Vertragsstörung während der Fabrikationsphase</p>
                        <p>(bekannt als Fabrikationsrisikodeckung)</p>
                        <h7 style="color:red;">In Kürze verfügbar</h7>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
                <div class="choice <%= 'active' if @insurance.risk_contractual_warranty_coverage == 'on' %>" data-toggle="wizard-checkbox" onclick="ziehungVonGarantien()">

                    <%= check_box_tag "insurance[risk_contractual_warranty_coverage]", @insurance.risk_contractual_warranty_coverage ? @insurance.risk_contractual_warranty_coverage : nil %>

                    <div class="card card-checkboxes card-hover-effect">
                        <i class="ti-layout-accordion-merged"></i>
                        <p>Ziehung von Garantien</p>
                        <p>(bekannt als Vertragsgarantiedeckung)</p>
                        <h7 style="color:red;">In Kürze verfügbar</h7>
                    </div>
                </div>
            </div>

            <div id="entlastung" class="col-xs-4 col-sm-4 col-md-4 col-lg-4" style="display: none">

                <div class="choice <%= 'active' if @insurance.supplementary_risk_housebank_guarantee == 'on' %>" data-toggle="wizard-checkbox">
                    <%= check_box_tag "insurance[supplementary_risk_housebank_guarantee]", @insurance.supplementary_risk_housebank_guarantee ? @insurance.supplementary_risk_housebank_guarantee : nil %>
                    <div class="card card-checkboxes card-hover-effect">
                        <i class="ti-envelope"></i>
                        <p>Entlastung Ihrer Avallinie</p>
                        <p>(bekannt als Vertragsgarantiedeckung)</p>
                        <h7 style="color:red;">In Kürze verfügbar</h7>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-1 col-md-offset-2 col-lg-offset-2">
            <div class="choice <%= 'active' if @insurance.risk_further_coverage == 'on' %>" data-toggle="wizard-checkbox">
                <%= check_box_tag "insurance[risk_further_coverage]", @insurance.risk_further_coverage ? @insurance.risk_further_coverage : nil %>

                <div class="card card-checkboxes card-hover-effect">
                    <i class="ti-layout-grid4"></i>
                    <p>Weitere Deckungen</p>
                    <h7 style="color:red;">In Kürze verfügbar</h7>
                </div>
            </div>
        </div>
    </div>
</div>
