<div class="row">
    <div class="col-md-2">
        <%= render 'insurances/hermeskyc_menu' %>
    </div>

    <div class="col-md-10">
        <section id="SECTION_85">
            <div id="DIV_85">

                <div id="DIV_86">
                    <div id="DIV_87">
                        Notwendiges zum Schluss
                    </div>
                </div>

                <%= form_for @insurance, url: tradeinfo_insurance_path(@tradeinfo, @insurance), method: :put do |f| %>
                    <div id="DIV_91">
                        <div id="DIV_112">
                            <div id="DIV_228">

                                <div id="deliveryAddressCheck">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-1">
                                                <p> Haben Sie schon einmal Hermesdeckungen genutzt?
                                                <p>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-2">
                                                <%= f.check_box :country_category, id: "Yes-hermesdeckungNutz" %> Ja
                                            </div>
                                            <div class="col-md-4">
                                                <%= f.check_box :country_category, id: "No-hermesdeckungNutz" %> Nein
                                            </div>
                                        </div>

                                        <br><br>
                                    </div>
                                </div>


                                <div id="newAtHermesDeckung" style="display: none">
                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <p>Sie sind neu bei den Hermesdeckungen – wir möchten Sie daher gern
                                                kennenlernen.
                                                Bitte helfen Sie uns zu verstehen, inwieweit Sie bereits über
                                                Exporterfahrung
                                                und Erfahrungen mit säumigen Auslandskunden verfügen.</p> <br><br>

                                            <div class="col-md-10 col-md-offset-2">
                                                <p><i>Inwieweit bzw. seit wie vielen Jahren verfügen Sie über
                                                    Exporterfahrung
                                                    aus ungedeckten Geschäften, d.h. Exportgeschäfte ohne
                                                    Hermesdeckung?</i></p>
                                                <div> <%= f.text_field :experience_with_export_country, class: "form-control", required: true %> </div>
                                            </div>


                                            <div class="col-md-10 col-md-offset-2">
                                                <br><br>
                                                <p><i>Besteht eine langjährige Exporterfahrung sowie Marktkenntnis mit
                                                    dem
                                                    Empfängerland?</i></p>
                                                <%= f.text_field :experience_with_export_country, class: "form-control", required: true %>
                                            </div>

                                            <div class="col-md-10 col-md-offset-2 ">
                                                <br><br>
                                                <p><i> Bitte legen Sie dar, inwiefern Sie über ein adäquates
                                                    Schadenmanagement
                                                    verfügen. Wurden Sie in der Vergangenheit bereits (häufiger) mit
                                                    Zahlungsverzügen/ Forderungsausfällen konfrontiert und welche
                                                    Maßnahmen
                                                    greifen bei Ihnen im Unternehmen, wenn ein Kunde in Zahlungsverzug
                                                    gerät? </i></p>
                                                <%= f.text_field :adequate_claims_management, class: "form-control", required: true %>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                                <div id="firmenDaten">

                                    <br><br>
                                    <label class="control-label"> Bitte geben Sie Ihre Firmendaten an. </label>

                                    <div class="form-group">
                                        <div class="row">
                                            <br><br><br>
                                            <div class="col-md-4 col-md-offset-1">
                                                <p> Firmenname </p>
                                                <div> <%= f.text_field :country_category, class: "form-control"%> </div>
                                            </div>

                                            <div class="col-md-4 ">
                                                <p> DN-NR </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-3 ">
                                                <p> Handelsregisternummer </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4 col-md-offset-1">
                                                <p> Amtsgericht </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Straße / Hausnummer </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>

                                            <div class="col-md-3">
                                                <p> PLZ </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4 col-md-offset-1">
                                                <p> Ort </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Bundesland </p>
                                                <div> <%= f.text_field :country_category, class: "form-control"%> </div>
                                            </div>

                                            <div class="col-md-3">
                                                <p> Land </p>
                                                <div> <%= f.text_field :country_category, class: "form-control"  %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-5 col-md-offset-2">
                                                <p> Anzahl der Mitarbeiterinnen und Mitarbeiter </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-5">
                                                <p> Umsatz im letzten vollen Geschäftsjahr </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>


                                <br>
                                <hr align="middle" width="50%">

                                <div id="firmenDaten">

                                    <br><br>
                                    <label class="control-label"> Wen können wir ansprechen? </label>

                                    <div class="form-group">
                                        <div class="row">
                                            <br><br><br>
                                            <div class="col-md-4 col-md-offset-2">
                                                <%= f.select :country_category, [["Frau", "Frau"]], id: "B_168", prompt: "Herr" %>
                                            </div>

                                            <div class="col-md-4 ">
                                                <p> Titel </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4 col-md-offset-1">
                                                <p> First Name </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Last Name </p>
                                                <div> <%= f.text_field :country_category, class: "form-control"%> </div>
                                            </div>

                                            <div class="col-md-3">
                                                <p> Email </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4 col-md-offset-2">
                                                <p> Funktion </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Bereich </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <br>
                                <hr align="middle" width="50%">


                                <div id="uploadDocuments">

                                    <br><br>
                                    <label class="control-label"> Diese Anlagen benötigen wir für die Prüfung Ihres
                                        Geschäftes </label>


                                    <br><br><br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> Selbstauskunft (bei Neukunden) </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                    <br><br>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> Jahresabschlüsse Ihres Kunden </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                    <br><br><br>
                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> Auskünfte über Ihren Kunden </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                    <br><br>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> Umwelt- und Sozialinformationen </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                    <br><br>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> ggf. Projektmemorandum </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                    <br><br>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-1">
                                            <h4> Sonstiges </h4>
                                        </div>
                                        <div class="col-md-6">
                                            <%= f.file_field :country_category %>
                                        </div>
                                    </div>

                                </div>


                                <br>
                                <hr align="middle" width="50%">

                                <div id="deliveryAddressCheck">
                                    <div class="row">
                                        <br><br><br>
                                        <div class="col-md-10 col-md-offset-1">
                                            <label class="control-label">Sie beantragen die Absicherung folgender
                                                Risiken. </label><br><br>

                                            <p><i>Nichtzahlung der Forderung (Lieferantenkreditdeckung (G))</i></p> <br><br>


                                            <p>Möchten Sie die Selbstbeteiligung für wirtschaftliche Risiken gegen
                                                Zusatzentgelt
                                                auf 5 % absenken?</p>

                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-2">
                                            <%= f.check_box :country_category, id: "Yes-hermesdeckungNutz" %> Ja
                                        </div>
                                        <div class="col-md-4">
                                            <%= f.check_box :country_category, id: "No-hermesdeckungNutz" %> Nein
                                        </div>
                                    </div>

                                    <br><br>
                                </div>

                                <div id="deliveryAddressCheck">

                                    <div class="form-group">

                                        <div class="row">
                                            <br><br>
                                            <hr align="middle" width="50%">
                                            <div class="col-md-10 col-md-offset-1">

                                                <label class="control-label"> Bitte geben Sie die Erklärung zur
                                                    Korruptionsprävention ab. </label><br><br>

                                                <br><br>


                                                <p><b>Beachtung gesetzlicher Vorschriften </b> <br>
                                                    Wir erklären, dass der Abschluss des Liefer- bzw. Leistungsgeschäfts
                                                    nicht durch
                                                    eine strafbare Handlung eines Mitarbeiters, der Geschäftsleitung
                                                    oder
                                                    eines
                                                    Inhabers unseres Unternehmens oder einer anderen in unserem Auftrag
                                                    handelnden
                                                    Person herbeigeführt worden ist bzw. nicht durch eine derartige
                                                    Handlung
                                                    herbeigeführt werden wird. </p> <br><br>


                                                <p><b>Auskunftspflicht</b> <br>
                                                    Uns ist bekannt, dass wir im Antragsverfahren und nach Übernahme der
                                                    jeweils
                                                    beantragten Exportkreditgarantie sowie gemäß der bei Beantragung
                                                    einer
                                                    Exportkreditgarantie für einen gebundenen Finanzkredit abzugebenden
                                                    Verpflichtungserklärung über alle Umstände des zur Deckung
                                                    beantragten
                                                    Geschäfts, die für die Übernahme der Exportkreditgarantie erheblich
                                                    sind, dem
                                                    Bund vollständig und richtig Auskunft zu erteilen haben. Dies
                                                    umfasst
                                                    auch die
                                                    Beantwortung von Fragen des Bundes hinsichtlich der Identität von
                                                    Personen, die
                                                    in unserem Auftrag am Abschluss des Liefer- bzw. Leistungsgeschäfts
                                                    beteiligt
                                                    sind oder waren, sowie von Fragen über Grund und Höhe etwaiger
                                                    Zahlungen
                                                    an
                                                    diese Personen. </p> <br><br>


                                                <p><b>Angaben zu Anklagen, strafrechtlichen und nicht-strafrechtlichen
                                                    Sanktionen
                                                    sowie Ermittlungsverfahren und Sperrlisten</b> <br>
                                                    Mitarbeiter, die Geschäftsleitung oder Inhaber unseres Unternehmens
                                                    oder
                                                    andere
                                                    an diesem Vertragsabschluss beteiligte und in unserem Auftrag
                                                    handelnde
                                                    Personen
                                                    oder unser Unternehmen selbst sind/ist wegen eines
                                                    Korruptionsdelikts
                                                </p>
                                                <br><br>

                                                <ul class="text-white">
                                                    <br>
                                                    <li> gegenwärtig vor einem staatlichen Gericht angeklagt oder</li>
                                                    <br>
                                                    <li> innerhalb der letzten 5 Jahre von einem staatlichen Gericht
                                                        verurteilt
                                                        oder
                                                    </li>
                                                    <br>
                                                    <li> mit einer mit einem Gerichtsurteil vergleichbaren
                                                        nicht-strafrechtlichen
                                                        Sanktion belegt worden oder
                                                    </li>
                                                    <br>
                                                    <li> einem staatsanwaltschaftlichen Ermittlungsverfahren unterworfen
                                                        worden oder

                                                    </li>
                                                    <br>
                                                    <li> auf einer Sperrliste einer internationalen Finanzorganisation
                                                        aufgeführt.

                                                    </li>


                                                </ul>


                                            </div>
                                        </div>
                                    </div>
                                    <br>


                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-2">
                                            <%= f.check_box :country_category, id: "Yes-hermesdeckungNutz" %> Trifft zu
                                            (Nähere
                                            Angaben erforderlich. Lesen Sie hierzu auch die Hinweise)
                                        </div>
                                        <div class="col-md-4">
                                            <%= f.check_box :country_category, id: "No-hermesdeckungNutz" %> Trifft
                                            nicht zu
                                        </div>
                                        <br><br>
                                    </div>

                                    <hr align="middle" width="50%">

                                    <div class="row">
                                        <br><br>

                                        <p>Im Fall eines Konsortiums oder einer Arbeitsgemeinschaft ist die Erklärung
                                            vom
                                            Konsortialführer für alle Konsortialpartner bzw. von einem Mitglied der
                                            Arbeitsgemeinschaft stellvertretend für alle anderen Mitglieder
                                            abzugeben</p>
                                        <br><br>

                                        <div class="col-md-4 col-md-offset-2">
                                            <%= f.check_box :country_category, id: "Yes-WorkAssociation" %> Konsortium
                                            oder
                                            Arbeitsgemeinschaft
                                        </div>
                                        <div class="col-md-4">
                                            <%= f.check_box :country_category, id: "No-WorkAssociation" %> Wir arbeiten
                                            für
                                            dieses Geschäft nicht in einem Konsortium oder einer Arbeitsgemeinschaft
                                        </div>

                                    </div>

                                    <br><br>


                                    <div id="workAssociationExist" style="display: none">
                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <br><br>
                                                    <p><i>Bitte geben Sie die Firmen an
                                                    </i></p>
                                                    <%= f.text_field :country_category, class: "form-control" %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="col-md-10 col-md-offset-1">
                                        <%= f.check_box :country_category, id: "Yes-WorkAssociation" %>
                                        Die vorstehenden Angaben wurden von uns nach bestem Wissen und Gewissen und in
                                        Kenntnisnahme der Erläuterungen gemacht
                                    </div>

                                    <br><br><br><br>
                                    <hr align="middle" width="50%">
                                    <br><br>

                                    <p>Liefern Sie gemeinsam mit Verbundunternehmen oder sind Zwischenhändler
                                        eingesetzt? Dann
                                        müssen diese die Erklärung zur Korruptionsprävention separat unterzeichnen.
                                        Bitte leiten
                                        Sie das Formular entsprechend weiter und reichen es uns nach.</p>


                                    <div id="finalDeclaration">

                                        <br><br>
                                        <label class="control-label"> Bitte geben Sie zuletzt noch die
                                            Abschlusserklärungen
                                            ab.</label>

                                        <div class="row">
                                            <br><br><br>

                                            <div class="col-md-11    col-md-offset-1">
                                                <%= f.check_box :country_category, id: "Yes-WorkAssociation" %>
                                                Wir akzeptieren die Allgemeinen Bedingungen für Lieferantenkreditdeckung
                                                (G)
                                                in Zusammenhang mit den Ergänzenden Bestimmungen für
                                                Forderungsabtretungen
                                            </div>


                                            <div class="col-md-11 col-md-offset-1">
                                                <br><br>
                                                <%= f.check_box :country_category, id: "Yes-WorkAssociation" %>
                                                Wir haben die Datenschutzhinweise zur Kenntnis genommen und sind mit
                                                deren
                                                Geltung einverstanden.
                                            </div>

                                            <div class="col-md-11 col-md-offset-1">
                                                <br><br>
                                                <%= f.check_box :country_category, id: "Yes-WorkAssociation" %>
                                                Wir haben die Hinweise zu Gebühren und Entgelten, Richtlinien,
                                                Verantwortlichkeiten für den Antrag, Veröffentlichung von Projektdaten,
                                                OECD-Leitsätze für multinationale Unternehmen und UN-Leitprinzipien für
                                                Wirtschafts- und Menschenrechte zur Kenntnis genommen.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div id="DIV_296">
                                <a href="#details" id="A_296">Zurück</a>
                                <button type="submit" value="-1" id="BUTTON_297"> Submit </button>
                            </div>
                        </div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>

<script>

    $(function () {
        $("#Yes-hermesdeckungNutz").click(function () {
            if ($(this).is(":checked")) {
                $("#newAtHermesDeckung").show();
            } else {
                $("#newAtHermesDeckung").hide();
            }
        });
    });

    $(function () {
        $("#Yes-WorkAssociation").click(function () {
            if ($(this).is(":checked")) {
                $("#workAssociationExist").show();
            } else {
                $("#workAssociationExist").hide();
            }
        });
    });


</script>





