<div class="row">
    <div class="col-md-2">
        <%= render 'insurances/hermeskyc_menu' %>
    </div>

    <div class="col-md-10">

        <section id="SECTION_85">
            <div id="DIV_85">

                <div id="DIV_86">
                    <div id="DIV_87">
                        Ihr Geschäft
                    </div>
                </div>

                <%= form_for @insurance, url: tradeinfo_insurance_path(@tradeinfo, @insurance), method: :put do |f| %>
                    <div id="DIV_91">

                        <div id="DIV_228">
                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Bitte beschreiben Sie Ihr Exportgeschäft.</p>
                                        <div> <%= f.text_field :describe_export_business, class: "form-control", required: true %> </div>
                                    </div>
                                </div>
                                <br><br>
                            </div>

                            <div class="form-group">

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Bitte helfen Sie uns nun, das Vorhaben gut zu verstehen. Folgende Leitfragen
                                            sowie
                                            das Beispiel hinter dem Info-Button können Ihnen hierbei helfen:</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Wofür benötigt Ihr Kunde die Maschinen/Güter/Anlagen bzw. die
                                            Dienstleistung?
                                            Handelt es sich bspw. um eine Ersatz- oder um eine Neuinvestition? Wenn Sie
                                            Leistungen (Montage, Schulungen vor Ort, etc.) erbringen, können Sie diese
                                            hier
                                            ebenfalls beschreiben.
                                        </p>
                                        <div> <%= f.text_field :reason_for_buying_good, class: "form-control", required: true %> </div>
                                    </div>
                                </div>


                                <br><br>
                            </div>

                            <div class="form-group">
                                <div class="row">

                                    <div class="col-md-10  col-md-offset-2">
                                        <%= f.check_box :also_provide_service_training, id: "garantee" %> Wir erbringen auch
                                        Leistungen
                                        (Montage,
                                        Schulungen vor Ort, etc.)
                                    </div>
                                </div>

                                <br><br>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Bitte ordnen Sie die von Ihnen zu liefernden Waren/Güter/Anlagen bzw.
                                            Dienstleistungen
                                            Ihrer Branche und der passenden Warenart zu. </p>
                                        <br>

                                    </div>
                                    <div class="col-md-6 col-md-offset-4">

                                        <%= f.select :product_branch, [["Bergbau, inkl. Verarbeitung", "Bergbau, inkl. Verarbeitung"], ["Erdöl- und Erdgasförderung inkl. Verarbeitung"],
                                                                         ["Chemie"], ["Energie"], ["Infrastruktur"], ["Papier- , Holz-, Leder- und Textilindustrie"],
                                                                         ["Agrarsektor und Nahrungsmittelindustrie"], ["Verarbeitende Industrie"], ["Umwelttechnik"],
                                                                         ["Dienstleistungen"]], id: "sample-status-select", prompt: "Select..." %>

                                    </div>

                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-md-10 col-md-offset-2">
                                    <p> Bitte konkretisieren Sie Ihre Branche weiter </p>
                                    <div> <%= f.text_field :explain_product_branch, class: "form-control", required: true %> </div>
                                </div>
                            </div>


                            <br><br>

                            <div id="workwithothercompanies">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Liefern/Leisten Sie im Rahmen eines Gesamtprojekts zusammen mit anderen
                                                Unternehmen?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :part_of_big_project_yes, id: "ja" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :part_of_big_project_no, id: "nein" %> Nein
                                        </div>
                                    </div>
                                    <br>
                                </div>

                            </div>


                            <div id="showHideDivJaWorkOtherCompanies" style="display: none">
                                <br><br>
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Bitte beschreiben Sie das Gesamtprojekt detaillierter</p>
                                        <div> <%= f.text_field :explain_complete_project, class: "form-control" %> </div>
                                    </div>
                                </div>

                                <br><br><br>

                                <div class="row">

                                    <div class="col-md-2  col-md-offset-2">
                                        <%= f.check_box :overall_responsibility_project_taken, id: "investmentGood" %> Yes
                                    </div>

                                    <div class="col-md-7">
                                        <p> Wir tragen die Gesamtverantwortung für das Projekt </p>
                                    </div>
                                </div>

                                <br><br>
                                <hr align="middle" width="90%">
                                <br>

                                <div class="form-group">
                                    <p> Wie hoch ist das Gesamtprojektvolumen? </p>
                                    <br><br>

                                    <div class="row">

                                        <div class="col-md-3 col-md-offset-2">
                                            <%= f.select :overall_project_volume_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "Currency..." %>
                                        </div>

                                        <div class="col-md-5 ">
                                            <%= f.text_field :overall_project_volume, class: "form-control"%>
                                        </div>

                                    </div>
                                </div>

                                <br><br>
                                <hr align="middle" width="90%">
                                <br><br>

                                <div class="form-group">
                                    <div class="col-md-11 col-md-offset-1">
                                        <p> Bitte tragen Sie hier so detailliert wie möglich ein, wie das Gesamtprojekt
                                            finanziert ist. </p>
                                    </div>
                                    <br><br>

                                    <p><i>Mittelverwendung</i></p>

                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-1">
                                            <%= f.text_field :use_of_fund, class: "form-control",  placeholder: "fiktives Beispiel: Maschine \"x\"", prompt: "fiktives Beispiel: Maschine \"x\" " %>
                                        </div>

                                        <div class="col-md-3 ">
                                            <%= f.select :use_of_fund_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "Currency..." %>
                                        </div>

                                        <div class="col-md-4 ">
                                            <%= f.text_field :amount_of_fund, class: "form-control", placeholder: "Betrag" %>
                                        </div>
                                    </div>

                                    <br><br><br>

                                    <p><i>Mittelherkunft</i></p>

                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-1">
                                            <%= f.text_field :source_of_fund, class: "form-control", placeholder: "z.B. \"ECA-Finanzierung\" " %>
                                        </div>

                                        <div class="col-md-3 ">
                                            <%= f.select :source_of_fund_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "Currency..." %>
                                        </div>

                                        <div class="col-md-4 ">
                                            <%= f.text_field :source_of_fund_amount, class: "form-control", placeholder: "Betrag" %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>

                            <div class="form-group">
                                <hr align="middle" width="90%">
                                <div class="col-md-10 col-md-offset-2">
                                    <p> Betreffen Ihre Lieferungen bzw. Leistungen ein sensibles Gebiet? </p>
                                    <br>

                                    <p><i>Als sensible Gebiete gelten Nationalparks und andere durch nationales oder
                                        internationales Recht geschützte Gebiete sowie sensible Regionen von
                                        internationaler,
                                        nationaler oder regionaler Bedeutung.</i></p>
                                    <br><br><br>
                                </div>

                                <div class="row">
                                    <div class="col-md-3 col-md-offset-2">
                                        <%= f.check_box :delivery_doesnt_affects_sensitive_areas, id: "privateSector" %>
                                        <br><br>
                                        <div><p> Nein </p></div>
                                    </div>

                                    <div class="col-md-4">
                                        <%= f.check_box :delivery_affects_natural_reserves, id: "privateSector" %>
                                        <br><br>
                                        <div><p> Naturschutzgebiet </p></div>
                                    </div>

                                    <div class="col-md-3">
                                        <%= f.check_box :delivery_affects_indigenous_people, id: "privateSector" %>
                                        <br><br>
                                        <div><p>Bedeutung für indigene Völker </p></div>
                                    </div>
                                </div>

                                <br><br>
                                <br><br>

                                <div class="row">

                                    <div class="col-md-5  col-md-offset-2">
                                        <%= f.check_box :delivery_affects_cultural_heritage, id: "privateSector" %>
                                        <br><br>
                                        <div><p> Archäologische oder kulturelle Bedeutung </p></div>
                                    </div>

                                    <div class="col-md-4">
                                        <%= f.check_box :delivery_affects_other, id: "privateSector" %>
                                        <br><br>
                                        <div><p> Sonstige </p></div>
                                    </div>
                                </div>

                                <div id="entlastung" class="col-md-10 col-md-offset-2" style="display: none">
                                    <p>Bitte konkretisieren Sie, um was für ein sensibles Gebiet es sich handelt
                                    <p></p>
                                    <%= f.text_field :delivery_affects_other_explain, class: "form-control"%>
                                </div>
                                <hr align="middle" width="90%">

                                <br><br>
                            </div>


                            <div id="workwithothercompanies">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Ist Ihr Export ausfuhrgenehmigungspflichtig?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_export_requires_exportlicense, id: "ja_exportlicense_requirement" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_export_requires_exportlicense, id: "nein_exportlicense_requirement" %>
                                            Nein
                                        </div>
                                    </div>
                                </div>
                                <br><br>
                            </div>

                            <div id="exportLicenseRequirement" style="display: none">

                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Aus welchen Vorschriften bzw. welchem Teil/Abschnitt der Ausfuhrliste ergibt
                                            sich
                                            die Genehmigungspflicht? </p>
                                        <div> <%= f.text_area :which_regulation_requires_exportlicense, class: "form-control" %> </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <br><br>
                                        <p> Die Ausfuhrgenehmigung .. </p>
                                    </div>

                                    <div class="col-md-6 col-md-offset-4">
                                        <%= f.select :exportlicense_status, [["... wurde erteilt.", "... wurde erteilt."], ["... ist beantragt.", "... ist beantragt."], ["... ist noch zu beantragen.", "... ist noch zu beantragen."]], id: "B_168", prompt: "... wurde erteilt." %>
                                    </div>
                                </div>

                            </div>

                            <div id="workwithothercompanies">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <br>
                                            <p> Liefern Sie gebrauchte Ware?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_deliver_secondhand_goods, id: "yes_secondhand_goods" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_dont_deliver_secondhand_goods, id: "no_secondhand_goods" %> Nein
                                        </div>
                                    </div>

                                </div>

                                <br>
                            </div>

                            <div id="deliverSecondHandGoods" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wann wurde die Ware ursprünglich gefertigt und wie lang ist die
                                                Restlebensdauer?</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br><br>
                                        <div class="col-md-4 col-md-offset-3">
                                            <div> <%= f.text_field :product_original_date_of_manifacture, class: "form-control", placeholder: "Jahr der Fertigung" %> </div>
                                        </div>
                                        <div class="col-md-4 ">
                                            <div> <%= f.text_field :product_remaining_life, class: "form-control", placeholder: "Restlebensdauer in Jahren"%> </div>
                                        </div>
                                    </div>
                                    <br><br>


                                    <div id="outdatedGoods">
                                        <div class="form-group">

                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <br><br>
                                                    <p> Wird die Ware vor dem Weiterverkauf überholt? </p>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col-md-3 col-md-offset-4">
                                                    <%= f.check_box :yes_good_overhauled_before_reselling, id: "yes_outdated_goods" %> Ja
                                                </div>
                                                <div class="col-md-3">
                                                    <%= f.check_box :no_good_arent_overhauled_before_reselling, id: "no_outdated_goods" %> Nein
                                                </div>
                                            </div>


                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <br><br>
                                                    <p> Wo wird die Ware überholt? </p>
                                                </div>
                                            </div>
                                            <br>

                                            <div class="row">
                                                <div class="col-md-6 col-md-offset-4">
                                                    <%= f.select :goods_overhauled_location, [["In Deuschland", "In Deuschland"], ["im Ausland", "im Ausland"],
                                                                                     ["sowohl als auch", "sowohl als auch"]], id: "B_168", prompt: "Deutschland oder Ausland..." %>

                                                </div>
                                            </div>
                                        </div>

                                        <br>
                                    </div>

                                </div>
                            </div>


                            <div id="workwithothercompanies">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <br>
                                            <p> Haben bereits alle Parteien den Vertrag für das Exportgeschäft
                                                unterzeichnet?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_contract_already_signed_all_parties, id: "ja_contractsigned" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_contract_already_signed_all_parties, id: "nein_contractsigned" %> Nein
                                        </div>
                                    </div>

                                </div>
                                <br><br>
                            </div>


                            <div id="contractSigned" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Bitte geben Sie das Abschlussdatum des Vertrags und optional eine interne
                                                Referenz an</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br><br>
                                        <div class="col-md-4 col-md-offset-3">
                                            <div> <%= f.date_field :goods_completion_date, id: "start_date", type: "date", class: "datepicker" %> </div>
                                        </div>

                                        <div class="col-md-4 ">
                                            <div> <%= f.text_field :companny_internal_id, class: "form-control", placeholder: "Ihre interne Vertragskennung"%> </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div id="specialContractStructure">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Vereinbaren Sie mit Ihrem Vertragspartner eine besondere
                                                Vertragsstruktur?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_special_contract_structure, id: "yes_specialcontractstructure" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_special_contract_structure, id: "no_specialcontractstructure" %> Nein
                                        </div>
                                    </div>
                                </div>

                                <br><br>
                            </div>

                            <div id="yesNoSpecialContractStructure" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Bitte erläutern Sie diese näher.</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <div> <%= f.text_field :explain_special_contract_structure, class: "form-control"  %> </div>
                                        </div>
                                        <br><br><br>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Wenn Sie möchten, laden Sie eine graphische Darstellung (z.B. Zusammenhang
                                            der Projektbeteiligten) hoch. </p>
                                        <br><br>
                                    </div>
                                    <div class="col-md-7 col-md-offset-4">
                                        <%= f.file_field :graphic_representation_project_participants %>
                                        <br><br>
                                    </div>
                                </div>

                            </div>


                            <div id="workwithothercompanies">
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p> Welche Vertragswährung vereinbaren Sie?
                                        </p>
                                    </div>

                                    <div class="col-md-6 col-md-offset-4">
                                        <%= f.select :contract_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "Currency..." %>
                                    </div>
                                </div>
                            </div>


                            <div id="contractAmount">
                                <br><br><br><br><br><br>

                                <div class="form-group">
                                    <div class="row">

                                        <hr align="middle" width="90%">
                                        <br><br>
                                        <div class="col-md-10 col-md-offset-2">

                                            <h3> Bitte geben Sie den Auftragswert an. </h3>

                                            <div class="row">
                                                <br>
                                                <div class="col-md-4 col-md-offset-2">
                                                    <%= f.select :order_value_export_business_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                                </div>
                                                <div class="col-md-4 ">
                                                    <div> <%= f.text_field :order_value_export_business_currency_amount, class: "form-control", placeholder: "0,00" %> </div>
                                                </div>
                                            </div>
                                            <br><br>
                                            <div class="row">
                                                <br>
                                                <h4><i>Wie hoch ist der Lieferwert?</i></h4>
                                                <div class="col-md-10 col-md-offset-2">
                                                    <div> <%= f.text_field :total_delivery_value, class: "form-control", placeholder: "0,00" %> </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <br>
                                                <h4><i> Wie hoch ist der Anteil der Ersatzteile am Auftragswert?</i>
                                                </h4>
                                                <div class="col-md-10 col-md-offset-2">
                                                    <div> <%= f.text_field :percentage_of_spare_parts_in_whole_order, class: "form-control", placeholder: "0,00" %> </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <br>
                                                <h4><i> Wenn weitere Bestandteile offen gegenüber Ihrem Kunden
                                                    ausgewiesen werden, tragen Sie diese bitte hier ein.</i></h4>
                                                <div class="col-md-3 col-md-offset-1">
                                                    <%= f.select :more_components_open_to_exporter_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                                </div>
                                                <div class="col-md-4">
                                                    <div> <%= f.text_field :more_components_open_to_exporter_amount, class: "form-control", placeholder: "Betrag"  %> </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div> <%= f.text_field :more_components_open_to_exporter_explain, class: "form-control", placeholder: "Beschreibung" %> </div>
                                                </div>
                                            </div>

                                            <br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr align="middle" width="90%">

                            <div id="interestCountedCustomer">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Berechnen Sie Ihrem Kunden Zinsen?
                                            <p>
                                        </div>
                                    </div>
                                    <br>


                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :ja_customer_counts_interest, id: "ja_customercountsinterest" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_customer_counts_interest, id: "nein_customercountsinterest" %> Nein
                                        </div>
                                    </div>
                                </div>

                                <br><br>
                            </div>

                            <div id="yesNoCustomerCountInterest" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Bitte geben Sie die Zinsen an:</p>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-2 col-md-offset-3">
                                            <%= f.select :interest_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "EUR" %>
                                        </div>
                                        <div class="col-md-7">
                                            <div> <%= f.text_field :interest_amount, class: "form-control", placeholder: "Betrag" %> </div>
                                        </div>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>

                            <hr align="middle" width="90%">

                            <div id="priceAdjustmentClause">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Haben Sie mit Ihrem Kunden eine Preisgleitklausel vereinbart?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_price_adjustment_clause, id: "ja_priceadjustmentclause" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_price_adjustment_clause, id: "nein_priceadjustmentclause" %> Nein
                                        </div>
                                    </div>

                                    <br><br>

                                </div>
                            </div>


                            <div id="yesNoPriceAdjustmentClause" style="display: none">

                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <div> <%= f.text_field :explain_billing_methods, class: "form-control", placeholder: "Bitte beschreiben Sie die Details zur Verrechnungsmethode (Prozent- oder Betragsverfahren)." %> </div>
                                        </div>
                                        <br><br><br>
                                    </div>
                                </div>
                            </div>

                            <hr align="middle" width="90%">

                            <div id="multipleDeliveries">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Versenden Sie Ihre Waren/Güter/Anlagen in mehreren Lieferungen?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :yes_multiple_deliveries, id: "ja_multipledeliveries" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :no_multiple_deliveries, id: "nein_multipledeliveries" %> Nein
                                        </div>
                                    </div>

                                    <br><br>
                                </div>
                            </div>

                            <div id="yesNoMultipleDeliveries" style="display: none">

                                <div class="form-group">
                                    <div class="row">

                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Bitte teilen Sie uns die Liefer- und ggf. Leistungstermine Ihres
                                                Exportgeschäftes
                                                mit.
                                            </p>
                                        </div>

                                        <br>
                                        <div class="col-md-3 col-md-offset-4">
                                            <h4><i>Lieferbeginn</i></h4>
                                            <div> <%= f.date_field :delivery_start, id: "start_date", type: "date", class: "datepicker" %> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <h4><i>Lieferende</i></h4>
                                            <div> <%= f.date_field :delivery_end, id: "start_date", type: "date", class: "datepicker" %> </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br>
                                        <div class="col-md-3 col-md-offset-4">
                                            <div> <%= f.text_field :other_important_delivery_information, class: "form-control", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :other_important_delivery_milestones, class: "form-control", placeholder: "z.B. Milestone xy" %> </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <hr align="middle" width="90%">

                            <div id="termOfPayments">

                                <div class="form-group">
                                    <div class="row">
                                        <br>
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wie sind Ihre Zahlungsbedingungen gestaltet?
                                            <p>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-3 col-md-offset-1">
                                                <%= f.check_box :payment_term_shortterm, id: "kurzfristig-termofpayments" %>
                                                <br><br>
                                                <div><p><b> kurzfristig (bis zu 2 Jahre Kreditlaufzeit) </b></p></div>
                                            </div>

                                            <div class="col-md-4">
                                                <%= f.check_box :payment_term_middleterm, id: "mittel-termofpayments" %>
                                                <br><br>
                                                <div><p><b> mittel-/langfristig (über 2 Jahre Kreditlaufzeit) </b></p>
                                                </div>
                                            </div>

                                            <div class="col-md-4">
                                                <%= f.check_box :payment_term_both, id: "sowohlkurzfristig-termofpayments" %>
                                                <br><br>
                                                <div><p><b> sowohl kurzfristig als auch mittel-/langfristig </b></p>
                                                </div>
                                            </div>
                                        </div>

                                        <hr align="middle" width="90%">

                                        <br><br>
                                    </div>

                                </div>
                            </div>

                            <div id="KurzFristigTermOfPayment" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <br>
                                        <p> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn geleistet
                                            wird,
                                            geben Sie bitte den entsprechenden Betrag an.</p>
                                        <div class="col-md-3 col-md-offset-1">
                                            <%= f.select :downpayment_delivery_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :downpayment_delivery_amount, class: "form-control", placeholder: "Betrag" %> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :downpayment_delivery_description, class: "form-control", placeholder: "Beschreibung"  %> </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br><br><br><br>
                                        <p> Welche Zahlungen vereinbaren Sie?</p>

                                        <div class="col-md-2 ">
                                            <p>1. Rate</p>
                                        </div>
                                        <div class="col-md-2">
                                            <%= f.select :agreed_payments_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                        </div>
                                        <div class="col-md-1">
                                            <div> <%= f.text_field :agreed_payments_amount, class: "form-control", placeholder: "0,00" %> </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div> <%= f.text_field :agreed_payments_output, class: "form-control" %> </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <p>%</p>
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.select :agreed_payments_time, [["bis zu 1 Monate", "bis zu 1 Monate"], ["bis zu 2 Monate", "bis zu 2 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 3 Monate"], ["bis zu 4 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 5 Monate"], ["bis zu 6 Monate", "bis zu 6 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 7 Monate"], ["bis zu 8 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 9 Monate"], ["bis zu 10 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 11 Monate"], ["bis zu 12 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 13 Monate"], ["bis zu 14 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 15 Monate"], ["bis zu 16 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 17 Monate"], ["bis zu 18 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 19 Monate"], ["bis zu 20 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 21 Monate"], ["bis zu 22 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 23 Monate"], ["bis zu 24 Monate", "bis zu 4 Monate"]
                                            ], id: "B_168" %>
                                        </div>

                                        <div class="col-md-2">
                                            <div> <%= f.text_field :agreed_payments_some_output, class: "form-control" %> </div>
                                        </div>


                                        <div id="workwithothercompanies">
                                            <div class="row">
                                                <div class="col-md-10 col-md-offset-2">
                                                    <br><br><br>
                                                    <p> Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel oder
                                                        Promissory
                                                        Notes
                                                        vereinbart haben, so geben Sie dies bitte hier an.
                                                    </p>
                                                    <div> <%= f.text_field :payment_vehichle, class: "form-control"  %> </div>
                                                </div>
                                            </div>

                                            <br><br>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="MittelTermOfPayment" style="display: none">

                                <div class="form-group">


                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wann werden Sie die Anzahlung erhalten?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :receive_deposit_time, [["vor Fabrikationsbeginn", "vor Fabrikationsbeginn"],
                                                                             ["vor Liefer /- Leistungbeginn", "vor Liefer /- Leistungbeginn"],
                                                                             ["bei Betriebsbereitschaft", "bei Betriebsbereitschaft"],
                                                                             ["anderer Termin", "anderer Termin"]], id: "B_168", prompt: "vor Fabrikationsbeginn..." %>
                                        </div>
                                    </div>

                                    <br><br>


                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wie gestaltet sich das Tilgungsprofil?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :repayment_profile_structure, [["Monatliche Tilgungsraten", "Monatliche Tilgungsraten"],
                                                                             ["Vierteljährliche Tilgungsprofil", "Vierteljährliche Tilgungsprofil"],
                                                                             ["Halbjährige Tilgungsprofil", "Halbjährige Tilgungsprofil"],
                                                                             ["Unregelmäßig", "Unregelmäßig"],
                                            ], id: "B_168" %>
                                        </div>
                                    </div>

                                    <br><br>

                                    <hr align="middle" width="90%">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wann beginnt die Kreditlaufzeit (Starting Point)?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :loan_term_start, [["mit Lieferung", "mit Lieferung"],
                                                                             ["mit erster Lieferung (bei mehreren Lieferungen)", "mit erster Lieferung (bei mehreren Lieferungen)"],
                                                                             ["mit jeweiliger Lieferung (bei mehreren Lieferungen)", "mit jeweiliger Lieferung (bei mehreren Lieferungen)"],
                                                                             ["mittlerer gewogener Liefertermin (bei mehreren Lieferungen)", "mittlerer gewogener Liefertermin (bei mehreren Lieferungen)"],
                                                                             ["mit Betriebsbereitschaft", "mit Betriebsbereitschaft"],
                                                                             ["sonstige", "sonstige"],

                                            ], id: "B_168" %>


                                        </div>
                                        <div class="col-md-8 col-md-offset-3">
                                            <br>
                                            <%= f.text_field :loan_term_other_description, class: "form-control", placeholder: "Wenn sonstige ausgewahlt, bitte erläutern Sie, wann die Kreditlaufzeit beginnt." %>
                                        </div>

                                    </div>

                                </div>

                                <hr align="middle" width="90%">
                                <br>

                                <div id="workwithothercompanies">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Bitte geben Sie hier die Anzahl der Raten ein
                                            </p>

                                            <div class="col-md-6 col-md-offset-3">
                                                    <%= f.text_field :number_of_installments, class: "form-control", placeholder: "Anzahl der Raten" %>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                </div>

                            </div>

                            <div id="SonstigeKurzFristigTermOfPayment" style="display: none">

                                <div class="form-group">

                                    <div class="row">
                                        <br>
                                        <p> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn geleistet
                                            wird,
                                            geben Sie bitte den entsprechenden Betrag an.</p>
                                        <div class="col-md-3 col-md-offset-1">
                                            <%= f.select :down_payment_before_delivery_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :down_payment_before_delivery_amount, class: "form-control", placeholder: "Betrag" %> </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :down_payment_before_delivery_explain, class: "form-control", placeholder: "Beschreibung" %> </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <br>
                                        <p> Welche Zahlungen vereinbaren Sie?</p>

                                        <div class="col-md-2 ">
                                            <p>1. Rate</p>
                                        </div>
                                        <div class="col-md-2">
                                            <%= f.select :sonstige_kurzfrist_agreed_payment_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                        </div>
                                        <div class="col-md-1">
                                            <div> <%= f.text_field :sonstige_kurzfrist_agreed_payment_amount, class: "form-control", placeholder: "0,00" %> </div>
                                        </div>
                                        <div class="col-md-1">
                                            <div> <%= f.text_field :sonstige_kurzfrist_agreed_payment_percent, class: "form-control" %> </div>
                                        </div>
                                        <div class="col-md-1 ">
                                            <p>%</p>
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.select :sonstige_kurzfrist_agreed_payment_date, [["bis zu 2 Monate", "bis zu 2 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 3 Monate"], ["bis zu 4 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 5 Monate"], ["bis zu 6 Monate", "bis zu 6 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 7 Monate"], ["bis zu 8 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 9 Monate"], ["bis zu 10 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 11 Monate"], ["bis zu 12 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 13 Monate"], ["bis zu 14 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 15 Monate"], ["bis zu 16 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 17 Monate"], ["bis zu 18 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 19 Monate"], ["bis zu 20 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 21 Monate"], ["bis zu 22 Monate", "bis zu 4 Monate"],
                                                                             ["bis zu 2 Monate", "bis zu 23 Monate"], ["bis zu 24 Monate", "bis zu 4 Monate"]
                                            ], id: "B_168", prompt: "bis zu 1 Monate" %>
                                        </div>

                                        <div class="col-md-2">
                                            <div> <%= f.text_field :sonstige_kurzfrist_agreed_payment_output, class: "form-control" %> </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <br><br><br>
                                        <p>Bitte geben Sie die Höhe der An- und Zwischenzahlungen an.</p> <br>

                                        <h4><i>Bitte beachten Sie, dass die Anzahlung stets vor Lieferung gezahlt werden
                                            und bei
                                            mittel- /langfristigen Zahlungsbediungungen mindestens 15 % des
                                            Auftragswerts
                                            betragen
                                            muss (auf Grund internationaler Bestimmungen).. </i></h4>
                                        <br>

                                        <div class="col-md-3 col-md-offset-1">
                                            <%= f.select :sonstige_kurzfrist_advance_payment_currency, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168" %>
                                        </div>
                                        <div class="col-md-4">
                                            <div> <%= f.text_field :sonstige_kurzfrist_advance_payment_amount, class: "form-control", placeholder: "0,00" %> </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div> <%= f.text_field :sonstige_kurzfrist_advance_payment_explain, class: "form-control", placeholder: "" %> </div>
                                        </div>
                                        <div class="col-md-1">
                                            <p>%</p>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wann werden Sie die Anzahlung erhalten?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :sonstige_kurzfrist_deposit_received, [["vor Fabrikationsbeginn", "vor Fabrikationsbeginn"],
                                                                             ["vor Liefer /- Leistungbeginn", "vor Liefer /- Leistungbeginn"],
                                                                             ["bei Betriebsbereitschaft", "bei Betriebsbereitschaft"],
                                                                             ["anderer Termin", "anderer Termin"]], id: "B_168", prompt: "vor Fabrikationsbeginn..." %>
                                        </div>
                                    </div>

                                    <br><br>


                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wie gestaltet sich das Tilgungsprofil?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :sonstige_kurzfrist_repayment_structure, [["Monatliche Tilgungsraten", "Monatliche Tilgungsraten"],
                                                                             ["Vierteljährliche Tilgungsprofil", "Vierteljährliche Tilgungsprofil"],
                                                                             ["Halbjährige Tilgungsprofil", "Halbjährige Tilgungsprofil"],
                                                                             ["Unregelmäßig", "Unregelmäßig"],
                                            ], id: "B_168", prompt: "Monatliche Tilgungsraten..." %>
                                        </div>
                                    </div>

                                    <br><br>

                                    <hr align="middle" width="90%">

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p>Wann beginnt die Kreditlaufzeit (Starting Point)?
                                            </p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-6 col-md-offset-4">
                                            <%= f.select :sonstige_kurzfrist_credit_start, [["mit Lieferung", "mit Lieferung"],
                                                                             ["mit erster Lieferung (bei mehreren Lieferungen)", "mit erster Lieferung (bei mehreren Lieferungen)"],
                                                                             ["mit jeweiliger Lieferung (bei mehreren Lieferungen)", "mit jeweiliger Lieferung (bei mehreren Lieferungen)"],
                                                                             ["mittlerer gewogener Liefertermin (bei mehreren Lieferungen)", "mittlerer gewogener Liefertermin (bei mehreren Lieferungen)"],
                                                                             ["mit Betriebsbereitschaft", "mit Betriebsbereitschaft"],
                                                                             ["sonstige", "sonstige"],

                                            ], id: "B_168", prompt: "mit Lieferung..." %>


                                        </div>
                                        <div class="col-md-8 col-md-offset-3">
                                            <br>
                                            <%= f.text_field :sonstige_kurzfrist_credit_start_sonstige_explain, class: "form-control", placeholder: "Wenn sonstige ausgewahlt, bitte erläutern Sie, wann die Kreditlaufzeit beginnt." %>
                                        </div>

                                    </div>
                                </div>

                                <div id="workwithothercompanies">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Bitte geben Sie hier die Anzahl der Raten ein
                                            </p>

                                            <div class="col-md-6 col-md-offset-3">
                                                <%= f.text_field :sonstige_kurzfrist_number_of_installments, class: "form-control", placeholder: "Anzahl der Raten" %>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>
                                </div>


                                <div id="workwithothercompanies">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">

                                            <p> Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel oder Promissory
                                                Notes vereinbart haben, so geben Sie dies bitte hier an.
                                            </p>
                                            <div> <%= f.text_field :sonstige_kurzfrist_payment_vehichle_explain, class: "form-control" %> </div>
                                        </div>
                                    </div>

                                    <br><br>
                                </div>

                            </div>

                            <div id="certificateOfOrigin">
                                <div class="form-group">
                                    <div class="col-md-10 col-md-offset-2">
                                        <p>Bekommen Sie für die zu liefernde Ware ein deutsches
                                            Warenursprungszeugnis? </p>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-1">
                                            <%= f.check_box :yes_sonstige_kurzfrist_certificate_of_origin, id: "yes_certificateoforigin" %> Ja
                                        </div>
                                        <div class="col-md-4">
                                            <%= f.check_box :no_sonstige_kurzfrist_certificate_of_origin, id: "no_certificateoforigin" %> Nein
                                        </div>
                                        <div class="col-md-4">
                                            <%= f.check_box :part_of_goods__sonstige_kurzfrist_certificate_of_origin, id: "teil-certificateoforigin" %> für
                                            Teile
                                            der
                                            Ware
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="yesNoCertificateOfOrigin" style="display: none">

                                <br><br>

                                <div class="form-group">
                                    <div class="col-md-11 col-md-offset-1">
                                        <p> Bitte geben Sie die Zulieferungen aus dem Ausland an. </p>
                                    </div>
                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-2">
                                            <%= f.select :country_category,
                                                         [["Andorra", "Andorra"], ["Australia", "Australia"], ["Austria", "Austria"], ["Barbados", "Barbados"], ["Belgium", "Belgium"], ["Brunei Darussalam", "Brunei Darussalam"],
                                                          ["Canada", "Canada"], ["Chile", "Chile"], ["Comoros", "Comoros"], ["Cyprus", "Cyprus"], ["Czech Republic", "Czech Republic"], ["Denmark", "Denmark"], ["Dominica", "Dominica"],
                                                          ["Estonia", "Estonia"], ["Finland", "Finland"], ["France", "France"], ["Germany", "Germany"], ["Greece", "Greece"], ["Grenada", "Grenada"], ["Hungary", "Hungary"], ["Iceland", "Iceland"],
                                                          ["Ireland", "Ireland"], ["Israel", "Israel"], ["Italy", "Italy"], ["Japan", "Japan"], ["Kiribati", "Kiribati"], ["Korea", "Korea"], ["Latvia", "Latvia"], ["Liechtenstein", "Liechtenstein"],
                                                          ["Lithuania", "Lithuania"], ["Luxembourg", "Luxembourg"], ["Malta", "Malta"], ["Marshall Islands", "Marshall Islands"], ["Micronesia", "Micronesia"], ["Monaco", "Monaco"], ["Nauru", "Nauru"],
                                                          ["Netherlands", "Netherlands"], ["New Zealand", "New Zealand"], ["Norway", "Norway"], ["Palau", "Palau"], ["Poland", "Poland"], ["Portugal", "Portugal"],
                                                          ["Saint Kitts and Nevis", "Saint Kitts and Nevis"], ["Saint Lucia", "Saint Lucia"], ["Saint Vincent and the Grenadines", "Saint Vincent and the Grenadines"], ["Samoa", "Samoa"],
                                                          ["San Marino", "San Marino"], ["Sao Tome and Principe", "Sao Tome and Principe"], ["Sint Maarten", "Sint Maarten"], ["Slovak Republic", "Slovak Republic"], ["Slovenia", "Slovenia"],
                                                          ["Solomon Islands", "Solomon Islands"], ["Spain", "Spain"], ["Sweden", "Sweden"], ["Switzerland", "Switzerland"], ["Tonga", "Tonga"], ["Tuvalu", "Tuvalu"], ["United Kingdom", "United Kingdom"],
                                                          ["United States", "United States"], ["Vanuatu", "Vanuatu"], ["West Bank and Gaza", "West Bank and Gaza"], ["Kosovo", "Kosovo"], ["South Korea", "South Korea"], ["Ukraine", "Ukraine"],
                                                          ["Belarus", "Belarus"], ["Pakistan", "Pakistan"], ["Bosnia and Herzegovina", "Bosnia and Herzegovina"], ["Lebanon", "Lebanon"], ["Iraq", "Iraq"], ["Ethiopia", "Ethiopia"], ["Libya", "Libya"],
                                                          ["Moldova", "Moldova"], ["Venezuela", "Venezuela"], ["Cuba", "Cuba"], ["Liberia", "Liberia"], ["Sudan", "Sudan"], ["Montenegro", "Montenegro"], ["Mali", "Mali"], ["Yemen", "Yemen"],
                                                          ["Congo", "Congo"], ["Democratic Republic of the Congo", "Democratic Republic of the Congo"], ["Guinea", "Guinea"], ["Mauritania", "Mauritania"], ["Mozambique", "Mozambique"],
                                                          ["Burkina Faso", "Burkina Faso"], ["Syrian Arab Republic", "Syrian Arab Republic"], ["Kyrgyzstan", "Kyrgyzstan"], ["Afghanistan", "Afghanistan"], ["Tajikistan", "Tajikistan"],
                                                          ["Madagascar", "Madagascar"], ["Lao People’s Democratic Republic", "Lao People’s Democratic Republic"], ["Zimbabwe", "Zimbabwe"], ["Haiti", "Haiti"], ["Djibouti", "Djibouti"],
                                                          ["Niger", "Niger"], ["Sierra Leone", "Sierra Leone"], ["Chad", "Chad"], ["Malawi", "Malawi"], ["Equatorial Guinea", "Equatorial Guinea"], ["Antigua and Barbuda", "Antigua and Barbuda"],
                                                          ["Burundi", "Burundi"], ["Eritrea", "Eritrea"], ["Somalia", "Somalia"], ["Gambia", "Gambia"], ["Central African Republic", "Central African Republic"], ["Belize", "Belize"],
                                                          ["South Sudan", "South Sudan"], ["Guinea-Bissau", "Guinea-Bissau"], ["Cabo Verde", "Cabo Verde"], ["Myanmar", "Myanmar"], ["Egypt", "Egypt"], ["Iran", "Iran"], ["Argentina", "Argentina"],
                                                          ["Kazakhstan", "Kazakhstan"], ["Nigeria", "Nigeria"], ["Uzbekistan", "Uzbekistan"], ["Ecuador", "Ecuador"], ["Turkmenistan", "Turkmenistan"], ["Georgia", "Georgia"], ["Kenya", "Kenya"],
                                                          ["Sri Lanka", "Sri Lanka"], ["Albania", "Albania"], ["Ghana", "Ghana"], ["Angola", "Angola"], ["Côte d’Ivoire", "Côte d’Ivoire"], ["Armenia", "Armenia"], ["Cambodia", "Cambodia"],
                                                          ["Tanzania", "Tanzania"], ["Cameroon", "Cameroon"], ["Mongolia", "Mongolia"], ["Uganda", "Uganda"], ["Jamaica", "Jamaica"], ["Nicaragua", "Nicaragua"], ["Zambia", "Zambia"],
                                                          ["Benin", "Benin"], ["Togo", "Togo"], ["Rwanda", "Rwanda"], ["Gabon", "Gabon"], ["Maldives", "Maldives"], ["Nepal", "Nepal"], ["Papua New Guinea", "Papua New Guinea"],
                                                          ["Suriname", "Suriname"], ["Seychelles", "Seychelles"], ["Fiji", "Fiji"], ["Guyana", "Guyana"], ["Swaziland", "Swaziland"], ["Bhutan", "Bhutan"], ["Lesotho", "Lesotho"],
                                                          ["Timor-Leste", "Timor-Leste"], ["Brazil", "Brazil"], ["Croatia", "Croatia"], ["Vietnam", "Vietnam"], ["Serbia", "Serbia"], ["Tunisia", "Tunisia"],
                                                          ["Former Yugoslav Republic of Macedonia", "Former Yugoslav Republic of Macedonia"], ["Bangladesh", "Bangladesh"], ["Jordan", "Jordan"], ["Azerbaijan", "Azerbaijan"],
                                                          ["Paraguay", "Paraguay"], ["Bolivia", "Bolivia"], ["El Salvador", "El Salvador"], ["Honduras", "Honduras"], ["Senegal", "Senegal"], ["Curaçao", "Curaçao"], ["Turkey", "Turkey"],
                                                          ["Russia", "Russia"], ["South Africa", "South Africa"], ["Algeria", "Algeria"], ["Colombia", "Colombia"], ["Bahrain", "Bahrain"], ["Guatemala", "Guatemala"],
                                                          ["Dominican Republic", "Dominican Republic"], ["Namibia", "Namibia"], ["Aruba", "Aruba"], ["Romania", "Romania"], ["Mexico", "Mexico"], ["India", "India"],
                                                          ["Thailand", "Thailand"], ["Bulgaria", "Bulgaria"], ["Indonesia", "Indonesia"], ["Qatar", "Qatar"], ["Philippines", "Philippines"], ["Morocco", "Morocco"],
                                                          ["Peru", "Peru"], ["Oman", "Oman"], ["Panama", "Panama"], ["Uruguay", "Uruguay"], ["Costa Rica", "Costa Rica"], ["Trinidad and Tobago", "Trinidad and Tobago"],
                                                          ["Mauritius", "Mauritius"], ["Bahamas", "Bahamas"], ["China", "China"], ["UAE", "UAE"], ["Saudi Arabia", "Saudi Arabia"], ["Hong Kong (China)", "Hong Kong (China)"],
                                                          ["Malaysia", "Malaysia"], ["Kuwait", "Kuwait"], ["Macau (China)", "Macau (China)"], ["Botswana", "Botswana"], ["Chinese Taipei", "Chinese Taipei"], ["Singapore", "Singapore"]],
                                                         id: "B_168", prompt: "EU-Länder" %>
                                        </div>

                                        <div class="col-md-3 ">
                                            <%= f.select :country_category, [["Euro", "Euro"], ["Dollar", "Dollar"]], id: "B_168", prompt: "Currency..." %>
                                        </div>

                                        <div class="col-md-4 ">
                                            <%= f.text_field :country_category, class: "form-control" %>
                                        </div>
                                    </div>
                                </div>

                                <br><br>

                                <div class="form-group">
                                    <div class="col-md-11 col-md-offset-1">
                                        <p> Bitte erläutern Sie, warum diese Zulieferungen aus dem Ausland notwendig
                                            sind. </p>
                                    </div>
                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <%= f.text_field :country_category, class: "form-control" %>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <br><br>
                            <hr align="middle" width="90%">


                            <div id="securityForBusiness">
                                <div class="form-group">
                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Sind für Ihr Geschäft Sicherheiten vorgesehen?
                                            <p>
                                        </div>
                                    </div>
                                    <br>

                                    <div class="row">
                                        <div class="col-md-3 col-md-offset-4">
                                            <%= f.check_box :country_category, id: "Yes-securityForBusiness" %> Ja
                                        </div>
                                        <div class="col-md-3">
                                            <%= f.check_box :country_category, id: "No-securityForBusiness" %> Nein
                                        </div>
                                    </div>

                                    <br><br>

                                </div>
                            </div>

                            <div id="typeOfSecurity" style="display: none">
                                <div class="form-group">

                                    <div class="col-md-11 col-md-offset-1">
                                        <p> Welche Art von Sicherheiten? </p>
                                    </div>
                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-3">
                                            <%= f.select :country_category, [["Unbestätigtes Akkreditiv einer Bank", "Unbestätigtes Akkreditiv einer Bank"],
                                                                             ["Bestätigtes Akkreditiv", "Bestätigtes Akkreditiv"],
                                                                             ["Zahlungsgarantie einer Bank", "Zahlungsgarantie einer Bank"],
                                                                             ["Zahlungsgarantie eines Unternehmens", "Zahlungsgarantie eines Unternehmens"],
                                                                             ["(eingetragener) Eigentumsvorbehalt (dingliche Sicherheit)", "(eingetragener) Eigentumsvorbehalt (dingliche Sicherheit)"],
                                                                             ["Pfandrecht (dingliche Sicherheit)", "Pfandrecht (dingliche Sicherheit)"],
                                                                             ["sonstige", "sonstige"]], id: "B_168", placeholder: "Bitte Art der Sicherheit auswählen..." %>
                                        </div>

                                        <div class="col-md-4">
                                            <div> <%= f.text_field :country_category, class: "form-control", placeholder: "Bitte Name vergeben" %> </div>

                                        </div>
                                    </div>
                                    <br><br>
                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-10 col-md-offset-2">
                                            <p> Welchen Anteil des Auftragswertes wird die Sicherheit umfassen?
                                                (Zahlungsgarantie
                                                einer Bank-1) </p>
                                            <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-11 col-md-offset-1">
                                            <p> Wann werden Sie die Sicherheiten erhalten? (unbestätigtes Akkreditiv
                                                einer
                                                Bank-1 </p>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-5 col-md-offset-4">
                                            <%= f.select :country_category, [["Vor Fabrikationsbeginn", "Vor Fabrikationsbeginn"],
                                                                             ["Vor Liefer-/Leistungsbeginn", "Vor Liefer-/Leistungsbeginn"],
                                                                             ["Später", "Später"],
                                                                             ["Anderer Termin", "Anderer Termin"]], id: "B_168", prompt: "Vor Fabrikationsbeginn..." %>
                                        </div>
                                    </div>

                                    <br><br>

                                </div>
                            </div>
                        </div>

                        <div id="DIV_296">
                            <a href="#details" id="A_296"> Zurück</a>
                            <button type="submit" value="-1" id="BUTTON_297"> Weiter</button>
                        </div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>


<style>
    .hidden {
        display: none;
    }
</style>

<script>
    $(function () {
        $("#ja").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivJaWorkOtherCompanies").show();
            } else {
                $("#showHideDivJaWorkOtherCompanies").hide();
            }
        });
    });

    $(function () {
        $("#ja_exportlicense_requirement").click(function () {
            if ($(this).is(":checked")) {
                $("#exportLicenseRequirement").show();
            } else {
                $("#exportLicenseRequirement").hide();
            }
        });
    });

    $(function () {
        $("#yes_secondhand_goods").click(function () {
            if ($(this).is(":checked")) {
                $("#deliverSecondHandGoods").show();
            } else {
                $("#deliverSecondHandGoods").hide();
            }
        });
    });

    $(function () {
        $("#ja_contractsigned").click(function () {
            if ($(this).is(":checked")) {
                $("#contractSigned").show();
            } else {
                $("#contractSigned").hide();
            }
        });
    });

    $(function () {
        $("#yes_specialcontractstructure").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoSpecialContractStructure").show();
            } else {
                $("#yesNoSpecialContractStructure").hide();
            }
        });
    });


    $(function () {
        $("#ja_customercountsinterest").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoCustomerCountInterest").show();
            } else {
                $("#yesNoCustomerCountInterest").hide();
            }
        });
    });

    $(function () {
        $("#ja_priceadjustmentclause").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoPriceAdjustmentClause").show();
            } else {
                $("#yesNoPriceAdjustmentClause").hide();
            }
        });
    });

    $(function () {
        $("#ja_multipledeliveries").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoMultipleDeliveries").show();
            } else {
                $("#yesNoMultipleDeliveries").hide();
            }
        });
    });


    $(function () {
        $("#no_certificateoforigin").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoCertificateOfOrigin").show();
            } else {
                $("#yesNoCertificateOfOrigin").hide();
            }
        });
    });

    $(function () {
        $("#teil-certificateoforigin").click(function () {
            if ($(this).is(":checked")) {
                $("#yesNoCertificateOfOrigin").show();
            } else {
                $("#yesNoCertificateOfOrigin").hide();
            }
        });
    });

    $(function () {
        $("#kurzfristig-termofpayments").click(function () {
            if ($(this).is(":checked")) {
                $("#KurzFristigTermOfPayment").show();
            } else {
                $("#KurzFristigTermOfPayment").hide();
            }
        });
    });


    $(function () {
        $("#mittel-termofpayments").click(function () {
            if ($(this).is(":checked")) {
                $("#MittelTermOfPayment").show();
            } else {
                $("#MittelTermOfPayment").hide();
            }
        });
    });


    $(function () {
        $("#sowohlkurzfristig-termofpayments").click(function () {
            if ($(this).is(":checked")) {
                $("#SonstigeKurzFristigTermOfPayment").show();
            } else {
                $("#SonstigeKurzFristigTermOfPayment").hide();
            }
        });
    });

    $(function () {
        $("#sonstige").click(function () {
            if ($(this).is(":checked")) {
                $("#entlastung").show();
            } else {
                $("#entlastung").hide();
            }
        });
    });

    $(function () {
        $("#Yes-securityForBusiness").click(function () {
            if ($(this).is(":checked")) {
                $("#typeOfSecurity").show();
            } else {
                $("#typeOfSecurity").hide();
            }
        });
    });

</script>