<div class="row">
    <div class="col-md-2">
        <%= render 'insurances/hermeskyc_menu' %>
    </div>

    <div class="col-md-10">
        <section id="SECTION_85">
            <div id="DIV_85">

                <div id="DIV_86">
                    <div id="DIV_87">
                        Ihr Kunde
                    </div>
                </div>

                <%= form_for @insurance, url: tradeinfo_insurance_path(@tradeinfo, @insurance), method: :put do |f| %>
                    <div id="DIV_91">
                        <div id="DIV_112">

                            <div id="DIV_228">
                                <div class="form-group">

                                    <div class="row">
                                        <div class="col-md-8 col-md-offset-2">
                                            <label class="control-label"> Bitte geben Sie die Adresse Ihres Kunden an. </label>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4">
                                                <p> AK-Nummer </p>
                                                <div> <%= f.text_field :ak_number, class: "form-control", required: true %> </div>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Firmenname </p>
                                                <div> <%= f.text_field :company_name, class: "form-control", required: true %> </div>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Steuernummer </p>
                                                <%= f.text_field :tax_number, class: "form-control", required: true %>
                                            </div>

                                        </div>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>
                                            <div class="col-md-4 ">
                                                <p> Straße / Hausnummer </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> PLZ </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>

                                            <div class="col-md-4">
                                                <p> Ort </p>
                                                <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                            </div>

                                        </div>
                                    </div>

                                    <br>

                                    <div class="form-group">
                                        <div class="row">
                                            <br>

                                            <div class="col-md-4 ">
                                                <p> Land </p>
                                                <%= f.text_field :country_category, class: "form-control" %>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div id="deliveryAddressCheck">
                                        <div class="row">
                                            <div class="col-md-6 col-md-offset-3">
                                                <p> Liefern Sie an diese Adresse?
                                                <p>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-2">
                                                <%= f.check_box :country_category, id: "Yes-deliveryAddress" %> Ja
                                            </div>
                                            <div class="col-md-4">
                                                <%= f.check_box :country_category, id: "No-deliveryAddress" %> Nein
                                            </div>
                                        </div>

                                        <br><br>
                                    </div>


                                    <div id="deliveryAddress" style="display: none">
                                        <div class="form-group">
                                            <div class="row">
                                                <br>
                                                <div class="col-md-4">
                                                    <p> Firmenname </p>
                                                    <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                                </div>

                                                <div class="col-md-4 ">
                                                    <p> Land </p>
                                                    <%= f.text_field :country_category, class: "form-control" %>
                                                </div>

                                                <div class="col-md-4 ">
                                                    <p> Straße / Hausnummer </p>
                                                    <%= f.text_field :country_category, class: "form-control"  %>
                                                </div>


                                            </div>
                                        </div>

                                        <br>

                                        <div class="form-group">
                                            <div class="row">
                                                <br>
                                                <div class="col-md-4">
                                                    <p> PLZ </p>
                                                    <%= f.text_field :country_category, class: "form-control" %>
                                                </div>

                                                <div class="col-md-4">
                                                    <p> Ort </p>
                                                    <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                                </div>

                                            </div>
                                        </div>

                                        <br>
                                    </div>

                                    <br><br>

                                    <div id="deliveryAddressCheck">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-2">
                                                <p> Sind Sie in irgendeiner Form an Ihrem Kunden beteiligt und/oder üben
                                                    Sie maßgeblichen Einfluss auf die Geschäftsführung aus?
                                                <p>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-2">
                                                <%= f.check_box :country_category, id: "Yes-relationToCustomer" %> Ja
                                            </div>
                                            <div class="col-md-4">
                                                <%= f.check_box :country_category, id: "No-relationToCustomer" %> Nein
                                            </div>
                                        </div>

                                        <br><br>
                                    </div>

                                    <div id="relationToCustomerExplain" style="display: none">
                                        <div class="form-group">
                                            <div class="row">
                                                <br>
                                                <div class="col-md-10 col-md-offset-2">
                                                    <p>Bitte helfen Sie uns, die Beteiligung besser zu verstehen</p>
                                                    <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <br><br>

                                    <div id="deliveryAddressCheck">
                                        <div class="row">
                                            <div class="col-md-10 col-md-offset-2">
                                                <p> Haben Sie bereits Zahlungserfahrungen mit Ihrem Kunden?
                                                <p>
                                            </div>
                                        </div>
                                        <br>

                                        <div class="row">
                                            <div class="col-md-4 col-md-offset-2">
                                                <%= f.check_box :country_category, id: "Yes-paymentExperience" %> Ja
                                            </div>
                                            <div class="col-md-4">
                                                <%= f.check_box :country_category, id: "No-paymentExperience" %> Nein
                                            </div>
                                        </div>

                                        <br><br>
                                    </div>

                                    <div id="alreadyPaymentExperience" style="display: none">
                                        <div class="form-group">
                                            <div class="row">
                                                <br>
                                                <div class="col-md-10 col-md-offset-2">
                                                    <p>Bitte beschreiben Sie diese näher.</p>
                                                    <div> <%= f.text_field :country_category, class: "form-control" %> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>

                        <div id="DIV_296">
                            <a href="#details" id="A_296">Zurück</a>
                            <button type="submit" value="-1" id="BUTTON_297"> Weiter </button>
                        </div>
                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>


<script>
    $(function () {
        $("#No-deliveryAddress").click(function () {
            if ($(this).is(":checked")) {
                $("#deliveryAddress").show();
            } else {
                $("#deliveryAddress").hide();
            }
        });
    });

    $(function () {
        $("#Yes-relationToCustomer").click(function () {
            if ($(this).is(":checked")) {
                $("#relationToCustomerExplain").show();
            } else {
                $("#relationToCustomerExplain").hide();
            }
        });
    });

    $(function () {
        $("#Yes-paymentExperience").click(function () {
            if ($(this).is(":checked")) {
                $("#alreadyPaymentExperience").show();
            } else {
                $("#alreadyPaymentExperience").hide();
            }
        });
    });


</script>





