<div class="row">
    <div class="col-md-2">
        <%= render 'insurances/hermeskyc_menu' %>
    </div>

    <div class="col-md-10">
        <section id="SECTION_85">
            <div id="DIV_85">

                <div id="DIV_86">
                    <div id="DIV_87">
                        Ihre Risiken
                    </div>
                </div>

                <%= form_for @insurance, url: tradeinfo_insurances_path, method: :post do |f| %>
                    <div id="DIV_91">

                        <div id="DIV_228">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <label id="LABEL_114"> Bitte geben Sie an, gegen welche Risiken Sie sich
                                            absichern
                                            möchten </label>
                                    </div>
                                </div>
                                <br><br>
                            </div>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <%= f.check_box :country_category, id: "privateSector" %>
                                        <br><br>
                                        <div><p><b>Nichtbezahlung der Forderung </b></p></div>
                                        <div><p><i> bekannt als Lieferantenkreditdeckung </i></p></div>
                                    </div>
                                    <div class="col-md-7">
                                        <%= f.check_box :country_category, id: "publicSector" %>
                                        <br><br>
                                        <div><p><b>Vertragsstörung während der Fabrikationsphase </b></p></div>
                                        <div><p><i> bekannt als Fabrikationsrisikodeckung </i></p></div>
                                    </div>
                                </div>
                            </div>

                            <br><br>
                            <hr align="middle" width="90%">
                            <br><br>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <%= f.check_box :country_category, id: "garantee" %>
                                        <br><br>
                                        <div><p><b> Ziehung von Garantien </b></p></div>
                                        <div><p><i> bekannt als Vertragsgarantiedeckung </i></p></div>
                                    </div>
                                    <div id="entlastung" class="col-md-7" style="display: none">
                                        <%= f.check_box :country_category, id: "entlastung" %>
                                        <br><br>
                                        <div><p><b> Entlastung Ihrer Avallinie </b></p></div>
                                        <div><p><i> bekannt als Avalgarantie </i></p></div>
                                    </div>
                                </div>
                            </div>


                            <br><br>
                            <hr align="middle" width="90%">
                            <br><br>

                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-5">
                                        <%= f.check_box :country_category, id: "garantee" %>
                                        <br><br>
                                        <div><p><b> Weitere Deckungen </b></p></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="DIV_296">
                            <a href="#details" id="A_296">Kontakt</a>
                            <button type="submit" id="BUTTON_297">
                                Weiter
                            </button>
                        </div>

                    </div>
                <% end %>
            </div>
        </section>
    </div>
</div>


<script>
    $(function () {
        $("#garantee").click(function () {
            if ($(this).is(":checked")) {
                $("#entlastung").show();
            } else {
                $("#entlastung").hide();
            }
        });
    });
</script>





