<section id="SECTION_85">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Das Wichtigste Zuerst
            </div>
        </div>

        <div id="DIV_91">
            <%= form_for @insurance, url: tradeinfo_insurances_path, method: :post do |f| %>
                <div id="DIV_112">

                    <div id="DIV_228">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <label id="LABEL_114"> Wohin soll es gehen </label>
                                    <div> <%= f.text_field :country_category, class: "form-control", required: true %> </div>
                                </div>
                            </div>

                            <br><br>

                            <div class="form-group">
                                <label class="control-label"> Handelt es sich bei Ihrer Ware um
                                    Investitionsgüter? </label>
                                <br><br>
                                <%= f.check_box :country_category, id: "investmentGood" %> Yes
                            </div>

                            <br><br>

                            <div id="showHideDivTotalFinancingRequired" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <label id="LABEL_114"> Wie hoch ist der Auftragswert in Euro? </label>
                                    </div>
                                    <br><br>

                                    <div class="rangeslider">
                                        <input type="range" min="0" max="5000000" value="1000000" step="1" list="tickmarks" id="rangeInput" oninput="output.value = rangeInput.value">

                                        <datalist id="tickmarks">
                                            <option value="0 to 50000000">0</option>
                                            <option></option>
                                            <option>100Tsd</option>
                                            <option>500Tsd</option>
                                            <option>1 Mio</option>
                                            <option>3 Mio</option>
                                            <option>5 Mio</option>
                                        </datalist>
                                        <br>
                                        <output id="output" for="rangeInput">500000</output>
                                    </div>
                                    <br>
                                    <button type="button" name="auftragwertbutton" value="Show Div" onclick="showPaymentGoalDiv(this)" id="BUTTON_300">
                                        fertig
                                    </button>

                                    <div id="welcomeDiv" style="display:none;" class="answer_list"> WELCOME</div>
                                </div>
                            </div>

                            <br><br>

                            <div id="showHideDivPaymentGoal" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <label id="LABEL_114"> Welches Zahlungsziel gewähren Sie Ihrem Kunden? </label>
                                        <%= f.select :country_category, [["6 Months", "6 Months"], ["12 Months", "12 Months"],
                                                                         ["18 Months", "18 Months"], ["24 Months", "24 Months"]], id: "B_168", prompt: "Select..." %>

                                    </div>
                                </div>

                                <br><br>

                                <div class="row">
                                    <button type="button" name="auftragwertbutton" value="Show Div" onclick="showWhichSectorDeliveryDiv(this)" id="BUTTON_300">
                                        fertig
                                    </button>
                                </div>
                            </div>

                            <div id="showHideDivDeliveryGoal" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <label id="LABEL_114"> An wen liefern Sie? </label>
                                    </div>
                                </div>
                                <br>

                                <div class="row">
                                    <div class="col-md-4 col-md-offset-2">
                                        <%= f.check_box :country_category, id: "privateSector" %> Private Sector
                                    </div>
                                    <div class="col-md-4">
                                        <%= f.check_box :country_category, id: "publicSector" %> Public Sector
                                    </div>
                                </div>

                                <br><br>
                            </div>


                            <div id="showHideDivPrivateSector" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <p>
                                            Ihr Geschäft eignet sich grundsätzlich und vorbehaltlich einer tieferen
                                            Prüfung des Sachverhalts und der Bonität Ihres ausländischen Bestellers bzw.
                                            Garanten für eine Hermesdeckung. <br>

                                            Dieses Icon zeigt, dass Ihr Geschäft die Kriterien für den click&cover-Modus
                                            erfüllt. Hier ist – nach Vorliegen aller relevanten Informationen eine
                                            Entscheidung innerhalb von durchschnittlich 2 Wochen möglich. <br>

                                            Im Rahmen Ihrer weiteren Eingaben wird fortwährend geprüft, ob Ihr Geschäft
                                            weiterhin für den click&cover Modus geeignet ist – am Ende können Sie jedoch
                                            selbst entscheiden, welche Absicherungsvariante Sie wählen. <br>
                                            Solange Sie sich im click&cover-Modus befinden, können wir Ihnen bereits
                                            frühzeitig eine Preisindikation geben. Aufgrund der von Ihnen bisher
                                            gemachten Angaben würde sich der Preis für eine Absicherung belaufen auf
                                            <br>
                                            zwischen ... EUR und ... EUR (ohne Gewähr - das tatsächlich anfallende
                                            Entgelt teilen wir Ihnen im Rahmen der Entscheidung mit) <br>
                                            Im Laufe der Antragstellung konkretisieren sich die Berechnungen – die
                                            aktuelle Information finden Sie jeweils hinter dem Taschenrechner-Symbol am
                                            rechten Bildrand. <br>
                                            Sollte sich im Rahmen der Einzelfallprüfung des Antrags zeigen, dass der
                                            click&cover-Modus nicht zulässig ist, ist weiterhin der Zugang zur
                                            klassischen Lieferantenkreditdeckung möglich. <br>
                                            Sie möchten zum ersten Mal eine Hermesdeckung beantragen? Dann lassen Sie
                                            sich von uns beraten. Bitte planen Sie ein wenig mehr Zeit für Ihren ersten
                                            Antrag ein – wir möchten Sie zunächst bei einem Vor-Ort-Termin in Ihrem
                                            Unternehmen kennenlernen und Sie auf den ersten Schritten begleiten.</p>
                                    </div>
                                </div>
                                <br>
                            </div>

                            <div id="showHideDivPrivateSector" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">

                                        <p>
                                            Ihr Geschäft eignet sich grundsätzlich und vorbehaltlich einer tieferen
                                            Prüfung des Sachverhalts und der Bonität Ihres ausländischen Bestellers bzw.
                                            Garanten für eine Hermesdeckung. <br>

                                            Dieses Icon zeigt, dass Ihr Geschäft die Kriterien für den click&cover-Modus
                                            erfüllt. Hier ist – nach Vorliegen aller relevanten Informationen eine
                                            Entscheidung innerhalb von durchschnittlich 2 Wochen möglich. <br>

                                            Im Rahmen Ihrer weiteren Eingaben wird fortwährend geprüft, ob Ihr Geschäft
                                            weiterhin für den click&cover Modus geeignet ist – am Ende können Sie jedoch
                                            selbst entscheiden, welche Absicherungsvariante Sie wählen. <br>
                                            Solange Sie sich im click&cover-Modus befinden, können wir Ihnen bereits
                                            frühzeitig eine Preisindikation geben. Aufgrund der von Ihnen bisher
                                            gemachten Angaben würde sich der Preis für eine Absicherung belaufen auf
                                            <br>
                                            zwischen ... EUR und ... EUR (ohne Gewähr - das tatsächlich anfallende
                                            Entgelt teilen wir Ihnen im Rahmen der Entscheidung mit) <br>
                                            Im Laufe der Antragstellung konkretisieren sich die Berechnungen – die
                                            aktuelle Information finden Sie jeweils hinter dem Taschenrechner-Symbol am
                                            rechten Bildrand. <br>
                                            Sollte sich im Rahmen der Einzelfallprüfung des Antrags zeigen, dass der
                                            click&cover-Modus nicht zulässig ist, ist weiterhin der Zugang zur
                                            klassischen Lieferantenkreditdeckung möglich. <br>
                                            Sie möchten zum ersten Mal eine Hermesdeckung beantragen? Dann lassen Sie
                                            sich von uns beraten. Bitte planen Sie ein wenig mehr Zeit für Ihren ersten
                                            Antrag ein – wir möchten Sie zunächst bei einem Vor-Ort-Termin in Ihrem
                                            Unternehmen kennenlernen und Sie auf den ersten Schritten begleiten.</p>

                                    </div>
                                </div>
                                <br>
                            </div>

                            <div id="showHideDivPublicSector" style="display: none">
                                <div class="row">
                                    <div class="col-md-8 col-md-offset-2">
                                        <p>
                                            Ihr Geschäft eignet sich grundsätzlich und vorbehaltlich einer tieferen
                                            Prüfung des Sachverhalts und der Bonität Ihres ausländischen Bestellers bzw.
                                            Garanten für eine Hermesdeckung. <br>

                                            Dieses Icon zeigt, dass Ihr Geschäft die Kriterien für den click&cover-Modus
                                            erfüllt. Hier ist – nach Vorliegen aller relevanten Informationen eine
                                            Entscheidung innerhalb von durchschnittlich 2 Wochen möglich. <br>

                                            Im Rahmen Ihrer weiteren Eingaben wird fortwährend geprüft, ob Ihr Geschäft
                                            weiterhin für den click&cover Modus geeignet ist – am Ende können Sie jedoch
                                            selbst entscheiden, welche Absicherungsvariante Sie wählen. <br>
                                            Solange Sie sich im click&cover-Modus befinden, können wir Ihnen bereits
                                            frühzeitig eine Preisindikation geben. Aufgrund der von Ihnen bisher
                                            gemachten Angaben würde sich der Preis für eine Absicherung belaufen auf
                                            <br>
                                            zwischen ... EUR und ... EUR (ohne Gewähr - das tatsächlich anfallende
                                            Entgelt teilen wir Ihnen im Rahmen der Entscheidung mit) <br>
                                            Im Laufe der Antragstellung konkretisieren sich die Berechnungen – die
                                            aktuelle Information finden Sie jeweils hinter dem Taschenrechner-Symbol am
                                            rechten Bildrand. <br>
                                            Sollte sich im Rahmen der Einzelfallprüfung des Antrags zeigen, dass der
                                            click&cover-Modus nicht zulässig ist, ist weiterhin der Zugang zur
                                            klassischen Lieferantenkreditdeckung möglich. <br>
                                            Sie möchten zum ersten Mal eine Hermesdeckung beantragen? Dann lassen Sie
                                            sich von uns beraten. Bitte planen Sie ein wenig mehr Zeit für Ihren ersten
                                            Antrag ein – wir möchten Sie zunächst bei einem Vor-Ort-Termin in Ihrem
                                            Unternehmen kennenlernen und Sie auf den ersten Schritten begleiten.</p>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>

                <div id="DIV_296">
                    <a href="#details" id="A_296">Kontakt</a>
                    <button type="submit" id="BUTTON_297">
                        Weiter
                    </button>
                </div>

                </div>

                </div>
            <% end %>

            </div>

            <footer id="FOOTER_409">
            </footer>
            </section>


<script>
    $(function () {
        $("#investmentGood").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivTotalFinancingRequired").show();
            } else {
                $("#showHideDivTotalFinancingRequired").hide();
            }
        });
    });

    $(function () {
        $(".auftragwertbutton").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivTotalFinancingRequired").show();
            } else {
                $("#showHideDivTotalFinancingRequired").hide();
            }
        });
    });

    function showPaymentGoalDiv(btn) {
        document.getElementById('showHideDivPaymentGoal').style.display = "block";
        btn.style.display = "none";
    }

    function showWhichSectorDeliveryDiv(btn) {
        document.getElementById('showHideDivDeliveryGoal').style.display = "block";
        btn.style.display = "none";
    }

    $(function () {
        $("#privateSector").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivPrivateSector").show();
            } else {
                $("#showHideDivPrivateSector").hide();
            }
        });

        $("#publicSector").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivPublicSector").show();
            } else {
                $("#showHideDivPublicSector").hide();
            }
        });
    });

</script>





