<div id="loader" style="display:none; padding-top: 15%; text-align: center;">
    <img id="myImage" , src="<%= asset_path('bx_loader.gif') %>"></div><br>


<section id="SECTION_84">
    <div id="DIV_85">
        <div id="DIV_111">
            <h1 id="H1_225">
                Insurance Information
            </h1>
        </div>

        <table align="center">
            <tr>
                <td>Money Applied for</td>
                <td><%= @tradeinfo.financial.total_financing_required %> &#8364</td>
            </tr>
            <tr>
                <td>Duration</td>
                <td><%= @tradeinfo.financial.time_duration %> </td>
            </tr>
            <tr>
                <td>Insurance Premium</td>
                <td><%= @mainInsurancePremium.round(2) %> &#8364</td>
            </tr>
            <tr>
                <td>Application Fee</td>
                <td><%= @application_fee.round(2) %>  &#8364</td>
            </tr>
            <tr>
                <td>Foreign Currency Coverage</td>
                <td><%= @foreignCurrencyCoverage.round(2) %> &#8364</td>
            </tr>
            <tr>
                <td>Reducing Deductible</td>
                <td><%= @reducingDeductible.round(2) %> &#8364</td>
            </tr>
            <tr>
                <td>Execution Amount</td>
                <td><%= @executionAmountOne.round(2) %> &#8364</td>
            </tr>
            <tr>
                <td>Final Sum:</td>
                <td><%= @finalSum.round(2) %> &#8364</td>
            </tr>
        </table>

        <div id="DIV_88">

            <br><br>

            <%
                require 'csv'
                tickers = {}
                CSV.foreach("db/data/country_classification.csv", :headers => true, :header_converters => :symbol, :converters => :all) do |row|
                  tickers[row.fields[0]] = Hash[row.headers[1..-1].zip(row.fields[1..-1])]
                end
            %>

            <% if tickers[@tradeinfo.buyer.country][:classification] == "-" %>
                <%= button_to "Proceed", rejected_tradeinfo_path(@tradeinfo, @financial, @buyer), method: :get, id: "BUTTON_298" %>
            <% else %>
                <%= button_to "Proceed", accepted_tradeinfo_path(@tradeinfo, @financial, @buyer), method: :get, id: "BUTTON_298" %>
            <% end %>

            <br>
        </div>
    </div>


</section>

<footer id="FOOTER_409">
</footer>

<script>
    $(document).ready(function () {

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 2 // Creates a dropdown of 15 years to control year
        });
    });

    (function () {
        var loader = document.getElementById("loader");
        var section = document.getElementById("SECTION_84");
        var footer = document.getElementById("FOOTER_409");

        show = function () {
            loader.style.display = "block";
            section.style.display = "none";
            footer.style.display = "none";
            setTimeout(hide, 2000);
        },

            hide = function () {
                loader.style.display = "none";
                section.style.display = "block";
                footer.style.display = "block";
            };
        show();
    })();


</script>