<p id="notice"><%= notice %></p>

<h1>Invite Importers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invite_importers.each do |invite_importer| %>
      <tr>
        <td><%= link_to 'Show', invite_importer %></td>
        <td><%= link_to 'Edit', edit_invite_importer_path(invite_importer) %></td>
        <td><%= link_to 'Destroy', invite_importer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Invite Importer', new_invite_importer_path %>
