<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<div id="BothTermOfPayment">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn
                geleistet wird, geben Sie bitte den entsprechenden Betrag an.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <span>Currency</span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_currency_payment_term_both) %></span>
        </div>
        <div class="col-md-2">
            <span> Betrag </span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_amount_payment_term_both) %></span>
        </div>
        <div class="col-md-2">
            <span>Beschreibung</span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_description_payment_term_short) %></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p> Welche Zahlungen vereinbaren Sie?</p>
        </div>
    </div>
    <br>

    <% num_payment_term = 10 %>
    <% for i in 1..num_payment_term do %>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <p> <%= i %>. Rate</p>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_currency_payment_term_both) %>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_amount_payment_term_both) %>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_output_payment_term_both) %>
            </div>

            <div class="col-md-1 ">
                <p>%</p>
            </div>

            <div class="col-md-2">
                <%= check_missing(@insurance.agreed_payments_time_payment_term_both) %>
            </div>

            <div class="col-md-2">
                <%= check_missing(@insurance.agreed_payments_some_output_payment_term_both) %>
            </div>
        </div>
    <% end %>
    <hr>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p> Bitte geben Sie die Höhe der An- und Zwischenzahlungen an.</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p> <i>Bitte beachten Sie, dass die Anzahlung stets vor Lieferung
                gezahlt werden und bei mittel- /langfristigen Zahlungsbediungungen mindestens 15 % des
                Auftragswerts betragen muss (auf Grund internationaler Bestimmungen).. </i>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <span>Currency</span>
            <span class="text-babu"><%= check_missing(@insurance.advance_payment_currency_payment_term_both) %></span>
        </div>
        <div class="col-md-2">
            <span> Betrag </span>
            <span class="text-babu"><%= check_missing(@insurance.advance_payment_amount_payment_term_both) %></span>
        </div>
        <div class="col-md-2">
            <span>Beschreibung</span>
            <span class="text-babu"><%= check_missing(@insurance.advance_payment_description_payment_term_both) %>%</span>
        </div>
    </div>

    <%= render qa_partial, question: "Wann werden Sie die Anzahlung erhalten?", answer: @insurance.deposit_received_payment_term_both %>

    <%= render qa_partial, question: "Wie gestaltet sich das Tilgungsprofil?", answer: @insurance.repayment_structure_payment_term_both %>

    <%= render qa_partial, question: "Wann beginnt die Kreditlaufzeit (Starting Point)?", answer: @insurance.credit_start_date_payment_term_both %>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= check_missing(@insurance.credit_start_special_description_payment_term_both, error_message: "Wenn sonstige ausgewahlt, bitte erläutern Sie, wann die Kreditlaufzeit beginnt.") %>
        </div>
    </div>

    <div id="workwithothercompanies">
        <%= render qa_partial, question: "Bitte geben Sie hier die Anzahl der Raten ein.", answer: @insurance.number_of_installments_payment_term_both %>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p> Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel oder
                    Promissory Notes vereinbart haben, so geben Sie dies bitte hier an.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <%= check_missing(@insurance.payment_vehichle_explain_payment_term_both) %>
            </div>
        </div>
    </div>

</div>
