<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<div id="MidTermOfPayment">
    <%= render qa_partial, question: "Wann werden Sie die Anzahlung erhalten?", answer: check_missing(@insurance.receive_deposit_time_payment_term_mid) %>

    <%= render qa_partial, question: "Wie gestaltet sich das Tilgungsprofil?", answer: check_missing(@insurance.repayment_profile_structure_payment_term_mid) %>

    <%= render qa_partial, question: "Wann beginnt die Kreditlaufzeit (Starting Point)?", answer: check_missing(@insurance.loan_term_start_payment_term_mid) %>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <%= check_missing(@insurance.loan_term_other_description_payment_term_mid) %>
        </div>
    </div>

    <div id="workwithothercompanies">
        <%= render qa_partial, question: "Bitte geben Sie hier die Anzahl der Raten ein", answer: check_missing(@insurance.number_of_installments_payment_term_mid) %>
    </div>
</div>