<div id="KurzFristigTermOfPayment">

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn
                geleistet wird, geben Sie bitte den entsprechenden Betrag an.
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2 col-md-offset-2">
            <span>Currency</span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_currency_payment_term_short) %></span>
        </div>
        <div class="col-md-2">
            <span> Betrag </span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_amount_payment_term_short) %></span>
        </div>
        <div class="col-md-2">
            <span>Beschreibung</span>
            <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_description_payment_term_short) %></span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <p>Welche Zahlungen vereinbaren Sie?</p>
        </div>
    </div>

    <% if false %>
        Comment: Need to populate the variable below 'num_payment_term' with some logic regards to the data
        stored in the database
    <% end %>

    <% num_payment_term = 10 %>
    <% for i in 1..num_payment_term do %>
        <div class="row">
            <div class="col-md-2 col-md-offset-2">
                <p> <%= i %>. Rate</p>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_currency_payment_term_short) %>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_amount_payment_term_short) %>
            </div>

            <div class="col-md-1">
                <%= check_missing(@insurance.agreed_payments_output_payment_term_short) %>
            </div>

            <div class="col-md-1 ">
                <p>%</p>
            </div>

            <div class="col-md-2">
                <%= check_missing(@insurance.agreed_payments_time_payment_term_short) %>
            </div>

            <div class="col-md-2">
                <%= check_missing(@insurance.agreed_payments_some_output_payment_term_short) %>
            </div>
        </div>
    <% end %>

    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <hr>
        </div>
    </div>

    <div id="workwithothercompanies">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <p>
                    Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel
                    oder Promissory Notes vereinbart haben, so geben Sie dies bitte hier an.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <%= check_missing(@insurance.payment_vehichle_payment_term_short) %>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <hr>
    </div>
</div>

