<div class="col s12 m3">

    <div class="card">

        <div class="card-title grey white-text draft_financing_application valign-wrapper">
            <div class="valign-wrapper">
                <i class="custom_icon reciept-icon-white"></i>
                <div class="card-header">
                    <%= t :invited_application %>
                </div>
            </div>
        </div>

        <div class="card-content">

            <div class="valign-wrapper">
                <div class="col m2">
                    <i class="custom_icon import-icon"></i>
                </div>
                <div class="col m10">
                    <div class="summary"> <%= t('exporter_name') %></div>
                    <p><b><%= application.exporter_company_name %></b></p>
                </div>
            </div>

            <div class="valign-wrapper">
                <div class="col m2">
                    <i class="custom_icon send-icon"></i>
                </div>
                <div class="col m10">
                    <div class="summary"> <%= t('exporter_email') %></div>
                    <p><b><%= application.exporter_email %></b></p>
                </div>
            </div>

            <div class="valign-wrapper">
                <div class="col m2">
                    <i class="custom_icon import-icon"></i>
                </div>
                <div class="col m10">
                    <div class="summary"> <%= t('exporter_representative_name') %></div>
                    <p><b><%= application.exporter_representative_name %></b></p>
                </div>
            </div>

            <div class="valign-wrapper">
                <div class="col m2">
                    <i class="custom_icon send-icon"></i>
                </div>
                <div class="col m10">
                    <div class="summary"> <%= t('exporter_telephone') %></div>
                    <p><b><%= application.exporter_telephone %></b></p>
                </div>
            </div>

        </div>

    </div>
</div>