<%= render 'shared/navbar' %>

<nav class="handex-color-1 z-depth-0">
    <div class="nav-wrapper">
        <% if current_user.is_broker? %>
            <span class="nav-title">Makler Portal</span>
            <a class="z-depth-0 btn z-depth-0 handex-btn-positiv" href="/pages/products">Antrag starten</a>
            <a class="z-depth-0 btn z-depth-0 handex-btn" href="/invite_exporters/new">Kunden einladen</a>
            <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= invited_exporter_user_path(current_user.id) %>" > Eingeladen </a>
        <% else %>
            <span class="nav-title">Anträge</span>
            <a class="z-depth-0 btn z-depth-0 handex-btn-positiv" href="/pages/products">Antrag starten</a>
        <% end %>
        <a class="z-depth-0 btn handex-btn rounded active" href="<%= draft_applications_user_path(current_user.id) %>" >Entwürfe</a>
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= submitted_applications_user_path(current_user.id) %>">Versendet</a>
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= approved_applications_user_path(current_user.id) %>" >Genehmigt</a>
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= all_applications_user_path(current_user.id) %>" >Alle</a>
    </div>
</nav>

<div class="container">
    <div class="section overview">

        <div class="row">
            <% if @draft_applications.empty? %>
                <%= render "users/no_application" %>
            <% else %>
                <% @draft_applications.each do |application| %>
                    <%= render partial: "users/draft_application_listing_card", locals:  {application: application,
                                                                                                   can_edit: false} %>
                <% end %>
            <% end %>
        </div>

    </div>
</div>