<%= render 'shared/navbar' %>

<nav class="handex-color-1 z-depth-0">
    <div class="nav-wrapper">
        <span class="nav-title">ANTRÄGE</span>
        <% if current_user.is_broker? %>
            <a class="z-depth-0 btn z-depth-0 handex-btn-positiv" href="/pages/invite_or_fill_yourself">Antrag starten</a>
        <% else %>
            <a class="z-depth-0 btn z-depth-0 handex-btn-positiv" href="/pages/products">Antrag starten</a>
        <% end %>
        <a class="z-depth-0 btn handex-btn rounded" href="<%= draft_applications_export_application_path(current_user.id) %>">Entwürfe</a>
<!--        <a class="z-depth-0 btn handex-btn rounded inactive">Aktion</a>-->
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= submitted_applications_export_application_path(current_user.id) %>">Versendet</a>
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= approved_applications_export_application_path(current_user.id) %>" >Genehmigt</a>
        <a class="z-depth-0 btn handex-btn rounded inactive" href="<%= all_applications_export_application_path(current_user.id) %>">Alle</a>
    </div>
</nav>

<div class="container">
    <div class="section">

        <div class="row">

            <%= render partial: "users/draft_listing", locals:  {applications: @draft_applications, can_edit: false} %>
        </div>
    </div>
</div>