<!-- stpe 1 start -->
<div class="step_1 tab" id="step_1">
    <!--   Form Navigation Section   -->
    <div class="row form-nav-top ">
        <div class="col s12 m4">
            <div class="form-nav form-nav-percent">
                <p><span> 10% <%= t :complete %></span></p>
            </div>
        </div>
        <div class="col s12 m2">
            <div class="form-nav">
                <h2><%= t :company %></h2>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="form-nav right">
                <input class="btn handex-btn z-depth-0" type="submit" name="draft" value="Entwurf speichern">
                <input class="btn handex-btn z-depth-0 next handex-nav-button" tab_index="2" type="navigator" value="Weiter">
            </div>
        </div>
    </div>
    <!--   Inner content Section   -->
    <div class="row">
        <div class="col s12 m12">
            <div class="row">
                <div class="col s12">
                    <div class="form-content">

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_name, t('exporter_name') %>
                                <%= form.text_field :exporter_name, autofocus: true, class: "validate"%>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_dn_no, t('exporter_dn_no') %>
                                <%= form.text_field :exporter_dn_no, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12">
                                <%= form.label :exporter_address_line1, t('exporter_address_line1') %>
                                <%= form.text_field :exporter_address_line1, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_address_line2, t('exporter_address_line2') %>
                                <%= form.text_field :exporter_address_line2, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_city, t('exporter_city') %>
                                <%= form.text_field :exporter_city, autofocus: true, class: "validate" %>
                            </div>

                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_plz, t('exporter_plz') %>
                                <%= form.text_field :exporter_plz, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_country, t('exporter_country') %>
                                <%= form.select :exporter_country, options_for_select([t('please_select'), "Afghanistan", "Ägypten", "Albanien", "Algerien", "Andorra", "Angola", "Antigua und Barbuda", "Äquatorialguinea", "Argentinien", "Armenien", "Aserbaidschan", "Äthiopien", "Australien", "Bahamas", "Bahrain", "Bangladesch", "Barbados", "Belgien", "Belize", "Benin", "Bergkarabach", "Bhutan", "Bolivien", "Bosnien und Herzegowina", "Botswana", "Brasilien", "Brunei", "Bulgarien", "Burkina Faso", "Burundi", "Chile", "Republik China", "Volksrepublik China", "mit Hongkong (HK) und Macao (MO)", "Cookinseln", "Costa Rica", "Dänemark", "mit Färöer (FO) und Grönland (GL)", "Deutschland", "Dominica", "Dominikanische Republik", "Dschibuti", "Ecuador", "El Salvador", "Elfenbeinküste", "Eritrea", "Estland", "Fidschi", "Finnland", "Frankreich", "(ohne Französische Überseegebiete)", "Gabun", "Gambia", "Georgien", "(mit Abchasien und Südossetien)", "Ghana", "Grenada", "Griechenland", "Guatemala", "Guinea", "Guinea-Bissau", "Guyana", "Haiti", "Honduras", "Indien", "(mit Kaschmir)", "Indonesien", "Irak", "Iran", "Irland", "Island", "Israel", "(ohne Gazastreifen, Golanhöhen und Westjordanland)", "Italien", "Jamaika", "Japan", "Jemen", "Jordanien", "Kambodscha", "Kamerun", "Kanada", "Kap Verde", "Kasachstan", "Katar", "Kenia", "Kirgisistan", "Kiribati", "Kolumbien", "Komoren", "Kongo, Demokratische Republik", "Kongo, Republik", "Korea, Nord", "Korea, Süd", "Kosovo", "Kroatien", "Kuba", "Kuwait", "Laos", "Lesotho", "Lettland", "Libanon", "Liberia", "Libyen", "Liechtenstein", "Litauen", "Luxemburg", "Madagaskar", "Malawi", "Malaysia", "Malediven", "Mali", "Malta", "Marokko", "(ohne Westsahara)", "Marshallinseln", "Mauretanien", "Mauritius", "Mazedonien", "Mexiko", "Mikronesien", "Moldawien", "(mit Transnistrien)", "Monaco", "Mongolei", "Montenegro", "Mosambik", "Myanmar", "Namibia", "Nauru", "Nepal", "Neuseeland", "Nicaragua", "Königreich der Niederlande", "(ohne Curaçao, Sint Maarten und Aruba)", "Niger", "Nigeria", "Niue", "Nordzypern", "Norwegen", "(ohne Svalbard)", "Oman", "Österreich", "Osttimor / Timor-Leste", "Pakistan", "(ohne Kaschmir)", "Palästina", "Palau", "Panama", "Papua-Neuguinea", "Paraguay", "Peru", "Philippinen", "Polen", "Portugal", "Ruanda", "Rumänien", "Russland", "Salomonen", "Sambia", "Samoa", "San Marino", "São Tomé und Príncipe", "Saudi-Arabien", "Schweden", "Schweiz", "Senegal", "Serbien", "(ohne Kosovo)", "Seychellen", "Sierra Leone", "Simbabwe", "Singapur", "Slowakei", "Slowenien", "Somalia", "(mit Somaliland)", "Somaliland", "Spanien", "Sri Lanka", "St. Kitts und Nevis", "St. Lucia", "St. Vincent und die Grenadinen", "Südafrika", "Sudan", "Südossetien", "Südsudan", "Suriname", "Swasiland", "Syrien", "(mit Golanhöhen)", "Tadschikistan", "Tansania", "Thailand", "Togo", "Tonga", "Transnistrien", "Trinidad und Tobago", "Tschad", "Tschechien", "Tunesien", "Türkei", "Turkmenistan", "Tuvalu", "Uganda", "Ukraine", "Ungarn", "Uruguay", "Usbekistan", "Vanuatu", "Vatikanstadt", "Venezuela", "Vereinigte Arabische Emirate", "Vereinigte Staaten", "(ohne Außengebiete)", "Vereinigtes Königreich", "Vietnam", "Weißrussland", "Westsahara", "Zentralafrikanische Republik", "Zypern"], @export_application.exporter_country ? @export_application.exporter_country : nil), {}, class: 'validate' %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_company_registration_number, t('exporter_company_registration_number') %>
                                <%= form.text_field :exporter_company_registration_number, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :registration_court, t('registration_court') %>
                                <%= form.text_field :registration_court, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_date_founded, t('exporter_date_founded') %>
                                <%= form.text_field :exporter_date_founded, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_tax_id, t('exporter_tax_id') %>
                                <%= form.text_field :exporter_tax_id, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :employees_count, t('employees_count') %>
                                <%= form.text_field :employees_count, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_last_fiscal_year, t('exporter_last_fiscal_year') %>
                                <%= form.text_field :exporter_last_fiscal_year, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_revenue, t('exporter_revenue') %>
                                <%= form.text_field :exporter_revenue, autofocus: true, class: "validate" %>
                            </div>
                            <div class="input-field col s12 m6">
                                <%= form.label :exporter_total_assets, t('exporter_total_assets') %>
                                <%= form.text_field :exporter_total_assets, autofocus: true, class: "validate" %>
                            </div>

                            <div class="background_toggle exporter_external_rating_available <%= (@export_application.exporter_external_rating_available.present? && @export_application.exporter_external_rating_available) ? 'dialog_background' : '' %>">

                                <div class="input-field col s12 m12">
                                    <%= form.label :exporter_external_rating_available, t('exporter_external_rating_available') %>
                                    <br><br>

                                    <label onclick="exporterExternalRatingFunction()">
                                        <span class="yes yes-no-btns exporter_external_rating_available <%= 'active-btn' if (@export_application.exporter_external_rating_available) %>">
                                            <%= check_box_tag "export_application[exporter_external_rating_available]", '1' %>
                                            <%= t :yes_button %>
                                        </span>
                                    </label>

                                    <label onclick="noExporterExternalRatingFunction()">
                                        <span class="no yes-no-btns exporter_external_rating_available <%= 'active-btn' if (!@export_application.exporter_external_rating_available.nil? && !@export_application.exporter_external_rating_available) %>">
                                            <%= check_box_tag "export_application[exporter_external_rating_available]", '0' %>
                                            <%= t :no_button %>
                                        </span>
                                    </label>
                                </div>

                                <div id="exporterExternalRating" style="display: <%= (@export_application.exporter_external_rating_available.present? && @export_application.exporter_external_rating_available)? 'block' : 'none' %>;">
                                    <div class="input-field col s12">
                                        <%= form.label :exporter_rating, t('exporter_rating') %>
                                        <%= form.text_field :exporter_rating, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <%= form.label :exporter_rating_agency, t('exporter_rating_agency') %>
                                        <%= form.text_field :exporter_rating_agency, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12 m6">
                                        <%= form.label :exporter_rating_issued_date, t('exporter_rating_issued_date') %>
                                        <%= form.text_field :exporter_rating_issued_date, autofocus: true, class: "datepicker", placeholder: "dd/mm/yyyy" %>
                                    </div>
                                </div>

                            </div>

                            <div class="background_toggle has_previously_used_hermes_cover <%= (!@export_application.has_previously_used_hermes_cover.nil? && !@export_application.has_previously_used_hermes_cover) ? 'dialog_background' : '' %>">

                                <div class="input-field col s12 m12">
                                    <%= form.label :has_previously_used_hermes_cover, t('has_previously_used_hermes_cover') %>
                                    <br><br>

                                    <label onclick="previouslyHermesInsuranceUsed()">
                                        <span class="yes yes-no-btns has_previously_used_hermes_cover <%= 'active-btn' if (@export_application.has_previously_used_hermes_cover) %>">
                                            <%= check_box_tag "export_application[has_previously_used_hermes_cover]", '1' %>
                                            <%= t :yes_button %>
                                        </span>
                                    </label>

                                    <label onclick="noPreviouslyHermesInsuranceUsed()">
                                        <span class="no yes-no-btns has_previously_used_hermes_cover <%= 'active-btn' if (!@export_application.has_previously_used_hermes_cover.nil? && !@export_application.has_previously_used_hermes_cover) %>">
                                            <%= check_box_tag "export_application[has_previously_used_hermes_cover]", '0' %>
                                            <%= t :no_button %>
                                        </span>
                                    </label>
                                </div>

                                <div id="newAtHermesDeckung" style="display: <%= (!@export_application.has_previously_used_hermes_cover.nil? && !@export_application.has_previously_used_hermes_cover)? 'block' : 'none' %>;">
                                    <div class="col m10">
                                        <br>
                                        <%= t('new_to_hermes_cover') %>
                                    </div>

                                    <div class="col m10">
                                        <br>
                                        <%= t('years_trading_without_hermes_insurance') %>
                                        <%= form.text_field :years_trading_without_hermes_insurance %>
                                    </div>

                                    <div class="col m10">
                                        <br>
                                        <%= t('experience_with_importer_country') %>
                                        <%= form.text_field :experience_with_importer_country %>
                                    </div>

                                    <div class="col m10">
                                        <br>
                                        <%= t('adequate_claims_management') %>
                                        <%= form.text_field :adequate_claims_management %>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

