<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-static-top">

    <div class="col-xs-10 col-sm-10 hidden-md hidden-lg no-padding">
        <div class="flex-container">

            <% if (!user_signed_in?) %>
                <div class="navbar-header">
                    <a href=/insurances class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:3em;width:auto; margin-left: 1em; margin-top: 1em; margin-bottom: 1em' %></a>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-text">

                    <li><%= link_to "Anmelden", new_user_session_path %></li>
                    <li><%= link_to "Registrieren", new_user_registration_path %></li>
                </ul>

            <% else %>
                <div class="navbar-header">
                    <a href=/insurances class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:3em;width:auto; margin-left: 1em; margin-top: 1em; margin-bottom: 1em' %></a>
                </div>
                <ul class="nav navbar-nav navbar-right navbar-text">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <%= image_tag "user1.png", class: "img-circle", height: '38', width: '38' %>&nbsp;
                            <%= current_user.fullname %>  <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><%= link_to "Versendete Anträge", submitted_applications_insurance_path(current_user.id) %></li>
                            <li><%= link_to "Abgeschlossene Transaktionen", approved_applications_insurance_path(current_user.id) %></li>
                            <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                            <li><%= link_to "Ausloggen", destroy_user_session_path, method: :destroy %></li>
                        </ul>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>

    <div class="col-lg-10 col-md-10 hidden-xs hidden-sm col-lg-offset-1 col-md-offset-1 no-padding">
        <div class="container">
            <% if (!user_signed_in?) %>

                <div class="navbar-header">
                    <a href="/insurances"> <%= image_tag "HandEX_logo4.png", style: 'height:4em;width:auto; margin-top: 1em; margin-bottom: 1em' %></a>
                </div>

                <ul class="nav navbar-nav navbar-right navbar-text">

                    <li><%= link_to "Anmelden", new_user_session_path %></li>
                    <li><%= link_to "Registrieren", new_user_registration_path %></li>

                </ul>

            <% else %>
                <div class="navbar-header">
                    <a href=/insurances > <%= image_tag "HandEX_logo4.png", style: 'height:4em;width:auto; margin-top: 1em; margin-bottom: 1em' %></a>
                </div>

                <ul class="nav navbar-nav navbar-right navbar-text">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                           role="button" aria-haspopup="true" aria-expanded="false">
                            <%= image_tag "user1.png", class: "img-circle", height: '62', width: '62' %>&nbsp;
                            <%= current_user.fullname %>  <span class="caret"></span>
                        </a>

                        <ul class="dropdown-menu">
                            <li><%= link_to "Versendete Anträge", submitted_applications_insurance_path(current_user.id) %></li>
                            <li><%= link_to "Abgeschlossene Transaktionen", approved_applications_insurance_path(current_user.id) %></li>
                            <li><%= link_to "Ihr Profil", edit_user_registration_path %></li>
                            <li><%= link_to "Ausloggen", destroy_user_session_path, method: :destroy %></li>
                        </ul>
                    </li>
                </ul>
            <% end %>
        </div>
    </div>
</nav>