<nav class="white z-depth-0">
    
    <div class="nav-wrapper z-depth-1">
        
        <a href="/" class="brand-logo"> <%= image_tag "HandEX_logo4.png", class: "handex-nav-logo" %></a>
        
        <ul class="right hide-on-med-and-down handex-nav-icon">
            <li>
                <a class="top-navigation-icons waves-effect" href=<%= edit_user_registration_path %>><i class="material-icons">account_circle</i></a>
            </li>
            
            <% if current_user.user_type == 3 %>
                <li>
                    <a class="top-navigation-icons waves-effect" href=<%= broker_filled_applications_user_path(current_user.id) %>><i class="material-icons">add_alert</i></a>
                </li>
            <% else %>
                <li>
                    <a class="top-navigation-icons waves-effect" href=<%= submitted_applications_user_path(current_user.id) %>><i class="material-icons">add_alert</i></a>
                </li>
            <% end %>
            <li>
                <a class="top-navigation-icons waves-effect dropdown-trigger" data-target="dropdown1"><i class="material-icons">settings</i></a>
            </li>
        </ul>
    
    </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
    
    <% if current_user.user_type == 3 %>
        <li><%= link_to t('submitted_application'), broker_filled_applications_user_path(current_user.id) %></li>
    <% else %>
        <li><%= link_to t('submitted_application'), submitted_applications_user_path(current_user.id) %></li>
    <% end %>
    
    <li><%= link_to t('your_profile'), edit_user_registration_path %></li>
    <!--    <li class="divider"></li>-->
    <li> <%= button_to t('logout'), destroy_user_session_path, method: :get, class: "handex-btn-logout" %> </li>

</ul>

<script>
    $(".dropdown-trigger").dropdown();
</script>