<nav class="white z-depth-0">

    <div class="nav-wrapper">

        <a href="/insurances" class="brand-logo"> <%= image_tag "HandEX_logo4.png", class: "handex-nav-logo", style: 'height:0.8em; width:auto; margin-left: 1em; margin-top: 0.7em; margin-bottom: 0.5em' %></a>

        <ul class="right hide-on-med-and-down handex-nav-icon">

            <li><a class="top-navigation-icons waves-effect" href="/profile"><i class="material-icons">account_circle</i></a></li>

            <li><a class="top-navigation-icons waves-effect" href=<%= approved_applications_insurance_path(current_user.id) %> ><i class="material-icons">add_alert</i></a></li>

            <li><a class="top-navigation-icons waves-effect dropdown-trigger" data-target="dropdown1"><i class="material-icons">settings</i></a></li>

        </ul>

    </div>
</nav>

<ul id="dropdown1" class="dropdown-content">
    <li><%= link_to t('submitted_application'), submitted_applications_insurance_path(current_user.id) %></li>
<!--    <li><%#= link_to t('approved_application'), approved_applications_insurance_path(current_user.id) %></li>-->
    <li><%= link_to t('your_profile'), edit_user_registration_path %></li>
    <li class="divider"></li>
    <li><%= link_to t('logout'), destroy_user_session_path, method: :destroy %></li>
</ul>

<script>
    $(".dropdown-trigger").dropdown();
</script>






