<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="wizard-container">
                <div class="card wizard-card" data-color="blue" id="wizard">

                    <%= form_with(model: import, local: true, html: {multipart: true}, id: "customer-portal") do |form| %>

                        <% if import.errors.any? %>
                            <div id="error_explanation">
                                <h2><%= pluralize(import.errors.count, "error") %> prohibited this import from
                                    being saved:</h2>
                                <ul>
                                    <% import.errors.full_messages.each do |message| %>
                                        <li><%= message %></li>
                                    <% end %>
                                </ul>
                            </div>
                        <% end %>

                        <div class="wizard-header">
                            <!--                            <h3 class="wizard-title">Versichern Sie Ihren Export</h3>-->
                            <br><br>
                        </div>

                        <div class="wizard-navigation">

                            <div class="progress-with-circle">
                                <div class="progress-bar" role="progressbar" aria-valuenow="1" aria-valuemin="1" aria-valuemax="4" style="width: 15%;"></div>
                            </div>

                            <ul>
                                <li>
                                    <a href="#facilities" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-panel"></i>
                                        </div>
                                        <p style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> Ihr Geschäft </p>
                                    </a>
                                </li>
                                <li>
                                    <a href="#description" data-toggle="tab">
                                        <div class="icon-circle">
                                            <i class="ti-comments"></i>
                                        </div>
                                        <p style="font-family: 'Handel Becker Light', 'Handel Becker Med', 'HandelGotDBol', sans-serif;"> Ihr Kunde </p>
                                    </a>
                                </li>
                            </ul>

                        </div>

                        <br><br>

                        <div class="tab-content">

                            <div class="tab-pane" id="facilities">
                                <%= render "import_information_one.html.erb", form: form %>
                            </div>

                            <div class="tab-pane" id="description">
                                <%= render "import_information_two.html.erb", form: form %>
                            </div>
                        </div>

                        <div class="wizard-footer">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' value='Weiter'/>
                                <%= form.submit class: 'btn btn-finish btn-fill btn-danger btn-wd', value: 'Angaben prüfen', :onclick => "validateCheckbox();" %>
                            </div>

                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-default btn-wd' name='previous' value='Zurück'/>
                            </div>

                            <div class="clearfix">
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>