<br><br><br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p style="color: #00bbff"><b>General Terms</b></p>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Currency Code</b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Amount</b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Amount Postiive Tolerance (in %) </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Amount Negative Tolerance (in %) </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Partial Shipments  </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Partial Shipments  </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Port of Loading </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br>
<div class="row">
    <div class="col-sm-4 col-sm-offset-1">
        <p><b>Port of Discharge  </b></p>
    </div>

    <div class="col-sm-4 ">
        <%= form.text_field :description, class: 'form-control' %>
    </div>
</div>
<br><br><br>
