<div id="top"></div>
<!-- Start Header Area -->
<header class="default-header">
    <div class="sticky-header">
        <div class="container">
            <div class="header-content d-flex  ">
                <div class="logo">
                    <a href="#top" class="smooth"><%= image_tag "logo5_resize.png" %></a>
                </div>
                <div class="right-bar d-flex align-items-center">
                    <nav class="d-flex align-items-center">
                        <ul class="main-menu">
                            <li><a href="#top">Home</a></li>
                            <li><a href="#services">Services</a></li>
                            <li><a href="#protfolio">Portfolio</a></li>
                            <li><a href="#team">Team</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="#contact">Contact</a></li>
                        </ul>
                        <a href="#" class="mobile-btn"><span class="lnr lnr-menu"></span></a>
                    </nav>
                    <div class="search relative">
                        <span class="lnr lnr-magnifier"></span>
                        <form action="#" class="search-field">
                            <input type="text" placeholder="Search here" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search here'">
                            <button class="search-submit"><span class="lnr lnr-magnifier"></span></button>
                        </form>
                    </div>
                    <div class="header-social d-flex align-items-center">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row fullscreen justify-content-center align-items-center">
            <div class="col-lg-8">
                <div class="banner-content text-center">
                    <p class="text-uppercase text-white"> Schnell. Einfach. Zuverlässig. </p>
                    <h1 class="text-uppercase text-white"> WIR FINANZIEREN IHREN GLOBALEN HANDEL </h1>
                    <a href="#" class="primary-btn banner-btn">Explore Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<!-- End Digital Studio -->
<section class="hero">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-0 col-sm-offset-1 col-sm-10">
                <div class="hero-text">
                    <h1> <span class="big-title"> GET LOAN HERE</span> </h1>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="arrow">
                    <%#= image_tag("s1.jpg", :class => "img-fluid") %>

                    <%= image_tag "arrow.png", :alt => "arrow" %>
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div class="hero-form">
                    <h2>GET A LOAN</h2>
                    <h6>SCHNELL, EINFACH, ZUVERLÄSSIG</h6>


                    <form method="post" id="contactform">

                        <div class="form-group form-group-lg">
                            <label class="sr-only" >Full Name</label>
                            <input type="text" class="form-control" id="fullName" name="fullName" placeholder="Firmenname" required="required">
                        </div>

                        <div class="form-group form-group-lg">
                            <label class="sr-only">Email</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email Adresse" required="required">
                        </div>
<!--                        <button type="submit" class="btn btn-primary btn-lg btn-block">SIGN UP</button>-->
                        <%#= button_to "SIGN UP", new_document_path, method: :get, class: "btn btn-primary btn-lg btn-block" %>

                        <a class="btn btn-primary btn-lg btn-block" href="/registration" ><b><%= t('sign_up')%></b></a>

                    </form>

                    <p>We promise your details are secure with us.</p>
                    <p class="form-message"></p>
                </div>
            </div>
        </div> <!-- Hero Row End -->
    </div> <!-- Hero Container End -->
</section> <!-- Hero Section End -->
<!-- Start About Area -->
<section class="section-full gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title text-center">
                    <h1 class="text-uppercase"> WIE WIR ARBEITEN </h1>
                    <h3>Wir finanzieren den Warenbestand unserer Kunden und bezahlen den Lieferanten sofort aus. Unsere Kunden gewinnen somit Zeit um die Rechnung zu begleichen. Wir agieren als Zwischenhändler in dieser Transaktion und eröffnen neue Möglichkeiten für Händler und Lieferanten..
                    </h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <figure class="signle-service">
                    <%= image_tag("s1.jpg", :class => "img-fluid") %>
<!--                    <img src="s1.jpg" class="img-fluid" alt="">-->
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Addiction Whit Gambling</h5>
                        <p>It is a good idea to think of your PC as an office. It stores files, programs, pictures. This
                            can be compared to an actual office’s files</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <%= image_tag "s2.jpg", :class => "img-fluid" %>
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Headset No Longer Wired</h5>
                        <p>If you are in the market for a computer, there are a number of factors to consider. Will it
                            be used for your home, your office or perhaps </p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="signle-service">
                    <%= image_tag "s3.jpg", :class => "img-fluid" %>
                    <figcaption class="text-center">
                        <h5 class="text-uppercase">Life Advice Looking At Window</h5>
                        <p>Having a baby can be a nerve wrackingexp erience for new parents – not the nine months of
                            pregnancy, I’m talking</p>
                        <a href="#" class="primary-btn d-inline-flex align-items-center">Explore<span class="lnr lnr-arrow-right"></span></a>
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->
<!-- Start Product Area -->
<section id="services" class="title-bg section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-white text-uppercase">Why Choose Us</p>
                    <h2 class="text-white h1">We ensure perfect quality Digital <br> products for you</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                `        <span class="lnr lnr-star"></span>
                    </div>
                    <div class="desc">
                        <h4>SCHNELL</h4>
                        <p>Most people who work in an office environment, buy computer products, or have </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-magic-wand"></span>
                    </div>
                    <div class="desc">
                        <h4>ZUVERLÄSSIG</h4>
                        <p>Today, many people rely on computers to do homework, work, and create or store useful</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-product">
                    <div class="icon">
                        <span class="lnr lnr-sun"></span>
                    </div>
                    <div class="desc">
                        <h4>EINFACH</h4>
                        <p>Having a baby can be a nerve wracking experience for new parents – not the nine months </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Product Area -->
<!-- Start shuffle Area -->
<section id="protfolio" class="section-full">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Remarkable Works</p>
                    <h2 class="h1">We have gained reliability <br> to serve you best</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="controls d-flex flex-wrap justify-content-center">
            <a class="filter active" data-filter="all">All</a>
            <a class="filter" data-filter=".category-1">Categories</a>
            <a class="filter" data-filter=".category-2">Branding</a>
            <a class="filter" data-filter=".category-3">Image Manipulation</a>
            <a class="filter" data-filter=".category-4">Creative Work</a>
            <a class="filter" data-filter=".category-5">Web Design</a>
            <a class="filter" data-filter=".category-6">Print Material</a>
        </div>
    </div>


    <div id="filter-content" class="row no-gutters mt-70">
        <div class="mix category-1 col-lg-3 col-md-4 col-sm-6 single-filter-content content-1" data-myorder="1">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-5 category-3 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-2" data-myorder="2">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-3" data-myorder="3">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-3 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-4" data-myorder="4">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-4 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-5" data-myorder="5">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-1 category-3 category-5 category-6 col-lg-3 col-md-4 col-sm-6 single-filter-content content-6" data-myorder="6">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-4 category-3 col-lg-3 col-md-4 col-sm-6 single-filter-content content-7" data-myorder="7">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
        <div class="mix category-2 category-6 category-5 col-lg-3 col-md-4 col-sm-6 single-filter-content content-8" data-myorder="8">
            <div class="overlay overlay-bg-content d-flex align-items-center justify-content-center flex-column">
                <p class="text-white">Image Manipulation</p>
                <div class="line"></div>
                <h5 class="text-white text-uppercase">Creative Tangerine</h5>
            </div>
        </div>
    </div>
</section>
<!-- End shuffle Area -->
<!-- Start Team member Area -->
<section id="team" class="pb-150">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="product-area-title text-center">
                    <p class="text-uppercase">Creative People</p>
                    <h2 class="h1">Team work builds trust and <br> trust builds growth</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">

            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
<!--                    <div class="thumb relative" style="background: url(t1.jpg);">-->
<!--                        <div class="thumb relative" style="background: <%#= image_tag "t1.jpg" %>;">-->
                    <div class="thumb relative" style="background: url(<%= asset_path 'asfandyar.jpg' %>);">
                    <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#"> Asfandyar Malik </a></h5>
                        <p> Engineer </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
<!--                    <div class="thumb relative" style="background: url(t2.jpg);">-->
                        <div class="thumb relative" style="background: url(<%= asset_path 'vincent.jpg' %>);">


                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#"> Vincent Lauer </a></h5>
                        <p>Creative Art Director</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="single-member">
<!--                    <div class="thumb relative" style="background: url(t4.jpg);">-->
                        <div class="thumb relative" style="background: url(<%= asset_path 'patrick.png' %>);">
                        <div class="overlay overlay-member d-flex flex-column justify-content-end align-items-center">
                            <p class="text-white">This article is floated online with an aim to help you find the best
                                dvd printing solution. Dvd</p>
                            <div class="line"></div>
                            <div class="social d-flex align-items-center justify-content-center">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="desc text-center">
                        <h5 class="text-uppercase"><a href="#"> Patrick Kupitz </a></h5>
                        <p>Creative Content Developer</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Team member Area -->

<!-- Start Digital Studio -->
<section class="section-full studio-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="studio-content">
                    <p class="text-uppercase text-white">We create top class designs</p>
                    <h2 class="h1 text-white text-uppercase mb-20">A Digital Studio Crafting <br> Tech Business</h2>
                    <p class="text-white mb-30">Computer users and programmers have become so accustomed to using
                        Windows, even for the changing capabilities and the appearances of the graphical interface of
                        the versions, therefore it has remained Microsoft’s product. Although, Lycoris, Red Hat,
                        Mandrake,</p>
                    <a href="#" class="primary-btn text-white d-inline-flex align-items-center">Start
                        Business<span class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>


<footer class="section-full">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20"> About HandEX </h6>
                    <p> We enable SME's (TODO) </p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Navigation Links</h6>
                    <div class="d-flex">
                        <ul class="footer-nav">
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Services</a></li>
                            <li><a href="#">Portfolio</a></li>
                        </ul>
                        <ul class="ml-30 footer-nav">
                            <li><a href="#">Team</a></li>
                            <li><a href="#">Pricing</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Newsletter</h6>
                    <p> To receive cool updates and information on new offers,</p>
                    <div id="mc_embed_signup">
                        <form target="_blank" novalidate action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01" method="get" class="subscription relative d-flex justify-content-center">
                            <input type="email" name="EMAIL" placeholder="Email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email address'" required>
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="">
                            </div>
                            <button type="submit" class="newsletter-btn" name="subscribe">
                                <span class="lnr lnr-location"></span></button>
                            <div class="info"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="single-footer-widget">
                    <h6 class="text-white text-uppercase mb-20">Instafeed</h6>
                    <ul class="instafeed d-flex flex-wrap">
                        <li><% image_tag "i1.jpg" %></li>
                        <li><% image_tag "i2.jpg" %></li>
                        <li><% image_tag "i3.jpg" %></li>
                        <li><% image_tag "i4.jpg" %></li>
                        <li><% image_tag "i5.jpg" %></li>
                        <li><% image_tag "i6.jpg" %></li>
                        <li><% image_tag "i7.jpg" %></li>
                        <li><% image_tag "i8.jpg" %></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-bottom d-flex justify-content-between align-items-center">
            <p class="footer-text m-0">Copyright &copy; 2018 | All rights reserved to <a href="#">Handex GmbH.</a>
                Designed by <a href="https://colorlib.com/wp">Colorlib</a>.</p>
            <div class="footer-social d-flex align-items-center">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
    </div>
</footer>