<%= render 'shared/navbar' %>

<div class="container">
    <div class="section standard">
        <div class="row valign-wrapper">
            <div class="col s12 m4">
                <div class="text-section black-text">
                    <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                    <h2>Antrag</h2>
                    <p>Bitte wählen Sie aus, wie Sie vorgehen möchten.<br>
                    </p>
                </div>
            </div>

            <div class="col s12 m7">
                <div class="row">
                    <div class="col s4 m6">
                        <div class="card small choice-card">
                            <div class="card-title valign-wrapper">
                                <%= image_tag "behalf_customer.png" %>
                                <div class="title-text">
                                    <strong>Antrag selbst ausfüllen</strong>
                                </div>
                            </div>
                            <div class="card-content center-align light-hint">
                                <p>Sie füllen den Antrag selbst aus</p>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12 center-align">
                                    <a href="<%= new_export_application_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                        Geht's</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col s4 m6">
                        <div class="card small choice-card">
                            <div class="card-title valign-wrapper">
                                <%= image_tag "invitecustomer.png" %>
                                <div class="title-text">
                                    <strong>HandEX füllt Antrag aus</strong>
                                </div>
                            </div>
                            <div class="card-content center-align light-hint">
                                <p> HandEX extrahiert automatisch relevante Daten aus Ihrem Liefervertrag und erstellt so den Antrag für Sie</p>
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12 center-align">
                                    <a href="<%= new_prefill_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                        Geht's</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>