<%= render 'shared/navbar' %>

<div class="container">
    <div class="section standard">
        <div class="row valign-wrapper">
            <div class="col s12 m4">
                <div class="text-section black-text">
                    <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                    <h2>Produktauswahl</h2>
                    <p>Bitte wählen Sie das Produkt für Ihren Kunden aus.<br>
                    </p>
                </div>
            </div>
            
            <div class="col s12 m7">
                <div class="row">
                    
                    <div class="col s4 m6">
                        
                        <div class="card medium handex-medium choice-card">
                            
                            <div class="card-title valign-wrapper">
                                <%= image_tag "insurance.png", class: "activator" %>
                            </div>
                            
                            <% if current_user.user_type == 3 %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Exportkreditversicherung</strong><br>
                                        <span class="activator" style="font-size: 15px"> Lieferantenkreditdeckung (Hermesdeckung) für eine zukünftige ... </span>
                                    </span>
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Exportkreditversicherung</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>Lieferantenkreditdeckung (Hermesdeckung) für eine zukünftige Exportlieferung
                                        Ihres Kunden.</p>
                                </div>
                                
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_advice_insurance_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            
                            
                            <% else %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Exportkreditversicherung</strong><br>
                                        <span class="activator" style="font-size: 15px"> Sie möchten sich gegen Zahlungsausfall Ihres internationalen Kunden absichern? ...</span>
                                    </span>
                                    
                                    <!--                                    <div class="input-field col s12 center-align">-->
                                    <!--                                        <a href="/insurances/new" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los-->
                                    <!--                                            Geht's</a>-->
                                    <!--                                    </div>-->
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Exportkreditversicherung</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p> Sie möchten sich gegen Zahlungsausfall Ihres internationalen Kunden absichern?
                                        Beantragen Sie eine Lieferantenkreditdeckung (Hermesdeckung) für eine zukünftige
                                        Exportlieferung. </p>
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_invite_or_fill_yourself_insurance_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="col s4 m6">
                        
                        <div class="card medium handex-medium choice-card">
                            
                            <div class="card-title valign-wrapper">
                                <%= image_tag "versicherung_finanzierung.png", :class => "activator multi_image" %>
                            </div>
                            
                            <% if current_user.user_type == 3 %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Hermesgedeckte Forfaitierung</strong><br>
                                        <span class="activator" style="font-size: 15px"> Hermesgedeckte Forfaitierung für zukünftige Exportlieferungen Ihres Kunden... </span>
                                    </span>
                                    
                                    <!--                                    <div class="input-field col s12 center-align">-->
                                    <!--                                        <a href="/pages/advice" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los-->
                                    <!--                                            Geht's</a>-->
                                    <!--                                    </div>-->
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Hermesgedeckte Forfaitierung </strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>Hermesgedeckte Forfaitierung für zukünftige Exportlieferungen Ihres Kunden. Die
                                        Hermesdeckung wird beantragt und im Zuge der Forfaitierung von Ihrem Kunden an
                                        die
                                        refinanzierende Bank abgetreten.</p>
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_advice_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            
                            <% else %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Hermesgedeckte Forfaitierung</strong><br>
                                        <span class="activator" style="font-size: 15px">Sie möchten Ihrem Kunden ein langes Zahlungsziel (>120 Tage) einräumen ... </span>
                                    </span>
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Hermesgedeckte Forfaitierung</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p> Sie möchten Ihrem Kunden ein langes Zahlungsziel (>120 Tage) einräumen und haben
                                        bisher noch nicht geliefert und keine Exportkreditversicherung? Dann beantragen
                                        wir eine Hermesdeckung für Sie und finanzieren Ihren internationalen
                                        Kundenmittels Forfaitierung, sodass Ihnen sofort Liquidität zufließt. </p>
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_invite_or_fill_yourself_export_appilcation_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="col s4 m6">
                        
                        <div class="card medium handex-medium choice-card">
                            
                            <div class="card-title valign-wrapper">
                                <%= image_tag "financing.png", class: "activator" %>
                            </div>
                            
                            <% if current_user.user_type == 3 %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Hermesgedeckter Bestellerkredit</strong><br>
                                        <span class="activator" style="font-size: 15px">Hermesgedeckter Bestellerkredit, d.h. eine direkte Finanzierung Ihres .... </span>
                                    </span>
<!--                                    <p style="color: red; text-align: center"> In Kürze verfügbar </p>-->
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Hermesgedeckter Bestellerkredit </strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>Hermesgedeckter Bestellerkredit, d.h. eine direkte Finanzierung Ihres Bestellers durch eine deutsche Partnerbank von HandEX </p>
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_advice_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            
                            <% else %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong>Hermesgedeckter Bestellerkredit</strong><br>
                                        <span class="activator" style="font-size: 15px"> Hermesgedeckter Bestellerkredit, d.h. eine direkte Finanzierung Ihres ...... </span>
                                    </span>
<!--                                    <p style="color: red; text-align: center"> In Kürze verfügbar </p>-->
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                        <strong>Hermesgedeckter Bestellerkredit</strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p> Hermesgedeckter Bestellerkredit, d.h. eine direkte Finanzierung Ihres Bestellers durch eine deutsche Partnerbank von HandEX </p>
                                </div>
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="<%= pages_invite_or_fill_yourself_export_appilcation_path %>" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    
                    
                    <div class="col s4 m6">
                        
                        <div class="card medium handex-medium choice-card">
                            
                            <div class="card-title valign-wrapper">
                                <%= image_tag "financing.png", class: "activator" %>
                            </div>
                            
                            <% if current_user.user_type == 3 %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong><%= t('refinancing_receivables') %></strong>
                                        <span class="activator" style="font-size: 15px"> Refinanzierung bestehender Forderungen aus Exportgeschäften  ... </span>
                                    </span>
                                    <p style="color: red; text-align: center"> In Kürze verfügbar </p>
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                            <strong><%= t('refinancing_receivables') %></strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>Refinanzierung bestehender Forderungen aus Exportgeschäften Ihrer Kunden (>120
                                        Tage Restlaufzeit). Voraussetzung ist eine Deckung der Forderung durch eine
                                        Kreditversicherung.</p>
                                </div>
                                
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="#" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            
                            <% else %>
                                
                                <div class="card-content">
                                    <span class="card-title activator grey-text text-darken-4">
                                        <strong><%= t('refinancing_receivables') %></strong>
                                        <span class="activator" style="font-size: 15px"> Sie haben bereits an Ihren Kunden geliefert und möchten nicht mehrauf Zahlungen ... </span>
                                    </span>
                                    
                                    <p style="color: red; text-align: center"> In Kürze verfügbar </p>
                                </div>
                                
                                <div class="card-reveal">
                                    <span class="card-title grey-text text-darken-4">
                                            <strong><%= t('refinancing_receivables') %></strong>
                                        <i class="material-icons right">close</i>
                                    </span>
                                    <p>Sie haben bereits an Ihren Kunden geliefert und möchten nicht mehrauf Zahlungen
                                        (>120 Tage Restlaufzeit) warten? Dann refinanzieren wir Ihre bestehende
                                        Forderung
                                        mittels Forfaitierung, sodass Ihnen sofort Liquidität zufließt. Eine bestehende
                                        Deckung der Forderung durch eine Kreditversicherung wirkt sich positiv aus.</p>
                                </div>
                                
                                <div class="card-action">
                                    <div class="input-field col s12 center-align">
                                        <a href="#" class="btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" name="action">Los
                                            Geht's</a>
                                    </div>
                                </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>