<ul class="sidebar-list">

    <br>
    <li class="sidebar-item">
        <%= link_to "Eligibility", eligibility_tradeinfo_path(@tradeinfo), class: "sidebar-link active" %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>

    <br>
    <li class="sidebar-item">
        <% if @tradeinfo.buyer %>
            <%= link_to "Buyers", tradeinfo_buyers_index_path(@tradeinfo), class: "sidebar-link active" %>
        <% else %>
            <%= link_to "Buyers", new_tradeinfo_buyer_path(@tradeinfo), class: "sidebar-link active" %>
        <% end %>
        <span id="exporter" class="pull-right text-babu"><i class="fa fa-check"> </i></span>
    </li>
    <br>

    <li class="sidebar-item">
        <% if @tradeinfo.financial %>
            <%= link_to "Financials", tradeinfo_financials_index_path(@tradeinfo), class: "sidebar-link active" %>
        <% else %>
            <%= link_to "Financials", new_tradeinfo_financial_path(@tradeinfo), class: "sidebar-link active" %>
        <% end %>
        <span id="financials" class="pull-right text-babu"> <i class="fa fa-check"> </i></span>
    </li>
</ul>