<div id="loader" style="display:none; background-color: #FEEFD9; text-align: center;">
    <img id="myImage" , src="<%= asset_path('animated-transport-resize.gif') %>"></div><br>

<section id="SECTION_84">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Congratulations !!!
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Your loan request for has been accepted for <b><%= @tradeinfo.financial.total_financing_required %></b>. <br>
                    You have to repay back in <b><%= @tradeinfo.financial.time_duration %></b> <br id="BR_93"/><br id="BR_94"/><br id="BR_95"/>
                </div>
            </div>
        </div>

        <br>

        <div id="DIV_88">

            <% if @tradeinfo.bankaccount %>
                <%= button_to "Proceed to checkout", tradeinfo_bankaccounts_index_path(@tradeinfo, @financial), method: :get, id:"BUTTON_298" %>
            <% else %>
                <%= button_to "Proceed to checkout", new_tradeinfo_bankaccount_path(@tradeinfo, @financial), method: :get, id:"BUTTON_298" %>
            <% end %>

        </div>

    </div>
</section>

<script type="text/javascript">

    (function () {
        var loader = document.getElementById("loader");
        var section = document.getElementById("SECTION_84");

        show = function () {
            loader.style.display = "block";
            section.style.display = "none";
            setTimeout(hide, 0000);
        },

            hide = function () {
                loader.style.display = "none";
                section.style.display = "block";

            };
        show();
    })();

</script>

<style>

    body {
        background-color: #FEEFD9;
    }

    #SECTION_84 {
        background:  #FEEFD9;
        padding-top: 6%;
    }
</style>