<div id="loader" style="display:none; background-color: #FEEFD9; padding-top: 5%; text-align: center;">
    <img id="myImage" , src="<%= asset_path('animated-transport-resize.gif') %>"></div><br>

<section id="SECTION_84" style="display:none">
    <div id="DIV_85">

        <div id="DIV_86">
            <div id="DIV_87">
                Congratulations !!!
            </div>
        </div>
        <div id="DIV_88">
            <div id="DIV_89">
                <div id="DIV_90">
                    Your loan request for has been accepted for <b><%= @tradeinfo.financial.total_financing_required %></b>. <br>
                    You have to repay back in <b><%= @tradeinfo.financial.time_duration %></b> <br id="BR_93"/><br id="BR_94"/><br id="BR_95"/>

                    Would you like to purchase insurance from <b>Euler Hermes</b>

                </div>
            </div>
        </div>

        <br>
        <br>

        <div id="DIV_88">

            <% if @tradeinfo.insurance %>
                <%= button_to "Yes I would like my loan to be insured",  tradeinfo_insurances_index_path(@tradeinfo), method: :get, id:"BUTTON_298" %>
            <% else %>
                <%= button_to "Yes I would like my loan to be insured", new_tradeinfo_insurance_path(@tradeinfo), method: :get, id:"BUTTON_298" %>
            <% end %>

            <br>

            <% if @tradeinfo.bankaccount %>
                <%= button_to "No I dont want to insure my loan", tradeinfo_bankaccounts_index_path(@tradeinfo), method: :get, id:"BUTTON_299" %>
            <% else %>
                <%= button_to "No I dont want to insure my loan", new_tradeinfo_bankaccount_path(@tradeinfo), method: :get, id:"BUTTON_299" %>
            <% end %>

        </div>

    </div>
</section>

<script type="text/javascript">

    (function () {
        var loader = document.getElementById("loader");
        var section = document.getElementById("SECTION_84");

        show = function () {
            loader.style.display = "block";
            section.style.display = "none";
            setTimeout(hide, 3000);
        },

            hide = function () {
                loader.style.display = "none";
                section.style.display = "block";

            };
        show();
    })();

</script>

<style>

    body {
        background-color: #FEEFD9;
    }

    #SECTION_84 {
        background:  #FEEFD9;
        padding-top: 6%;
    }
</style>