<div class="row ">
    <div class="col-md-2">
        <%= render 'tradeinfo_menu' %>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-heading">
                Eligibility
            </div>

            <div class="panel-body">
                <div class="container">
                    <%= form_for @tradeinfo do |f| %>


                        <div id="DIV_226">

                            <div class="row">
                                    <label class="control-label"> Product Information</label>


                                    <div class="row">
                                        <br>
                                        <div class="col-md-6">
                                            <p> What products do you export </p>
                                            <div> <%= f.text_field :goods, class: "form-control" %> </div>
                                        </div>

                                    </div>
                                    <br><br>

                                    <div class="row">
                                        <div class="col-md-6">
                                            <p> What is the category of products exported? </p>

                                            <%= f.select :category, [["Machines", "Machines"], ["Transportation", "Transportation"], ["Chemical Products", "Chemical Products"],
                                                                     ["Metals", "Metals"], ["Plastics and Rubbers", "Plastics and Rubbers"], ["Instruments", "Instruments"],
                                                                     ["Textiles", "Textiles"], ["Paper goods", "Paper goods"], ["Weapons", "Weapons"],
                                                                     ["Mineral Products", "Mineral Products"], ["Miscellaneous", "Miscellaneous"],
                                                                     ["Foodstuffs", "Foodstuffs"], ["Stone and Glass", "Stone and Glass"],
                                                                     ["Vegetable", "Vegetable"], ["Precious Metals", "Precious Metals"], ["Wood products", "Wood products"], ["Footwear and Headwear", "Footwear and Headwear"],
                                                                     ["Animal and vegetable Bi-products", "Animal and vegetable Bi-products"], ["Arts and antiques", "Arts and antiques"]],
                                                         id: "B_168", prompt: "Select..." %>

                                        </div>
                                    </div>

                                <br>
                                <hr align="middle" background-color="#322d59" width="100%">

                                <div class="form-group">
                                    <label class="control-label"> Exporter Information </label>

                                    <div class="row">
                                        <br>
                                        <div class="col-md-4">
                                            <p> Company Name </p>
                                            <div> <%= f.text_field :companyName, class: "form-control" %> </div>
                                        </div>

                                        <div class="col-md-4 col-md-offset-2">
                                            <p> Company Phone </p>
                                            <div> <%= f.text_field :companyPhone, class: "form-control"%> </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-4 col-md-offset-2">
                                        </div>
                                    </div>
                                </div>

                                <hr align="middle" background-color="#322d59" width="100%">


                                <div class="form-group">
                                    <label class="control-label"> Importer Information</label>

                                    <div class="row">
                                        <br>
                                        <div class="col-md-4">
                                            <p> Company Name </p>
                                            <div> <%= f.text_field :importerName, class: "form-control" %> </div>
                                        </div>
                                        <div class="col-md-5 col-md-offset-2">
                                            <p> Email </p>
                                            <div> <%= f.text_field :importerEmail, class: "form-control" %> </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <br>
                                        <div class="col-md-4">
                                            <p> Phone </p>
                                            <div> <%= f.text_field :companyEmail, class: "form-control" %> </div>
                                        </div>
                                    </div>

                                </div>

                                <br>
                                <br>

                            </div>
                        </div>

                    <% end %>
                </div>


                <div class="text-center">
                    <% if @tradeinfo.buyer %>
                        <%= button_to "Save", tradeinfo_buyers_index_path(@tradeinfo), class: "btn btn-form", method: :get %>
                    <% else %>
                        <%= button_to "Save", new_tradeinfo_buyer_path(@tradeinfo), class: "btn btn-form", method: :get %>
                    <% end %>
                </div>

            </div>
        </div>
    </div>
</div>