<section id="SECTION_84">
    <div id="DIV_85">
        <%= form_for @tradeinfo do |f| %>
            <div id="DIV_91">

                <div id="DIV_110">
                    <h1 id="H1_224">
                        Bank Account Information
                    </h1>

                    <div id="DIV_225">

                        <div class="form-group">
                            <label class="control-label"> Name of Account Holder </label>
                            <div> <%= f.text_field :importerName, class: "form-control", required: true %> </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> IBAN Number</label>
                            <div> <%= f.text_field :importerEmail, class: "form-control", required: true %> </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label"> BIC </label>
                            <div> <%= f.text_field :taxId, class: "form-control", required: true %> </div>
                        </div>

                    </div>

                    <div id="DIV_295">
                        <a href="#details" id="A_296">Back</a>
                        <button type="submit" name="application[stage]" value="-1" id="BUTTON_297">
                            Submit
                        </button>
                    </div>
                </div>

                <div id="DIV_210">
                    <img class="responsive-img" id="IMG_211" src="<%= asset_path('bank.png') %>">
                </div>

                <div id="DIV_105">
                    <div id="DIV_106">
                        Collateral-backed export finance loans
                    </div>
                    <div id="DIV_107">
                        Quick approval for credit upto 1.5 million Euros
                    </div>
                    <div id="DIV_108">
                        Increase sales by offering credit
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</section>

<footer id="FOOTER_408">
</footer>