<div class="row">
    <div class="col-md-3">
        <%#= render 'document_menu' %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">

            <div class="panel-heading">
                <%= @tradeinfo.exportinformation %> Export Details
            </div>

            <div class="panel-body">
                <div class="container">
                    <%= form_for @tradeinfo do |f| %>

                        <div class="row">
                            <div class="form-group">
                                <label>Company Name</label>
                                <%= f.companyName :exportinformation, rows: 2, placeholder: "Company Name", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Company Email</label>
                                <%= f.companyEmail :exportinformation, rows: 2, placeholder: "Company Email", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Company Phone</label>
                                <%= f.companyPhone :exportinformation, rows: 2, placeholder: "Company Phone", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Importer Name</label>
                                <%= f.importerName :exportinformation, rows: 2, placeholder: "Importer Name", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Importer Email</label>
                                <%= f.importerEmail :exportinformation, rows: 2, placeholder: "Importer Email", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Tax Id</label>
                                <%= f.taxId :exportinformation, rows: 2, placeholder: "Tax Id", class: "form-control", required: true %>
                            </div>

                        </div>

                        <div class="text-left">
                            <%= f.submit "Next", class: "btn btn-form" %>
                        </div>

                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>
