<div class="row">
    <div class="col-md-3">
        <%#= render 'document_menu' %>
    </div>
    <div class="col-md-9">
        <div class="panel panel-default">

            <div class="panel-heading">
                Import Details
            </div>

            <div class="panel-body">
                <div class="container">
                    <%= form_for @tradeinfo do |f| %>

                        <div class="row">
                            <div class="form-group">
                                <label>Importer's Name</label>
                                <%= f.text_area :importerName, rows: 2, placeholder: "Name of Importer", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Email</label>
                                <%= f.text_area :importerEmail, rows: 2, placeholder: "Email of Importer", class: "form-control", required: true %>
                            </div>

                            <div class="form-group">
                                <label>Tax Id</label>
                                    <%= f.text_area :taxId, rows: 2, placeholder: "Turnover tax id / EORI number", class: "form-control", required: true %>
                            </div>

                        </div>

                        <div class="text-left">
                            <%= f.submit "Publish", class: "btn btn-form" %>
                        </div>

                    <% end %>
                </div>
            </div>

        </div>
    </div>
</div>
