<section id="SECTION_85">
    <div id="DIV_85">
        <%= form_for @tradeinfo do |f| %>
            <div id="DIV_91">

                <div id="DIV_112">
                    <h1 id="H1_224">
                        Exporter Information
                    </h1>

                    <div id="DIV_228">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <label id="LABEL_114"> Company Name </label>
                                    <div> <%= f.text_field :companyName, class: "form-control", required: true %> </div>
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <label id="LABEL_114"> Company Email</label>
                                    <div> <%= f.text_field :companyEmail, class: "form-control"%> </div>
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <label id="LABEL_114"> Company Phone </label>
                                    <div> <%= f.text_field :companyPhone, class: "form-control"%> </div>
                                </div>
                            </div>

                            <br><br>

                            <div class="row">
                                <div class="col-md-8 col-md-offset-2">
                                    <label id="LABEL_114"> Tax Number </label>
                                    <div> <%= f.text_field :taxId, class: "form-control" %> </div>
                                </div>
                            </div>

                            <br><br>
                            <div class="form-group">
                                <input type="checkbox">
                                <a href="/pages/termsAndConditions">I agree to Terms and Conditions </a>
                                <br>
                            </div>

                        </div>
                    </div>
                    <br>

                    <div id="DIV_296">
                        <a href="#details" id="A_296">Back</a>
                        <button type="submit" value="-1" id="BUTTON_297">
                            Next
                        </button>
                    </div>
                </div>

                <% if false %>
                    <div id="DIV_210">
                        <img class="responsive-img" width="650" id="IMG_211" src="<%= asset_path('ship3.png') %>">
                    </div>
                <% end %>

            </div>
        <% end %>
    </div>
</section>

<style>

    body {
        background-image: url(<%= asset_path 'tradeinfo_new.jpg' %>);
        background-size: 100%;
    }
</style>
