<div class="row">
  <div class="col-md-3">
    <%= render 'document_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        <%= @document.document_type %> Description
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @document do |f| %>

            <div class="row">
              <div class="form-group">
                <label>Summary</label>
                <%= f.text_area :description, rows: 5, placeholder: "Extra information about the document", class: "form-control", required: true %>
              </div>
            </div>

            <div class="text-center">
              <%= f.submit "Save", class: "btn btn-form" %>
            </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
