<h1>New Invite Exporter</h1>

<%= render 'form', invite_exporter: @invite_exporter %>

<div class="container">
    <div class="section sign-in">

        <!--   Icon Section   -->
        <div class="row">
            <div class="col s12 m6">
                <div class="text-section">
                    <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
                    <h2>Einloggen</h2>
                    <p class="light">Willkommen Zur체ck! <br>
                        Bitte f체llen Sie hier die Kontaktdaten Ihres Kunden ein. Ihr Kunde erh채lt per Email eine Einladung zu unserem Portal und kann sich selbst registrieren und wird danach
                        direkt
                        in die Antragsstrecke des von Ihnen ausgew채hlten Produktes geleitet. Bitte stellen Sie sicher, dass Sie die Erlabunis haben die Kontaktdaten Ihres Kunden an HandEX
                        weiterzugeben.

                        <br>
                    </p>
                </div>
            </div>

            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 custom-form">

                        <%= form_with(model: invite_exporter, local: true, html: {multipart: true}, id: "invite-exporter") do |f| %>

                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="email"> Firmenname </label>
                                    <%= f.email_field :email, autofocus: true, class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="password">Kontaktperson</label>
                                    <%= f.email :email, autocomplete: "off", class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="email"> Email </label>
                                    <%= f.email_field :email, autofocus: true, class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="email"> Telefonnummer </label>
                                    <%= f.email_field :email, autofocus: true, class: "validate" %>
                                </div>

                                <div class="actions">
                                    <%= f.submit "Einloggen", id: "submit", class: "validate" %>
                                    <br><br>
                                </div>
                            </div>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>