<div class="container">
    <div class="section sign-in">
        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m6">
                <div class="row">
                    <div class="col s12 custom-form">

                        <%= form_with(model: @invite_exporter, local: true, html: {multipart: true}, id: "invite-exporter") do |f| %>

                            <div class="row">
                                <div class="input-field col s12">
                                    <label for="email"> Firmenname </label>
                                    <%= f.text_field :exporter_name, autofocus: true, class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="password">Kontaktperson</label>
                                    <%= f.text_field :exporter_representative_firstname, autocomplete: "off", class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="email"> Email </label>
                                    <%= f.email_field :exporter_email, autofocus: true, class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="email"> Telefonnummer </label>
                                    <%= f.text_field :exporter_telephone, autofocus: true, class: "validate" %>
                                </div>

                                <div class="input-field col s12">
                                    <label for="email"> Issued Broker Id </label>
                                    <%= f.text_field :exporter_broker_id, autofocus: true, class: "validate" %>
                                </div>

                                <div class="actions">
                                    <%= f.submit "Submit", id: "submit", class: "validate" %>
                                    <br><br>
                                </div>
                            </div>

                        <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</div>