<div class="form-progress">
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <ul class="progressbar">
                    <li class="active" tab_index="1">Unternehmen</li>
                    <li tab_index="2">Kunde</li>
                    <li tab_index="3">Geschäft</li>
                    <li tab_index="4">Zahlung & Finanzierung</li>
                    <li tab_index="5">Abschluss</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="section">
        <%= form_with(model: export_application, local: true, html: {multipart: true}, id: "export-application-portal") do |form| %>

            <% if export_application.errors.any? %>
                <div id="error_explanation">
                    <h2><%= pluralize(export_application.errors.count, "error") %> prohibited this export_application from
                        being saved:</h2>
                    <ul>
                        <% export_application.errors.full_messages.each do |message| %>
                            <li><%= message %></li>
                        <% end %>
                    </ul>
                </div>
            <% end %>


            <div class="form-section">

                <!-- stpe 1 start -->
                <div class="step-1 tab">
                    <!--   Form Navigation Section   -->
                    <div class="row form-nav-top">
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <p><span> 10% Fertig </span></p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <h2>Unternehmen</h2>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav right">
                                <a href="#">Entwurf speichern</a>
                                <span class="next" tab_index="2">Weiter</span>
                            </div>
                        </div>
                    </div>
                    <!--   Inner content Section   -->
                    <div class="row">
                        <div class="col s12 m12">
                            <div class="row">
                                <div class="col s12">
                                    <div class="form-content">
                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <label>Firmenname</label>
                                                <%= form.text_field :exporter_name, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Euler Hermes' DN-NR</label>
                                                <%= form.text_field :exporter_dn_no, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12">
                                                <label>Adresszeile 1</label>
                                                <%= form.text_field :exporter_address_line1, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Adresszeile 2</label>
                                                <%= form.text_field :exporter_address_line2, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m4">
                                                <label>Postleitzahl</label>
                                                <%= form.text_field :exporter_plz, autofocus: true, class: "validate" %>
                                            </div>

                                            <div class="input-field col s12 m8">
                                                <label>Land</label>
                                                <%= form.select :exporter_country,
                                                                options_for_select([t('please_select'), 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                    'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                    'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                    'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                    'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                    'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                    'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                    'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                    'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                    'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                    'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                    'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                    'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                    'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                    'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                    'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                    'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                    'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                    'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                    'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
                                                                                   @export_application.exporter_country ? @export_application.exporter_country : nil), {}, class: 'form-control' %>

                                            </div>

                                            <div class="input-field col s12 m6">
                                                <label>Steuernummer</label>
                                                <%= form.text_field :exporter_tax_id, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Datumgegründet</label>
                                                <%= form.text_field :exporter_date_founded, autofocus: true, class: "datepicker", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <div class="input-field col s12 m6 nopadding">
                                                    <label>Anzahl der Mitarbeiter</label>
                                                    <%= form.text_field :employees_count, autofocus: true, class: "validate" %>
                                                </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Umsatz (EURm)</label>
                                                <%= form.text_field :exporter_revenue, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Bilanzsumme (in EURm)</label>
                                                <%= form.text_field :exporter_total_assets, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <div class="input-field col s12 m6 nopadding">
                                                    <label>Letztes Geschäftsjahr</label>
                                                    <%= form.text_field :exporter_last_fiscal_year, autofocus: true, class: "validate" %>
                                                </div>
                                            </div>

                                            <div class="input-field col s12">
                                                <label>External Rating?</label>
                                                <%#= f.label :external_rating, 'Externes Rating', :value => 'No' %>
<!--                                                <%#= form.radio_button :external_rating_available, 'Yes', class: "yes yes-no-btns", value: "Yes", name: "yes", id:"no4" %> Yes-->
<!--                                                <%#= form.radio_button :external_rating_available, 'No', class: "no yes-no-btns", value: "No", name: "natural4", id:"natural4" %> No-->
                                                <p>
                                                    <label for="no4">
                                                        <input type="radio" id="no4" name="yes" value="No"/>
                                                        <span class="yes yes-no-btns">Yes</span>
                                                    </label>

                                                    <label for="natural4">
                                                        <input type="radio" id="natural4" name="natural4" value="Natural reserve"/>
                                                        <span class="no yes-no-btns">No</span>
                                                    </label>
                                                </p>

                                                <div class="row hide-section">
                                                    <div class="input-field col s12">
                                                        <label>Rating</label>
                                                        <%= form.text_field :exporter_rating, autofocus: true, class: "validate" %>
                                                    </div>
                                                    <div class="input-field col s12 m6">
                                                        <label>Ratingagentur</label>
                                                        <%= form.text_field :rating_agency, autofocus: true, class: "validate" %>
                                                    </div>
                                                    <div class="input-field col s12 m6">
                                                        <label>Datum des Ratings </label>
                                                        <%= form.text_field :rating_issued_date, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- step-2 start -->
                <div class="step-2 tab">
                    <!--   Form Navigation Section   -->
                    <div class="row form-nav-top">
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <p><span> 25% Fertig </span></p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <h2>Kunde</h2>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav right">
                                <a href="#">Entwurf speichern</a>
                                <span class="next" tab_index="3">Weiter</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="form-content">
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <label>Firmenname</label>
                                        <%= form.text_field :importer_company_name, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>Adresszeile 1</label>
                                        <%= form.text_field :importer_address_line1, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>Adresszeile 2</label>
                                        <%= form.text_field :importer_address_line2, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12 m4">
                                        <label>Postleitzahl</label>
                                        <%= form.text_field :importer_plz, autofocus: true, class: "validate" %>
                                    </div>

                                    <div class="input-field col s12 m8">
                                        <label>Land</label>

                                    <%= form.select :importer_country,
                                                    options_for_select([t('please_select'), 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                        'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                        'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                        'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                        'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                        'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                        'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                        'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                        'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                        'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                        'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                        'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                        'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                        'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                        'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                        'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                        'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                        'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                        'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                        'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                        'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                        'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                        'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                        'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                        'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                        'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                        'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                        'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
                                                                       @export_application.importer_country ? @export_application.importer_country : nil), {}, class: 'form-control' %>

                                    </div>

                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Liefern Sie an diese Adresse?</label>
                                            <p><label for="no4"><input type="radio" id="no4" name="yes" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="natural4"><input type="radio" id="natural4" name="natural4" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Ist Ihr Kunde ein öffentliches oder privates Unternehmen?</label>
                                            <p><label for="pp1"><input type="radio" id="pp1" name="public" value="public"/><span class="yes yes-no-btns">Public Sector</span></label><label for="pp2"><input type="radio" id="pp2" name="natural4" value="Private"/><span class="no yes-no-btns">Private Sector</span></label></p>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <label>Industrie</label>
                                        <%= form.text_field :importer_industry, autofocus: true, class: "validate" %>
                                    </div>

                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Haben Sie bereits Zahlungserfahrungen mit Ihrem Kunden? </label>
                                            <p><label for="yes12"><input type="radio" id="yes12" name="public" value="yes"/><span class="yes yes-no-btns">Yes</span></label><label for="no12"><input type="radio" id="no12" name="no12" value="no"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Steuernummer</label>
                                            <%= form.text_field :importer_tax_id, autofocus: true, class: "validate" %>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <label>Handelsregisternummer</label>
                                        <%= form.text_field :importer_company_registration_number, autofocus: true, class: "validate" %>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Externes Rating?</label>
                                        <p><label for="ex-yes"><input type="radio" id="ex-yes" name="ex-no" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="ex-no"><input type="radio" id="ex-no" name="ex-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12">
                                                <label>Rating</label>
                                                <%= form.text_field :importer_rating, autofocus: true, class: "validate" %>
                                                <input type="text" class="validate">
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Rating Agency</label>
                                                <%= form.text_field :importer_rating_agency, autofocus: true, class: "validate" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Datum des Ratings</label>
                                                <%= form.text_field :importer_rating_issued_date, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Firma durch ein direktes Mutterunternehmen kontrolliert?</label>
                                        <p><label for="pa-yes"><input type="radio" id="pa-yes" name="pa-yes" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="pa-no"><input type="radio" id="pa-no" name="pa-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label>Name</label>
                                                <%= form.text_field :importer_mother_company, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Ist dieses Unternehmen auch der globale Mutterkonzern?</label>
                                                <p><label for="ul-yes"><input type="radio" id="ul-yes" name="ul-yes" value="yes"/><span class="yes">Yes</span></label><label for="ul-no"><input type="radio" id="ul-no" name="ul-no" value="no"/><span class="no">No</span></label></p>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Gesellschaftsform</label>
                                                <%= form.text_field :importer_company_corporate_form, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Industrie</label>
                                                <%= form.text_field :importer_industry, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Sind Sie in irgendeiner Form an Ihrem Kunden beteiligt und/oder üben Sie maßgeblichen Einfluss auf die Geschäftsführung aus?</label>
                                        <p><label for="pa-yes"><input type="radio" id="pa-yes" name="pa-yes" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="pa-no"><input type="radio" id="pa-no" name="pa-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label>Bitte helfen sie uns, die Beteiligung besser zu verstehen </label>
                                                <%= form.text_field :explain_exporter_influence_on_importer_management, autofocus: true, class: "validate", placeholder: "dd/mm/yyyy" %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- step-3 start -->
                <div class="step-3 tab">
                    <!--   Form Navigation Section   -->
                    <div class="row form-nav-top">
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <p><span> 50% Fertig </span></p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <h2>Geschäft</h2>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav right">
                                <a href="#">Entwurf speichern</a>
                                <span class="next" tab_index="4">Weiter</span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col s12">
                            <div class="form-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label>Bitte ordnen Sie die von ihnen zu liefernden Waren bzw. Diensleistungen Ihrer Branche zu.</label>
                                        <%= form.text_field :exporter_name, autofocus: true, class: "validate" %>
                                    </div>
                                    <div class="input-field col s12">
                                        <label>Bitte beschreiben Sie Ihre Industrie genauer</label>
                                        <%= form.text_field :explain_good_industry_type, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                    </div>
                                    <div class="input-field col s12">
                                        <label>Bitte beschreiben Sie Ihre Produkte und Ihre Leistungen </label>
                                        <%= form.text_field :explain_product_service, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Handelt es sich bei Ihre Ware um Investitionsgüter?</label>
                                            <p><label for="Goods-yes"><input type="radio" id="Goods-yes" name="Goods-yes" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="Goods-no"><input type="radio" id="Goods-no" name="Goods-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Erbringen Sie auch Leistungen (Montage, Schulungen vor Ort etc.)?</label>
                                            <p><label for="pro-service"><input type="radio" id="pro-service" name="pro-service" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="pro-service-no"><input type="radio" id="pro-service-no" name="natural4" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <label>Bitte ordnen Sie die von Ihnen zu liefernden Waren bzw. Dienstleistungen Ihrer Branche zu.</label>
                                        <%= form.select :exported_goods_type, options_for_select([t('please_select'), 'Bergbau, inkl. Verarbeitung', 'Erdöl- und Erdgasförderung inkl. Verarbeitung',
                                                                                                  'Chemie', 'Energie', 'Infrastruktur', 'Papier- , Holz-, Leder- und Textilindustrie',
                                                                                                  'Agrarsektor und Nahrungsmittelindustrie', 'Verarbeitende Industrie', 'Umwelttechnik',
                                                                                                  'Dienstleistungen'], @export_application.exported_goods_type ? @export_application.exported_goods_type : nil) %>

                                    </div>

                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m6 nopadding">
                                            <label>Liefern/Leisten Sie im Rahmen eines Gesamtprojekts zusammen mit anderen Unternehmen?</label>
                                            <p><label for="pro-com"><input type="radio" id="pro-com" name="pro-com" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="pro-com-no"><input type="radio" id="pro-com-no" name="pro-com-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Betreffen Ihre Lieferungen bzw. Leistungen ein sensibles Gebiet?</label>
                                        <p> Als sensible Gebiete gelten Nationalparks und andere durch nationales oder internationales Recht geschützte Gebiete
                                            sowie sensible Regionen von internationaler, nationaler oder regionaler Bedeutung.</p>
                                        <p><label for="your-del"><input type="radio" id="your-del" name="your-del" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="your-del-no"><input type="radio" id="your-del-no" name="your-del-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12">
                                                <label>Um welche Art von sensibelen Gebiet handelt sich?</label>
                                                <%= form.select :sensitive_area_type, options_for_select([t('please_select'), "Naturschutzgebiet", "Bedeutung für indigene Völker", "Archäologische oder kulturelle", "Sonstige"],
                                                                                                         @export_application.sensitive_area_type ? @export_application.sensitive_area_type : nil) %>


                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Bitte konkretisieren Sie, um was für ein sensibeles Gebiet es sich handelt.</label>
                                                <%= form.text_field :explain_sensitive_area_type, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Ist Ihr Export ausfuhrgenehmigungspflichtig?</label>
                                        <p><label for="ex-auth"><input type="radio" id="ex-auth" name="ex-auth" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="ex-auth-no"><input type="radio" id="ex-auth-no" name="ex-auth-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12">
                                                <label>Aus welchen Vorschriften bzw. welchem Teil/Abschnitt der Ausfuhrliste ergibt sich die
                                                    Genehmigungspflicht?</label>
                                                <%= form.text_field :which_regulations_enforcing_exportlicense_requirement, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Die Ausfuhrgenehmigung...</label>
                                                    <%= form.select :export_license_status, options_for_select([t('please_select'), "... wurde erteilt.", "... ist beantragt.", "... ist noch zu beantragen."]), {}, class: 'form-control' %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Liefern Sie gebrauchte Ware?</label>
                                        <p><label for="used-goods"><input type="radio" id="used-goods" name="used-goods" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="used-goods-no"><input type="radio" id="used-goods-no" name="used-goods-no" value="No"/><span class="no yes-no-btns">No</span></label></p>

                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label>Jahr der Fertigung</label>
                                                <%= form.text_field :manufacture_year, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Restlebensdauer in Jahren</label>
                                                <%= form.text_field :remaining_life, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <div class="input-field col s12 m6">
                                            <label>Wird die Ware vor dem Weiterverkauf überholt?</label>
                                            <p><label for="used-goods"><input type="radio" id="used-goods" name="used-goods" value="No"/><span class="yes yes-no-btns">Yes</span></label><label for="used-goods-no"><input type="radio" id="used-goods-no" name="used-goods-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        </div>

                                        <div class="input-field col s12 m6">
                                            <label>Wo wird die Ware überholt?</label>
                                            <%= form.select :goods_overhaul_country,
                                                            options_for_select([t('please_select'), 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe'],
                                                                               @export_application.goods_overhaul_country ? @export_application.goods_overhaul_country : nil), {}, class: 'form-control' %>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <div class="input-field col s12 m6">
                                            <label>Warum wird die Ware im Ausland überholt? </label>
                                            <%= form.text_field :why_good_overhauled_abroad, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                        </div>

                                        <div class="input-field col s12 m6">
                                            <label>Zu welchem Anteil wird die Ware im Ausland überholt? </label>
                                            <%= form.text_field :proportion_of_goods_overhauled_aborad, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m6">
                                        <label>Bitte beschreiben Sie, weshalb die Überholung nicht in Deutschland erfolgte </label>
                                        <%= form.text_field :describe_why_overhault_didnot_take_in_germany, autofocus: true, class: "materialize-textarea custom-area", style: "height: 120px;" %>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Haben bereits alle Parteien den Vertrag für das Exportgeschäft unterzeichnet?</label>

                                        <p><label for="ex-business"><input type="radio" id="ex-business" name="ex-business" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="ex-business-no"><input type="radio" id="ex-business-no" name="ex-business-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12 m12">
                                                <label>Bitte geben Sie das Abschlussdatum des Vertrags und optional eine interne Referenz an.</label>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Datum der Unterschrift</label>
                                                <div> <%= form.date_field :contract_signing_date, id: "start_date", placeholder: "dd/mm/yyyy", type: "date", class: "datepicker" %> </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Interne Referenznummer</label>
                                                <div> <%= form.text_field :exporter_internal_contract_id, class: "materialize-textarea custom-area" %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Vereinbaren Sie mit Ihrem Vertragspartner eine besondere Vertragsstruktur
                                            (Tochterunternehmen oder Preisgleitklausel?) </label>
                                        <p><label for="spl-pricecl"><input type="radio" id="spl-pricecl" name="spl-pricecl" value="yes"/><span class="yes yes-no-btns">Yes</span></label><label for="spl-pricecl-no"><input type="radio" id="spl-pricecl-no" name="spl-pricecl-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12 m12">
                                                <label>Bitte erklären Sie die Struktur im Detail.</label>
                                                <div> <%= form.text_field :explain_special_structure, class: "materialize-textarea custom-area" %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Bekommen Sie für die zu liefernde Ware ein deutsches Warenursprungszeugnis?</label>
                                        <p><label for="certificate-goods"><input type="radio" id="certificate-goods" name="certificate-goods" value="yes"/><span class="no yes-no-btns">Yes</span></label><label for="certificate-goods-no"><input type="radio" id="certificate-goods-no" name="certificate-goods-no" value="No"/><span class="yes yes-no-btns">No</span></label><label for="spl-pricecl-no"><input type="radio" id="certificate-goods-part" name="certificate-goods-part" value="No"/><span class="yes yes-no-btns">Part</span></label></p>

                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label>Währung</label>
                                                <%= form.select :all_rawgoods_supplier_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: "form-control" %>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <label>Betrag</label>
                                                <%= form.text_field :all_rawgoods_supplier_amount, class: "validate" %>
                                            </div>

                                            <div class="input-field col s12 m8">
                                                <label>Land</label>
                                                <%= form.select :all_rawgoods_supplier_country, options_for_select([t('please_select'), 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                                                    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                                                    'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                                                    'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                                                    'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                                                    'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                                                    'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                                                    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                                                    'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                                                    'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                                                    'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                                                    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                                                    'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                                                    'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                                                    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                                                    'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                                                    'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                                                    'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                                                    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                                                    'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                                                    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                                                    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                                                    'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                                                    'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                                                    'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                                                    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                                                    'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                                                    'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "validate" %>

                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Bitte erläutern Sie, warum diese Zulieferungen aus dem Ausland notwendig sind.</label>
                                                <%= form.text_area :why_all_foreign_rawgoods_necessary, class: "validate" %>
                                            </div>
                                        </div>

                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label>Währung</label>
                                                <%= form.select :partly_rawgoods_supplier_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: "form-control" %>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <label>Betrag</label>
                                                <%= form.text_field :partly_rawgoods_supplier_amount, class: "validate" %>
                                            </div>

                                            <div class="input-field col s12 m8">
                                                <label>Land</label>
                                                <%= form.select :partly_rawgoods_supplier_country, options_for_select([t('please_select'), 'Mexico', 'Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola', 'Antigua and Barbuda', 'Argentina',
                                                                                                                    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain', 'Bangladesh', 'Barbados',
                                                                                                                    'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
                                                                                                                    'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi', 'Cabo Verde', 'Cambodia', 'Cameroon',
                                                                                                                    'Canada', 'Central African Republic (CAR)', 'Chad', 'Chile', 'China', 'Colombia', 'Comoros',
                                                                                                                    'Democratic Republic of the Congo', 'Republic of the Congo', 'Costa Rica', 'Cote d\'Ivoire',
                                                                                                                    'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica', 'Dominican Republic',
                                                                                                                    'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
                                                                                                                    'Eswatini (formerly Swaziland)', 'Ethiopia', 'Fiji', 'Finland', 'France', 'Gabon',
                                                                                                                    'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada', 'Guatemala', 'Guinea',
                                                                                                                    'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia',
                                                                                                                    'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan',
                                                                                                                    'Kenya', 'Kiribati', 'Kosovo', 'Kuwait', 'Kyrgyzstan', 'Laos', 'Latvia', 'Lebanon', 'Lesotho',
                                                                                                                    'Liberia', 'Libya', 'Liechtenstein', 'Lithuania', 'Luxembourg', 'Macedonia (FYROM)', 'Madagascar',
                                                                                                                    'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Mauritania', 'Mauritius',
                                                                                                                    'Mexico', 'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro', 'Morocco', 'Mozambique',
                                                                                                                    'Myanmar (formerly Burma)', 'Namibia', 'Nauru', 'Nepal', 'Netherlands', 'New Zealand', 'Nicaragua',
                                                                                                                    'Niger', 'Nigeria', 'North Korea', 'Norway', 'Oman', 'Pakistan', 'Palau', 'Palestine', 'Panama',
                                                                                                                    'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania',
                                                                                                                    'Russia', 'Rwanda', 'Saint Kitts and Nevis', 'Saint Lucia', 'Saint Vincent and the Grenadines',
                                                                                                                    'Samoa', 'San Marino', 'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles',
                                                                                                                    'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia', 'Solomon Islands', 'Somalia', 'South Africa',
                                                                                                                    'South Korea', 'South Sudan', 'Spain', 'Sri Lanka', 'Sudan', 'Suriname',
                                                                                                                    'Swaziland (renamed to Eswatini)', 'Sweden', 'Switzerland', 'Syria', 'Taiwan',
                                                                                                                    'Tajikistan', 'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago',
                                                                                                                    'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates (UAE)',
                                                                                                                    'United Kingdom (UK)', 'United States of America (USA)', 'Uruguay', 'Uzbekistan', 'Vanuatu',
                                                                                                                    'Vatican City (Holy See)', 'Venezuela', 'Vietnam', 'Yemen', 'Zambia', 'Zimbabwe']), {}, class: "validate" %>

                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Bitte erläutern Sie, warum diese Zulieferungen aus dem Ausland notwendig sind.</label>
                                                <%= form.text_area :why_partly_foreign_rawgoods_necessary, class: "validate" %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">
                                        <label>Versenden Sie Ihre Waren/Güter/Anlagen in mehreren Lieferungen?</label>
                                        <p><label for="certificate-origin"><input type="radio" id="certificate-origin" name="certificate-origin" value="yes"/><span class="yes yes-no-btns">Yes</span></label><label for="certificate-origin-no"><input type="radio" id="certificate-origin-no" name="certificate-origin-no" value="No"/><span class="no yes-no-btns">No</span></label></p>

                                        <div class="row hide-section">
                                            <div class="input-field col s12 m12">
                                                <label>Bitte teilen Sie uns die Liefer- und ggf. Leistungstermine Ihres Exportgeschäftes mit..</label>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Lieferbeginn</label>
                                                <div> <%= form.date_field :delivery_start, id: "start_date", type: "date", placeholder: "dd/mm/yyyy",  class: "datepicker" %> </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <label>Lieferende</label>
                                                <div> <%= form.date_field :delivery_end, id: "start_date", type: "date", placeholder: "dd/mm/yyyy",  class: "datepicker" %> </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_information, class: "validate", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_information, class: "validate", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_information, class: "validate", placeholder: "Weiterer zahlungsrelevanter Termin" %> </div>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <div> <%= form.text_field :other_important_delivery_milestones, placeholder: "z.B. Milestone xy", class: "textbox-n", onfocus: "(this.type='date')" %> </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12">

                                        <label><%= t('give_contract_value') %></label>

                                        <p><i><%= t('contract_currency')  %> </i></p>

                                        <div class="row">
                                            <div class="col m4 ">
                                                <%= form.select :contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'validate' %>
                                            </div>
                                            <div class="col m4 ">
                                                <div> <%= form.text_field :contract_value, class: "validate", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                            </div>
                                        </div>

                                        <div class="row">

                                            <div class="input-field col s12 m12">
                                                <label>Wie hoch ist der Lieferwert der Güter exkl. anderer Leistungen (Montagen, etc.)</label>
                                                <div> <%= form.text_field :total_delivery_value_excluding_servicing, class: "validate", placeholder: "Lieferwert (Betrag)", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                            </div>

                                            <div class="input-field col s12 m12">
                                                <label>Wie hoch ist der Anteil der Ersatzteile am Lieferwert?</label>
                                                <div> <%= form.text_field :percentage_of_spareparts_in_whole_order, class: "validate", placeholder: "Wert Ersatzteile in Prozent oder Betrag", :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                            </div>

                                            <div class="input-field col s12 m12">
                                                <label> <%= t('other_billed_items_in_contract') %> </label>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12 m4">
                                                    <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'validate' %>
                                                </div>
                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "validate", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                                </div>

                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12 m4">
                                                    <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'validate' %>
                                                </div>
                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "validate", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                                </div>

                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="input-field col s12 m4">
                                                    <%= form.select :other_billed_items_in_contract_currency, options_for_select([t('please_select'), "Euro", "Dollar"]), {}, class: 'validate' %>
                                                </div>
                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :other_billed_items_in_contract_amount, class: "validate", placeholder: t('amount'), :onkeypress => "return onlyAllowNumericalValueAndDotComma(event)" %> </div>
                                                </div>

                                                <div class="input-field col s12 m4">
                                                    <div> <%= form.text_field :describe_other_billed_items_in_contract, class: "form-control", placeholder: t('description') %> </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- step-3 start -->
                <div class="step-4 tab">
                    <!--   Form Navigation Section   -->
                    <div class="row form-nav-top">
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <p><span> 75% Fertig </span></p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <h2>Zahlung & Finanzierung</h2>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav right">
                                <a href="#">Entwurf speichern</a>
                                <span class="next" tab_index="5">Weiter</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="form-content">
                                <div class="row">
                                    <div class="input-field col s12">
                                        <label>Sind für Ihr Geschäft Sicherheiten vorgesehen?</label>
                                        <p><label for="tran-yes"><input type="radio" id="tran-yes" name="tran-yes" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="tran-no"><input type="radio" id="tran-no" name="tran-no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                        <div class="row hide-section">
                                            <div class="input-field col s12">
                                                <label>Welche Art von Sicherheiten?</label>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <select>
                                                    <option value="" selected>Bitte wählen...</option>
                                                </select>
                                            </div>
                                            <div class="input-field col s12 m6">
                                                <input type="text" class="validate">
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <label>Welchen Anteil des Auftragswertes wird die Sicherheit umfassen?</label>
                                                <input type="text" class="validate">
                                            </div>
                                            <div class="input-field col s12 m12">
                                                <div class="input-field col s12 m6 nopadding">
                                                    <label>Wann werden Sie die Sicherheiten erhalten?</label>
                                                    <select>
                                                        <option value="" selected>Bitte wählen...</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>Haben Sie bereits ein Zahlungsziel bzw. eine eigene Finanzierung mit Ihrem Kunden vereinbart?</label>
                                        <p><label for="fanance-yes"><input type="radio" id="fanance-yes" name="public" value="fanance-yes"/><span class="yes yes-no-btns">Yes</span></label><label for="fanance-no"><input type="radio" id="fanance-no" name="fanance-no" value="no"/><span class="no yes-no-btns">No</span></label></p>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <div class="input-field col s12 m4 threecol">
                                            <label>Kurzfristig</label>
                                            <p>Bis zu 2 Jahre Kreditlaufzeit</p>
                                        </div>
                                        <div class="input-field col s12 m4 threecol">
                                            <label>Mittel-/langfristig</label>
                                            <p>über 2 Jahre Kreditlaufzeit</p>
                                        </div>
                                        <div class="input-field col s12 m4 threecol">
                                            <label>Sowohl kurzfristig als
                                                auch mittel-/langfristig</label>
                                        </div>
                                    </div>
                                    <div class="input-field col s12">
                                        <label> Berechnen Sie Ihrem Kunden Zinsen? </label>
                                        <p><label for="int-yes"><input type="radio" id="int-yes" name="int-yes" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="int-no"><input type="radio" id="int-no" name="int-no" value="No"/><span class="no yes-no-btns">No</span></label></p>

                                        <div class="row hide-section">
                                            <div class="input-field col s12 m6">
                                                <label> In diesem Szenario haben Sie die Möglichkeit, Ihre von Ihrem Kunden geschuldeten Forderungen durch ein Forfaitierungsgeschäft zu verkaufen. Dies bedeutet, dass unsere Partnerbank Ihre Forderungen kauft und bis zu 95% des gesamten Forderungsbetrags refinanziert.</label>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- step-5 start -->
                <div class="step-5 tab">
                    <!--   Form Navigation Section   -->
                    <div class="row form-nav-top">
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <p><span> 80% Fertig</span></p>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav">
                                <h2>Abschluss</h2>
                            </div>
                        </div>
                        <div class="col s12 m4">
                            <div class="form-nav right">
                                <a href="#">Entwurf speichern</a>
                                <%= form.submit class: 'btn handex-btn', value: t('application_submit') %>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col s12">
                            <div class="form-content">
                                <div class="row">
                                    <div class="input-field col s12 m12">
                                        <label>Haben Sie schon einmal Hermesdeckungen genutzt?</label>
                                        <p><label for="Hermes-y"><input type="checkbox" id="Hermes-y" name="yes" value="Yes"/><span class="yes yes-no-btns">Yes</span></label><label for="Hermes-n"><input type="checkbox" id="Hermes-n" name="no" value="No"/><span class="no yes-no-btns">No</span></label></p>
                                    </div>

                                    <div class="input-field col s12 m12">
                                        <label> Diese Anlagen benötigen wir für die Prüfung Ihres Geschäftes. </label>
                                        <p> Bitte legen Sie die erforderlichen Unterlagen vor, damit wir eine faire Einschätzung Ihres und des Geschäfts vornehmen können
                                            dein Kunde.</p>
                                    </div>
                                        <div class="input-field col s12 m6 ">
                                            <label>Umwelt- und Sozialinformationen</label>
                                          <div class = "file-field input-field">
                                            <div class = "btn">
                                              <span>Browse</span>
                                              <input type = "file" />77
                                            </div>

                                            <div class = "file-path-wrapper">
                                              <input class = "file-path validate" type = "text"
                                                     placeholder = "Upload file" />
                                            </div>
                                          </div>
                                        </div>

                                        <div class="input-field col s12 m6 ">
                                            <label>Projektmemorandum</label>
                                          <div class = "file-field input-field">
                                            <div class = "btn">
                                              <span>Browse</span>
                                              <input type = "file" />
                                            </div>

                                            <div class = "file-path-wrapper">
                                              <input class = "file-path validate" type = "text"
                                                     placeholder = "Upload file" />
                                            </div>
                                          </div>
                                        </div>

                                        <div class="input-field col s12 m6 ">
                                            <label>Auskünfte Ihres Kunden</label>
                                          <div class = "file-field input-field">
                                            <div class = "btn">
                                              <span>Browse</span>
                                              <input type = "file" />
                                            </div>

                                            <div class = "file-path-wrapper">
                                              <input class = "file-path validate" type = "text"
                                                     placeholder = "Upload file" />
                                            </div>
                                          </div>
                                        </div>

                                        <div class="input-field col s12 m6 ">
                                            <label>Sonstiges</label>
                                          <div class = "file-field input-field">
                                            <div class = "btn">
                                              <span>Browse</span>
                                              <input type = "file" />
                                            </div>

                                            <div class = "file-path-wrapper">
                                              <input class = "file-path validate" type = "text"
                                                     placeholder = "Upload file" />
                                            </div>
                                          </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m12">
                                        <label>Bitte geben Sie die Erklärung zur Korruptionsprävention ab.</label>
                                    </div>
                                    <div class="input-field col s12 greybox">
                                        <div class="input-field col s12 m12">
                                            <label>Beachtung gesetzlicher Vorschriften.</label>
                                            <p>Wir erklären, dass der Abschluss des Liefer- bzw. Leistungsgeschäfts nicht durch eine strafbare Handlung eines
                                                Mitarbeiters, der Geschäftsleitung oder eines Inhabers unseres Unternehmens oder einer anderen in unserem
                                                Auftrag handelnden Person herbeigeführt worden ist bzw. nicht durch eine derartige Handlung herbeigeführt
                                                werden wird.</p>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <label>Auskunftspflicht</label>
                                            <p>Uns ist bekannt, dass wir im Antragsverfahren und nach Übernahme der jeweils beantragten Exportkreditgarantie
                                                sowie gemäß der bei Beantragung einer Exportkreditgarantie für einen gebundenen Finanzkredit abzugebenden
                                                Verpflichtungserklärung über alle Umstände des zur Deckung beantragten Geschäfts, die für die Übernahme der
                                                Exportkreditgarantie erheblich sind, dem Bund vollständig und richtig Auskunft zu erteilen haben. Dies umfasst
                                                auch die Beantwortung von Fragen des Bundes hinsichtlich der Identität von Personen, die in unserem Auftrag am
                                                Abschluss des Liefer- bzw. Leistungsgeschäfts beteiligt sind oder waren, sowie von Fragen über Grund und Höhe
                                                etwaiger Zahlungen an diese Personen.</p>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <label>Angaben zu Anklagen, strafrechtlichen und nicht-strafrechtlichen.</label>
                                            <p>Sanktionen sowie Ermittlungsverfahren und Sperrlisten
                                                Mitarbeiter, die Geschäftsleitung oder Inhaber unseres Unternehmens oder andere an diesem Vertragsabschluss
                                                beteiligte und in unserem Auftrag handelnde Personen oder unser Unternehmen selbst sind/ist wegen eines
                                                Korruptionsdelikts</p>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <ul>
                                                <li>gegenwärtig vor einem staatlichen Gericht angeklagt oder </li>
                                                <li>innerhalb der letzten 5 Jahre von einem staatlichen Gericht verurteilt oder</li>
                                                <li>mit einer mit einem Gerichtsurteil vergleichbaren nicht-strafrechtlichen Sanktion belegt worden oder</li>
                                                <li>einem staatsanwaltschaftlichen Ermittlungsverfahren unterworfen worden oder</li>
                                                <li>auf einer Sperrliste einer internationalen Finanzorganisation aufgeführt.</li>
                                            </ul>
                                        </div>
                                        <div class="input-field col s12 m12">
                                            <p><label for="yes20"><input type="checkbox" id="yes20" name="yes" value="Applies "/><span class="yes yes-no-btns">Trifft zu </span></label><label for="no20"><input type="checkbox" id="no20" name="no" value="Not apply"/><span class="no yes-no-btns">Trifft nicht zu</span></label></p>
                                            <div class="row hide-section">
                                                <div class="input-field col s12 m12">
                                                    <label>Bitte machen Sie Angaben zu den oben genannten Punkten in Bezug auf Anklage, strafrechtliche oder nicht strafrechtliche Sanktionen sowie Vorbereitungs- und Sperrverfahren.</label>
                                                    <input type="text" class="validate">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="input-field col s12 m12">
                                        <label>
                                            <input type="checkbox"/>
                                            <span class="terms"> Die vorstehenden Angaben wurden von uns nach bestem Wissen und Gewissen und in
                                                        Kenntnisnahme der Erläuterungen gemacht.</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>
                                            <input type="checkbox"/>
                                            <span class="terms"> Wir akzeptieren die<a href="https://www.agaportal.de/_Resources/Persistent/3bfd6a43f17d04f9b34d523df323f0a44a9eaa17/ab_fab.pdf"> Allgemeinen Bedingungen für Lieferantenkreditdeckung(G) </a>
                                                    in Zusammenhang mit  <a href="https://www.agaportal.de/_Resources/Persistent/3bfd6a43f17d04f9b34d523df323f0a44a9eaa17/ab_fab.pdf"> den Ergänzenden Bestimmungen für Forderungsabtretungen.</a></span>
                                        </label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>
                                            <input type="checkbox"/>
                                            <span class="terms">Wir haben die Datenschutzhinweise zur Kenntnis genommen und sind mit deren Geltung einverstanden.</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <label>
                                            <input type="checkbox"/>
                                            <span class="terms"> Wir haben die Hinweise zu Gebühren und Entgelten, Richtlinien, Verantwortlichkeiten
                                            für den Antrag, Veröffentlichung von Projektdaten, OECD-Leitsätze für multinationale
                                            Unternehmen und UN-Leitprinzipien für Wirtschafts- und Menschenrechte zur Kenntnis
                                            genommen.</span>
                                        </label>
                                    </div>
                                    <div class="input-field col s12 m12">
                                        <input type="submit" name="submit" value="Antrag Shicken">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        <% end %>
    </div>
</div>
<!--  Scripts-->
<script type="text/javascript">
    var curremt_tab = 1;

    $(document).ready(function(){
        $('.datepicker').datepicker();
    });

    $(".yes-no-btns").click(function (e) {
        $(this).toggleClass("active-btn");
        if($(this).hasClass("yes")){
            $(this).closest(".input-field").find(".hide-section").toggle();
            $(".business-cert-no").show();
            $(".business-cert-goods").hide();
            $(this).closest('p').find('.no.yes-no-btns').removeClass("active-btn");
        }else{
            $(this).closest(".input-field").find(".hide-section").hide();
            $(this).closest('p').find('.yes.yes-no-btns').removeClass("active-btn");
        }
    });

    $('.parts-goods').click(function (e) {
        $(".business-cert-no").hide();
        $(".business-cert-goods").show();
    });

    $(".financing-yes-no-btns").click(function (e) {
        $(this).closest(".input-field").find(".hide-section").hide();
        if($(this).hasClass("yes")){
            $(this).closest(".input-field").find(".financing-agreed-yes").show();
        }else{
            $(this).closest(".input-field").find(".financing-agreed-no").show();
        }
    });

    $(".financing-agreed .financing-payment-structure").click(function (e) {
        var agreed_index = $(this).attr('agreed-index');
        $(this).closest('.input-field').find('.main-content-'+agreed_index).toggle();
        for (var i = 1; i <= 3 ; i++) {
            if(agreed_index != i){
                $(this).closest('.input-field').find('.main-content-'+i).hide();
            }
        }
    })

    function changeTabs(curremt_tab_index) {
        $('.tab').hide();
        $('.step-'+curremt_tab_index).show();
    }

    $('.progressbar li, .next').click(function function_name(argument) {
        /*console.log($(this).attr('tab_index'));*/
        changeTabs($(this).attr('tab_index'));
        $('.progressbar li').removeClass('active');
        $(this).addClass('active');

    });

</script>