<%= render 'shared/navbar' %>
<p id="notice" class="" hidden><%= notice %></p>
<%= render "overview_top_approved.html.erb"%>
<%= render "overview_header.html.erb"%>
<%= render "overview_content.html.erb"%>