<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<%= render qa_partial, question: t('where_should_it_go'), answer: @insurance.importer_country %>

<%= render qa_partial, question: t('is_investment_good'), answer: @insurance.is_investment_good ? t('yes') : t('no') %>

<%= render qa_partial, question: t('how_high_contract_value'), answer: @insurance.contract_value %>

<%= render qa_partial, question: t('payment_goal'), answer: @insurance.loan_duration %>

<%= render qa_partial, question: t('exporting_to_private_sector'), answer: @insurance.is_exporting_to_private_sctor ? t('yes') : t('no') %>


<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= t('describe_export_business') %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= check_missing(@insurance.describe_export_business) %></p>
    </div>
</div>
<hr>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p><b> <%= t('explain_why_importer_buying_good') %></b></p>
        <p> <%= t('explain_why_importer_buying_good_additional_information') %> </p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= check_missing(@insurance.explain_why_importer_buying_good) %></p>
    </div>
</div>
<hr>

<%= render qa_partial, question: t('is_servicing_for_goods_offered'), answer: @insurance.is_servicing_for_goods_offered ? t('yes') : t('no') %>

<%= render qa_partial, question: t('exported_goods_type'), answer: check_missing(@insurance.exported_goods_type) %>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p><%= t('explain_good_industry_type') %></p>
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= check_missing(@insurance.describe_export_business) %></p>
    </div>
</div>
<hr>

<div id="workwithothercompanies">
    <%= render qa_partial, question: t('is_delivered_part_of_consortium_with_other_companies'), answer: @insurance.is_delivered_part_of_consortium_with_other_companies? ? t('yes') : t('no') %>
</div>


<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= t('sensitivearea') %></p>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <p> <%= check_missing(@insurance.describe_export_business) %></p>
        <p><i><%= t('sensitivearea_additional_information') %></i></p>
    </div>
</div>

<% option_titles = ["Nein", "Naturschutzgebiet", "Bedeutung für indigene Völker", "Archäologische oder kulturelle", "Sonstige"] %>

<% option_vars = [@insurance.delivery_doesnt_affects_sensitive_areas, @insurance.delivery_affects_natural_reserves, @insurance.delivery_affects_indigenous_people, @insurance.delivery_affects_cultural_heritage, @insurance.delivery_affects_other] %>

<% option_selected = false %>
<% option_titles.zip(option_vars).each do |option, opt_var| %>

    <% if opt_var == true %>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= option %></p>
                <% option_selected = true %>
            </div>
        </div>
    <% end %>
<% end %>
<% if !option_selected %>
    <span class="text-red col-md-8 col-md-offset-1">...</span><br>
<% end %>
<hr>

<div id="affectsOtherSpecialDiv" style="display: <%= @insurance.delivery_affects_other? ? 'block' : 'none' %>">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('explain_delivery_affects_other') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.explain_delivery_affects_other) %></p>
        </div>
    </div>
</div>

<%= render qa_partial, question: "Ist Ihr Export ausfuhrgenehmigungspflichtig?", answer: @insurance.is_delivered_part_of_consortium_with_other_companies? ? t('yes') : t('no') %>

<div id="workwithothercompanies">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('which_regulations_enforcing_exportlicense_requirement') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.which_regulations_enforcing_exportlicense_requirement) %></p>
        </div>
    </div>

    <%# Add placeholder field and draw value from datbase after:  'Die Ausfuhrgenehmigung ...' %>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('export_license_status') %></p>
        </div>

    </div>

    <hr>
</div>

<%= render qa_partial, question: t('are_secondhand_goods_delivered'), answer: @insurance.are_secondhand_goods_delivered ? t('yes') : t('no') %>

<%= render qa_partial, question: t('is_contract_already_signed_between_parties'), answer: @insurance.is_contract_already_signed_between_parties ? t('yes') : t('no') %>

<div id="contractSigned" style="display: <%= @insurance.is_contract_already_signed_between_parties ? 'block' : 'block' %>">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p><%= t('contract_signing_date_exporter_internal_contract_id') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.contract_signing_date) %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.exporter_internal_contract_id) %></p>
        </div>
    </div>
</div>

<div id="specialContractStructure">
    <%= render qa_partial, question: t('has_special_contract_structure'), answer: check_missing(@insurance.has_special_contract_structure? ? t('yes') : t('no')) %>
</div>

<div id="contractAmount">
    <%= render qa_partial, question: t('contract_currency'), answer: check_missing(@insurance.contract_currency) %>

    <%= render qa_partial, question: t('give_contract_value'), answer: check_missing(@insurance.contract_value) %>


    <%= render qa_partial, question: t('total_delivery_value_excluding_servicing'), answer: check_missing(@insurance.total_delivery_value_excluding_servicing) %>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('other_billed_items_in_contract') %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <span> <%= t('currency') %> </span>
            <span class="text-babu"><%= check_missing(@insurance.other_billed_items_in_contract_currency) %> </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <span> <%= t('amount') %> </span>
            <span class="text-babu"><%= check_missing(@insurance.other_billed_items_in_contract_amount) %> </span>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <span><%= t('description') %></span>
            <span class="text-babu"><%= check_missing(@insurance.describe_other_billed_items_in_contract) %> </span>
        </div>
    </div>
</div>

<div id="priceAdjustmentClause">
    <%= render qa_partial, question: t('is_price_adjustment_clause_with_importer'), answer: @insurance.is_price_adjustment_clause_with_importer? ? t('yes') : t('no') %>
</div>

<div id="yesNoPriceAdjustmentClause" style="display: <%= @insurance.is_price_adjustment_clause_with_importer? ? 'block' : 'block' %>">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('explain_accounting_methods') %></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.explain_accounting_methods) %></p>
        </div>
    </div>

</div>

<div id="multipleDeliveries">
    <%= render qa_partial, question: t('is_good_sent_in_multiple_deliveries'), answer: @insurance.is_good_sent_in_multiple_deliveries ? t('yes') : t('no') %>
</div>

<div id="yesNoMultipleDeliveries" style="display: <%= @insurance.is_good_sent_in_multiple_deliveries ? 'block' : 'block' %>">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('delivery_or_performance_dates') %></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-offset-1">
            <span><%= t('delivery_start') %></span>
        </div>
        <div class="col-sm-6 text-babu">
            <%= check_missing(@insurance.delivery_start) %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-offset-1">
            <span><%= t('delivery_end') %></span>
        </div>
        <div class="col-sm-6 text-babu">
            <%= check_missing(@insurance.delivery_end) %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-offset-1">
            <span> <%= t('payment_relevant_date') %></span>
        </div>
        <div class="col-sm-6 text-babu">
            <%= check_missing(@insurance.other_important_delivery_information) %>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4 col-md-offset-1">
            <span> <%= t('milestone') %> </span>
        </div>
        <div class="col-sm-6 text-babu">
            <%= check_missing(@insurance.other_important_delivery_milestones) %>
        </div>
    </div>
    <hr>

    <div id="certificateOfOrigin">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('has_german_certificate_of_origin') %></p>
            </div>

            <div class="col-md-2">
                <p class="text-babu"> <%= check_missing(@insurance.has_german_certificate_of_origin ? t('yes') : t('no')) %></p>
            </div>

            <div class="col-md-2">
                <p class="text-babu"> <%= @insurance.has_german_certificate_of_origin_for_only_parts_of_good ? 'für Teile der Ware' : "" %></p>
            </div>
        </div>
    </div>
    <hr>

    <div id="yesNoCertificateOfOrigin" style="display: <%= @insurance.has_german_certificate_of_origin ? 'none' : 'block' %>">

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('all_rawgoods_supplier_country') %></p>
            </div>
            <br>

            <div class="col-md-2">
                <p class="text-babu"> <%= check_missing(@insurance.all_rawgoods_supplier_country? ? t('yes') : t('no')) %></p>
            </div>

<!--            <div class="col-md-2">-->
<!--                <p class="text-babu"> <%#= @insurance.all_rawgoods_supplier_currency? ? 'für Teile der Ware' : "" %></p>-->
<!--            </div>-->
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('why_all_foreign_rawgoods_necessary') %></p>
            </div>

            <div class="col-md-3">
                <p class="text-babu">
                    <%= check_missing(@insurance.why_all_foreign_rawgoods_necessary? ? t('yes') : t('no')) %>
                </p>
            </div>
        </div>
    </div>

    <div id="yesNoCertificateOfOriginTeil" style="display: none;">

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('all_rawgoods_supplier_country') %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p class="text-babu"> <%= check_missing(@insurance.partly_rawgoods_supplier_country) %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p class="text-babu"> <%= check_missing(@insurance.partly_rawgoods_supplier_currency) %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <p class="text-babu"> <%= check_missing(@insurance.partly_rawgoods_supplier_text) %></p>
            </div>
        </div>
    </div>

    <div id="yesNoCertificateOfOriginTeil" style="display: none;">
        <br>
        <div class="appear">
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-8 col-md-offset-1">
                        <p> <%= t('all_rawgoods_supplier_country') %></p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-2">
                        <%= form.select :partly_rawgoods_supplier_currency, options_for_select(["Euro", "Dollar"]), {}, class: "form-control" %>
                    </div>

                    <div class="col-md-4 ">
                        <%= form.text_field :partly_rawgoods_supplier_text, class: "form-control" %>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p> <%= t('why_all_foreign_rawgoods_necessary') %></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <%= form.text_area :why_partly_foreign_rawgoods_necessary, class: "form-control" %>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div id="securityForBusiness">
        <%= render qa_partial, question: t('is_security_present_for_transaction'), answer: @insurance.is_security_present_for_transaction ? t('yes') : t('no') %>
    </div>

    <div id="typeOfSecurity" style="display: <%= @insurance.is_security_present_for_transaction ? 'block' : 'block' %>">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <% t('security_type') %> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= check_missing(@insurance.security_type) %></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= check_missing(@insurance.security_type_name) %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('proportion_of_good_covered_by_security') %> </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= check_missing(@insurance.proportion_of_good_covered_by_security) %></p>
            </div>
        </div>

        <%= render qa_partial, question: t('when_security_received'), answer: @insurance.when_security_received %>
    </div>
</div>