<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<div id="customerAddress">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= t('importer_address') %></p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <% address_keys = [t('importer_company_name'), t('importer_street_hno'), t('importer_plz'), t('importer_city')] %>

            <% address_values = [@insurance.importer_company_name, @insurance.importer_street_hno, @insurance.importer_plz, @insurance.importer_city] %>

            <% address_keys.zip(address_values).each do |addr_key, addr_value| %>
                <div class="row">
                    <div class="col-sm-6">
                        <span><%= addr_key %></span>
                    </div>
                    <div class="col-sm-6 text-babu">
                        <%= check_missing(addr_value) %>
                    </div>
                </div>
            <% end %>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 col-md-offset-1">
        <hr>
    </div>
</div>

<div id="deliveryAddressCheck">
    <%= render qa_partial, question: t('is_shipment_address'), answer: @insurance.is_shipment_address? ? 'Ja' : 'Nein' %>
</div>

<% if !@insurance.is_shipment_address? %>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <% address_keys = [t('importer_shipment_company_name'), t('importer_shipment_country'), t('importer_shipment_street_hno'), t('importer_shipment_plz'), t('importer_shipment_city')] %>

            <% address_values = [@insurance.importer_shipment_company_name, @insurance.importer_shipment_country, @insurance.importer_shipment_street_hno, @insurance.importer_shipment_plz, @insurance.importer_shipment_city] %>

            <% address_keys.zip(address_values).each do |addr_key, addr_value| %>
                <div class="row">
                    <div class="col-sm-6">
                        <span><%= addr_key %></span>
                    </div>
                    <div class="col-sm-6 text-babu">
                        <%= check_missing(addr_value) %>
                    </div>
                </div>
            <% end %>

        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <hr>
        </div>
    </div>

<% end %>

<div id="deliveryAddressCheck">
    <%= render qa_partial, question: t('has_significant_influence_on_importer_management'), answer: @insurance.has_significant_influence_on_importer_management ? 'Ja' : 'Nein' %>
</div>

<% if @insurance.has_significant_influence_on_importer_management? %>

    <div id="relationToCustomerExplain">

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('explain_exporter_influence_on_importer_management')  %></p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p>
                    <% @insurance.explain_exporter_influence_on_importer_management %>  </p>
            </div>
        </div>

    </div>

<% end %>

<div id="deliveryAddressCheck">
    <%= render qa_partial, question: t('has_payment_experience_with_importer'), answer: @insurance.has_payment_experience_with_importer? ? 'Ja' : 'Nein' %>
</div>

<% if @insurance.has_payment_experience_with_importer? %>

    <div id="alreadyPaymentExperience">

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= t('explain_previous_payment_experience_with_importer') %></p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p>
                    <% @insurance.explain_previous_payment_experience_with_importer %>  </p>
            </div>
        </div>

    </div>

<% end %>