<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<div id="deliveryAddressCheck">
    <%= render qa_partial, question: "Haben Sie in der Vergangenheit schon einmal einen Antrag auf Hermesdeckung eingereicht?", answer: @insurance.yes_previously_hermes_insurance_used? ? 'Ja' : 'Nein' %>
</div>

<div id="newAtHermesDeckung" style="display: <%= @insurance.yes_previously_hermes_insurance_used? ? 'none' : 'block' %>">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>Da Sie bisher keine Hermesdeckung beantragt haben, möchte HandEX
                und unser Partner Euler Hermes Sie besser kennenlernen.
                Bitte helfen Sie uns zu verstehen, inwieweit Sie bereits über
                Exporterfahrung
                und Erfahrungen mit säumigen Auslandskunden verfügen.</p>
            <br><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p><i>Inwieweit bzw. seit wie vielen Jahren verfügen Sie über
                Exporterfahrung
                aus ungedeckten Geschäften, d.h. Exportgeschäfte ohne
                Hermesdeckung?</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <%= check_missing(@insurance.trading_since_when_without_hermes_insurance) %>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p><i>Besteht eine langjährige Exporterfahrung sowie Marktkenntnis mit dem Empfängerland?</i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <%= check_missing(@insurance.experience_with_export_country) %>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1 ">
            <p><i> Bitte legen Sie dar, inwiefern Sie über ein adäquates
                Schadenmanagement
                verfügen. Wurden Sie in der Vergangenheit bereits (häufiger) mit
                Zahlungsverzügen/ Forderungsausfällen konfrontiert und welche
                Maßnahmen greifen bei Ihnen im Unternehmen, wenn ein Kunde in
                Zahlungsverzug
                gerät? </i></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <%= check_missing(@insurance.adequate_claims_management) %>
            <hr>
        </div>
    </div>
</div>


<div id="firmDaten">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Bitte geben Sie Ihre Firmendaten an. </p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <% address_keys = ["Firmenname", "DN-NR", "Telefon", "Straße / Hausnummer", "PLZ", "Land"] %>

            <% address_values = [@insurance.exporter_company_name, @insurance.exporter_company_dnnr, @insurance.exporter_telephone, @insurance.exporter_company_street, @insurance.exporter_company_plz, @insurance.exporter_company_country

            ] %>

            <% address_keys.zip(address_values).each do |addr_key, addr_value| %>

                <div class="row">
                    <div class="col-sm-6">
                        <span><%= addr_key %></span>
                    </div>
                    <div class="col-sm-6 text-babu">
                        <%= check_missing(addr_value) %>
                    </div>
                </div>

            <% end %>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Anzahl der Mitarbeiterinnen und Mitarbeiter </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p>  <%= check_missing(@insurance.employees_count) %> </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Umsatz im letzten vollen Geschäftsjahr </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> <%= check_missing(@insurance.revenue_last_year) %></p>
            <hr>
        </div>
    </div>

</div>


<div id="firmenDaten">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Wen können wir ansprechen? </p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <% address_keys = ["Vorname", "Nachname", "Email", "Funktion", "Bereich"] %>

            <% address_values = [@insurance.exporter_company_representative_firstname, @insurance.exporter_company_representative_lastname, @insurance.exporter_company_representative_email, @insurance.exporter_company_representative_function, @insurance.exporter_company_representative_department] %>

            <% address_keys.zip(address_values).each do |addr_key, addr_value| %>

                <div class="row">
                    <div class="col-sm-6">
                        <span><%= addr_key %></span>
                    </div>
                    <div class="col-sm-6 text-babu">
                        <%= check_missing(addr_value) %>
                    </div>
                </div>

            <% end %>
            <hr>
        </div>
    </div>

</div>

<div class="form-group">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p><b>Diese Anlagen benötigen wir für die Prüfung Ihres Geschäftes </b></p>
        </div>
    </div>
</div>

<div id="uploadDocuments">
    <div class="row">
        <div class="col-md-8 col-md-offset-1">

            <% file_types = ["Selbstauskunft (bei Neukunden)", "Jahresabschlüsse Ihres Kunden", "Auskünfte über Ihren Kunden", "Umwelt- und Sozialinformationen", "ggf. Projektmemorandum", "Sonstiges"] %>

            <% file_names = [@insurance.self_disclosure_file_name, @insurance.annual_financial_statement_importer_file_name, @insurance.credit_bureaus_importer_file_name, @insurance.environment_social_audit_file_name, @insurance.project_memorandum_exporter_business_file_name, @insurance.additional_document_file_name] %>

            <% file_types.zip(file_names).each do |file_type, file_name| %>

                <div class="row">
                    <div class="col-sm-6">
                        <span><%= file_type %></span>
                    </div>
                    <div class="col-sm-6 text-babu">
                        <%= check_missing(file_name) %>
                    </div>
                </div>

            <% end %>
            <hr>
        </div>
    </div>
</div>

<div id="corruptionDeclaration">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Corruption Declaration </p>
            <hr>
        </div>
    </div>

    <div class="row" style="display: <%= !@insurance.corruption_declaration_applies? ? 'block' : 'none' %>;">
        <div class="col-md-8 col-md-offset-1">
            <p class="text-babu">
                Trifft zu (Nähere Angaben erforderlich. Lesen Sie hierzu auch die Hinweise)
            </p>
            <hr>
        </div>
    </div>

    <div id="showHideDivCorruptionDeclarationApplies" style="display:<%= !@insurance.corruption_declaration_applies? ? 'block' : 'none' %>">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> Bitte machen Sie nähere Angaben zu den oben stehenden Punkten hinsichtlich Anklagen, strafrechtlichen
                    oder nicht-strafrechtlichen Sanktionen sowie Ermittlungsverfahren und Sperrlisten </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <p> <%= check_missing(@insurance.explain_corruption_declaration_applies) %> </p>
                <hr>
            </div>
        </div>
    </div>

    <div class="row" style="display: <%= @insurance.corruption_declaration_applies? ? 'none' : 'block' %>">
        <div class="col-md-8 col-md-offset-1">
            <p class="text-babu">
                Trifft nicht zu
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="<%= @insurance.information_inputted_best_of_knowledge? ? 'text-babu' : 'text-red' %>">
                Die vorstehenden Angaben wurden von uns nach bestem Wissen und Gewissen und in Kenntnisnahme der Erläuterungen
                gemacht.
            </div>
            <hr>
        </div>
    </div>
</div>

<div id="finalDeclaration">

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p> Abschlusserklärungen </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p class="<%= @insurance.accept_terms_conditions? ? 'text-babu' : 'text-red' %>">

                Wir akzeptieren die
                <span>
            <a target="_blank" rel="noopener noreferrer" href="https://www.agaportal.de/_Resources/Persistent/3bfd6a43f17d04f9b34d523df323f0a44a9eaa17/ab_fab.pdf">
              Allgemeinen Bedingungen für Lieferantenkreditdeckung(G)
            </a>
          </span> in Zusammenhang mit den
                <span>
            <a target="_blank" rel="noopener noreferrer" href="https://www.agaportal.de/_Resources/Persistent/b751b874fd137e5f8b22b25d2bd8a15995b09eb2/ab_g.pdf">
              Ergänzenden Bestimmungen für Forderungsabtretungen
            </a>
          </span>

            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <p class="<%= @insurance.read_privacy_policy? ? 'text-babu' : 'text-red' %>">

                Wir haben die <span><a target="_blank" rel="noopener noreferrer" href="/pages/termsAndConditions">
        Datenschutzhinweise  </a> </span> zur Kenntnis genommen und sind mit deren Geltung einverstanden.

            </p>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-md-offset-1">
            <div class="<%= @insurance.read_all_instructions? ? 'text-babu' : 'text-red' %>">
                Wir haben die <span><a target="_blank" rel="noopener noreferrer" href="/pages/guidelines">
                    Hinweise zu Gebühren und Entgelten, Richtlinien, Verantwortlichkeiten   </a> </span> für den Antrag,
                Veröffentlichung von Projektdaten, OECD-Leitsätze für multinationale Unternehmen und
                UN-Leitprinzipien für Wirtschafts- und Menschenrechte zur Kenntnis genommen.
            </div>
            <hr>
        </div>
    </div>
</div>