<% qa_partial = 'insurances/summary/user/shared_partials/question_answer.html.erb' %>

<%= render qa_partial, question: t('has_agreed_payment_term_already'), answer: @insurance.has_agreed_payment_term_already? ? t('yes') : t('no') %>

<% if @insurance.has_agreed_payment_term_already? %>

    <%= render qa_partial, question: t('payment_term'), answer: @insurance.has_agreed_payment_term_already? ? t('yes') : t('no') %>

    <% answer = nil %>
    <% if @insurance.payment_term_short? %>

        <% answer = t('payment_term_short') %>
        <%= render 'insurances/summary/user/_finance_partials/shortPaymentTerm.html.erb' %>

    <% elsif @insurance.payment_term_mid? %>

        <% answer = t('payment_term_mid') %>
        <%= render 'insurances/summary/user/_finance_partials/midPaymentTerm.html.erb' %>

    <% elsif @insurance.payment_term_both? %>

        <% answer = t('payment_term_both') %>
        <%= render 'insurances/summary/user/_finance_partials/bothPaymentTerm.html.erb' %>

    <% end %>

    <div id="interestCountedCustomer">
        <%= render qa_partial, question: t('is_interest_charged_to_importer'), answer: answer %>
    </div>


    <% if @insurance.is_interest_charged_to_importer? %>

        <div id="yesCustomerCountInterest">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 text-babu">
                    <p> <%= t('notice_interest_charged') %></p>
                </div>
            </div>
        </div>

    <% else %>

        <div id="noCustomerCountInterest">
            <%= render qa_partial, question:  t('payment_goal'), answer: @insurance.loan_term %>
        </div>

    <% end %>

    <div id="residualRiskApetite">
        <%= render qa_partial, question: t('accept_partial_refinancing'), answer: @insurance.loan_term? ? t('yes') : t('no') %>
    </div>

    <% if @insurance.is_interest_charged_to_importer? %>
        <div id="yesResidualRiskApetite">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 text-babu">
                    <p> <%= t('accepted_partial_refinancing_text') %>
                    </p>
                </div>
            </div>
        </div>
    <% else %>
        <div id="noResidualRiskApetite">
            <div class="row">
                <div class="col-md-8 col-md-offset-1 text-babu">
                    <p> <%= t('reject_partial_refinancing_text') %>
                    </p>
                </div>
            </div>
        </div>
    <% end %>

<% end %>