<div class="panel panel-default">

    <div class="panel-heading">
        Hokument
    </div>

    <div class="panel-body">

        <div class="container">

            <%= form_for @hokument, html: {multipart: true} do |form| %>

                <div class="row">
                    <div class="col-md-4">
                        <p> Heskription </p>
                        <div> <%= form.text_field :heskription, class: "form-control" %> </div>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p> Invoices 2017 </p>
                            <span class="btn btn-default btn-file text-babu">
                            <i class="fa fa-cloud-upload"></i>
                            Invoices 2017
                            <%= form.file_field :avatar %>
                        </span>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p> Invoices 2018 </p>
                        <%= form.file_field :invoicetwo %>
                    </div>
                </div>


                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p> Balance Sheets </p>
                            <span class="btn btn-default btn-file text-babu">
                            <i class="fa fa-cloud-upload" aria-hidden="true"></i>
                            Select Balance Sheet
                            <%= form.file_field :balancesheet %>
                        </span>
                    </div>
                </div>

                <br>
                <hr align="middle" width="100%">
                <br>

                <div class="row">
                    <div class="col-md-4">
                        <p> Other Document </p>
                        <%= form.file_field :otherdoc %>
                    </div>
                </div>

                <br><br><br>

                <input type="file" name="file" id="file" class="inputfilex" data-multiple-caption="{count} files selected" multiple />

                <br><br><br>

                <div><%= form.submit "Insert Hokument", class: "btn btn-normal" %></div>

                <br><br>

            <% end %>

        </div>
    </div>
</div>

<script>
    var inputs = document.querySelectorAll( '.inputfilex' );
    Array.prototype.forEach.call( inputs, function( input )
    {
        var label	 = input.nextElementSibling,
            labelVal = label.innerHTML;

        input.addEventListener( 'change', function( e )
        {
            var fileName = '';
            if( this.files && this.files.length > 1 )
                fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
            else
                fileName = e.target.value.split( '\\' ).pop();

            if( fileName )
                label.querySelector( 'span' ).innerHTML = fileName;
            else
                label.innerHTML = labelVal;
        });
    });
</script>

<style>
    .inputfilex + label {
        font-size: 1.25em;
        font-weight: 700;
        color: white;
        background-color: black;
        display: inline-block;
    }

    .inputfilex:focus + label,
    .inputfilex + label:hover {
        background-color: red;
    }
</style>