<div class="row">

    <div class="hidden-xs hidden-sm col-md-4 col-lg-4 mt-150 col-md-offset-1 col-lg-offset-1">

        <div class="container" align="center">
            <a class="smooth"><%= image_tag "HandEX_logo4.png", style: 'height:5em;width:auto;' %></a>
            <br> <br> <br>
            <h2> Einloggen </h2> <br>
            <p> Willkommen zurück! Ich hoffe es geht dir gut? </p>
            <p> Lassen Sie uns Sie wieder anmelden und dort weitermachen, wo wir aufgehört haben </p>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 mt-150 col-md-offset-1 col-lg-offset-1">

        <div class="container" style="background-color: white">
            <br>

            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

                <div class="col-md-10 col-md-offset-1">
                    <br>
                    <p> Email </p>
                    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>

                    <br>
                    <p> Passwort </p>
                    <%= f.password_field :password, autocomplete: "off", placeholder: "Passwort", class: "form-control" %>

                    <br>
                    <div>
                        <% if devise_mapping.rememberable? %>
                            <%= f.check_box :remember_me %> <%= t('save_data') %>
                        <% end %>

                        <span class="pull-right"></span>
                        <%= link_to t('password_forgotten'), new_user_password_path %>
                        </span>
                    </div>
                    <br>

                    <div class="actions">
                        <%= f.submit "Einloggen", class: "btn btn-blue btn-block" %>
                        <br><br>
                    </div>

                </div>

                <br><br>


            <% end %>
            <br><br>
        </div>

    </div>
</div>