<% qa_partial = 'insurances/summary_partials/user/question_answer.html.erb' %>

<%#= render qa_partial, question: "Haben Sie bereits das Geschäft mit Ihrem Kunden abgeschlossen bzw. eine Forderung gebucht?",-->-->
                            answer: @insurance.yes_already_completed_transaction?? 'Ja':'Nein' %>

<%# if @insurance.yes_already_completed_transaction? %>
<!--  <div id="completedTransaction" >-->
<!--    <div class="row">-->
<!--      <div class="col-md-9 col-md-offset-2 text-babu">-->
<!--        <p>HandEX kann in diesem Fall keine digitale Beantragung einer Exportkreditgarantie des Bundes für-->
<!--           Sie bei Euler Hermes vornehmen. Jedoch ist bei guter Bonität Ihres Kunden und entsprechender-->
<!--           Sicherheiten, eine Forfaitierung Ihrer Forderungen gegenüber Ihrem Kunden möglich. Hierbei kauft eine unserer-->
<!--           Partnerbanken. Ihre Forderungen und Sie erhalten direkt Liquidität. Dieses Angebot bieten wir Ihnen in Kürzean.-->
<!--        </p>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<%# end %>

<%#= render qa_partial, question: "Haben Sie bereits ein Zahlungsziel bzw. eine eigene Finanzierung mit Ihrem Kunden vereinbart?",
                       answer: @insurance.yes_payment_term_already_agreed?? 'Ja':'Nein' %>

<% if false %>

  <%#= @insurance.payment_term_shortterm? %>

  <%= render qa_partial, question: "Wie sind Ihre Zahlungsbedingungen gestaltet?",
                         answer:   "kurzfristig (bis zu 2 Jahre Kreditlaufzeit)" %>

  <div id="KurzFristigTermOfPayment">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <label> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn
          geleistet wird, geben Sie bitte den entsprechenden Betrag an.
        </label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2 col-md-offset-2">
        <span>Currency</span>
        <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_currency) %></span>
      </div>
      <div class="col-md-2">
        <span> Betrag </span>
        <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_amount) %></span>
      </div>
      <div class="col-md-2">
        <span>Beschreibung</span>
        <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_description) %></span>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <label>Welche Zahlungen vereinbaren Sie?</label>
      </div>
    </div>

    <% if false %>
      Comment: Need to populate the variable below 'num_payment_term' with some logic regards to the data
      stored in the database
    <% end %>

    <% num_payment_term = 10 %>
    <% for i in 1..num_payment_term do %>
      <div class="row">
        <div class="col-md-2 col-md-offset-2">
          <label> <%=i%>. Rate</label>
        </div>

        <div class="col-md-1">
          <%= check_missing(@insurance.agreed_payments_currency) %>
        </div>

        <div class="col-md-1">
          <%= check_missing(@insurance.agreed_payments_amount) %>
        </div>

        <div class="col-md-1">
          <%= check_missing(@insurance.agreed_payments_output) %>
        </div>

        <div class="col-md-1 ">
          <p>%</p>
        </div>

        <div class="col-md-2">
          <%= check_missing(@insurance.agreed_payments_time) %>
        </div>

        <div class="col-md-2">
          <%= check_missing(@insurance.agreed_payments_some_output) %>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <hr>
      </div>
    </div>

    <div id="workwithothercompanies">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <label>
            Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel
            oder Promissory Notes vereinbart haben, so geben Sie dies bitte hier an.
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <%= check_missing(@insurance.payment_vehichle) %>
        </div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <hr>
    </div>
  </div>

<% elsif false %>
  <%# @insurance.payment_term_middleterm? %>

  <%= render qa_partial, question: "Wie sind Ihre Zahlungsbedingungen gestaltet?",
                         answer:   "mittel-/langfristig (über 2 Jahre Kreditlaufzeit)" %>

  <div id="MittelTermOfPayment">
    <%= render qa_partial, question: "Wann werden Sie die Anzahlung erhalten?",
                           answer:   check_missing(@insurance.receive_deposit_time) %>

    <%= render qa_partial, question: "Wie gestaltet sich das Tilgungsprofil?",
                           answer:   check_missing(@insurance.repayment_profile_structure) %>

    <%= render qa_partial, question: "Wann beginnt die Kreditlaufzeit (Starting Point)?",
                           answer:   check_missing(@insurance.loan_term_start) %>

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <%= check_missing(@insurance.loan_term_other_description) %>
      </div>
    </div>

    <div id="workwithothercompanies">
      <%= render qa_partial, question: "Bitte geben Sie hier die Anzahl der Raten ein",
                             answer:   check_missing(@insurance.number_of_installments) %>
    </div>
  </div>

<% elsif true %>
  <%# @insurance.payment_term_both? %>

  <%= render qa_partial, question: "Wie sind Ihre Zahlungsbedingungen gestaltet?",
                         answer:   "sowohl kurzfristig als auch mittel-/langfristig" %>

  <div id="SonstigeKurzFristigTermOfPayment">

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <label> Sofern Sie eine Anzahlung vereinbart haben, die vor Lieferbeginn
           geleistet wird, geben Sie bitte den entsprechenden Betrag an.
         </label>
       </div>
     </div>

     <div class="row">
       <div class="col-md-2 col-md-offset-2">
         <span>Currency</span>
         <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_currency) %></span>
       </div>
       <div class="col-md-2">
         <span> Betrag </span>
         <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_amount) %></span>
       </div>
       <div class="col-md-2">
         <span>Beschreibung</span>
         <span class="text-babu"><%= check_missing(@insurance.downpayment_delivery_description) %></span>
       </div>
     </div>

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <hr>
       </div>
     </div>

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <label> Welche Zahlungen vereinbaren Sie?</label>
       </div>
     </div>
     <br>
     
     <% num_payment_term = 10 %>
     <% for i in 1..num_payment_term do %>
       <div class="row">
         <div class="col-md-2 col-md-offset-2">
           <label> <%=i%>. Rate</label>
         </div>

         <div class="col-md-1">
           <%= check_missing(@insurance.agreed_payments_currency) %>
         </div>

         <div class="col-md-1">
           <%= check_missing(@insurance.agreed_payments_amount) %>
         </div>

         <div class="col-md-1">
           <%= check_missing(@insurance.agreed_payments_output) %>
         </div>

         <div class="col-md-1 ">
           <p>%</p>
         </div>

         <div class="col-md-2">
           <%= check_missing(@insurance.agreed_payments_time) %>
         </div>

         <div class="col-md-2">
           <%= check_missing(@insurance.agreed_payments_some_output) %>
         </div>
       </div>
     <% end %>
     <hr>

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <label> Bitte geben Sie die Höhe der An- und Zwischenzahlungen an.</label>
       </div>
     </div>
     <br>

     <div class="row">
       <div class="col-md-8 col-md-offset-2">
         <label> <i>Bitte beachten Sie, dass die Anzahlung stets vor Lieferung
           gezahlt werden und bei mittel- /langfristigen Zahlungsbediungungen mindestens 15 % des
           Auftragswerts betragen muss (auf Grund internationaler Bestimmungen).. </i>
         </label>
       </div>
     </div>

     <div class="row">
       <div class="col-md-2 col-md-offset-2">
         <span>Currency</span>
         <span class="text-babu"><%= check_missing(@insurance.sonstige_kurzfrist_advance_payment_currency) %></span>
       </div>
       <div class="col-md-2">
         <span> Betrag </span>
         <span class="text-babu"><%= check_missing(@insurance.sonstige_kurzfrist_advance_payment_amount) %></span>
       </div>
       <div class="col-md-2">
         <span>Beschreibung</span>
         <span class="text-babu"><%= check_missing(@insurance.sonstige_kurzfrist_advance_payment_explain) %>%</span>
       </div>
     </div>

     <%= render qa_partial, question: "Wann werden Sie die Anzahlung erhalten?",
                            answer:   @insurance.sonstige_kurzfrist_deposit_received %>

     <%= render qa_partial, question: "Wann werden Sie die Anzahlung erhalten?",
                            answer:   @insurance.sonstige_kurzfrist_deposit_received %>


  </div>


  <div id="SonstigeKurzFristigTermOfPayment">
    <div class="appear">
      <div class="form-group">
        <br><br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Wann werden Sie die Anzahlung erhalten?
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <%= form.select :sonstige_kurzfrist_deposit_received, options_for_select(["vor Fabrikationsbeginn", "vor Liefer /- Leistungbeginn",
                                                                                      "bei Betriebsbereitschaft", "anderer Termin",]), {}, class: "form-control" %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Wie gestaltet sich das Tilgungsprofil?
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-1">
            <%= form.select :sonstige_kurzfrist_repayment_structure, options_for_select(["Monatliche Tilgungsraten", "Vierteljährliche Tilgungsprofil",
                                                                                         "Halbjährige Tilgungsprofil", "Unregelmäßig"]), {}, class: "form-control" %>
          </div>
        </div>
        <br>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <p>Wann beginnt die Kreditlaufzeit (Starting Point)?
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <%= form.select :sonstige_kurzfrist_credit_start, options_for_select(["mit Lieferung", "mit erster Lieferung (bei mehreren Lieferungen)",
                                                                                  "mit jeweiliger Lieferung (bei mehreren Lieferungen)",
                                                                                  "mittlerer gewogener Liefertermin (bei mehreren Lieferungen)",
                                                                                  "mit Betriebsbereitschaft", "sonstige"]), {}, class: "form-control" %>


          </div>
          <div class="col-md-8 col-md-offset-1">
            <br>
            <%= form.text_area :sonstige_kurzfrist_credit_start_sonstige_explain, class: "form-control", placeholder: "Wenn sonstige ausgewahlt, bitte erläutern Sie, wann die Kreditlaufzeit beginnt." %>
          </div>

        </div>
      </div>

      <div id="workwithothercompanies">
        <div class="form-group">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <p> Bitte geben Sie hier die Anzahl der Raten ein
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-md-offset-1">
              <%= form.text_field :sonstige_kurzfrist_number_of_installments, class: "form-control", placeholder: "Anzahl der Raten", :onkeypress => "return onlyAllowNumericalValue(event)" %>
            </div>
          </div>
        </div>
      </div>

      <div id="workwithothercompanies">
        <div class="row">
          <div class="col-md-10 col-md-offset-1">

            <p> Wenn Sie Zahlungsvehikel wie z.B. Wechsel, Sola-Wechsel oder
              Promissory
              Notes vereinbart haben, so geben Sie dies bitte hier an.
            </p>
            <div> <%= form.text_field :sonstige_kurzfrist_payment_vehichle_explain, class: "form-control" %> </div>
          </div>
        </div>

        <br><br>
      </div>
    </div>
    <br>
  </div>

<% end %>

  <div id="interestCountedCustomer">
    <%= render qa_partial, question: "Berechnen Sie Ihrem Kunden Zinsen?",
               answer: @insurance.yes_charge_interest_to_importer?? 'Ja':'Nein' %>
  </div>

  <% if @insurance.yes_charge_interest_to_importer? %>
    <div id="yesCustomerCountInterest">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-babu">
          <label> In diesem Fall gibt es die Möglichkeit, Ihre Forderungen gegenüber Ihrem Käufer mit einer
            Forfaitierung zu refinanzieren. Das bedeutet eine unserer Partnerbanken kauft Ihre Forderungen ab und
            refinanziert bis zu 95% des gesamten Forderungsbetrages. </label>
        </div>
      </div>
    </div>
  <% else %>
    <div id="noCustomerCountInterest">
      <%= render qa_partial, question: "Welche Kreditlaufzeit wünscht ihr Kunde?",
                 answer: @insurance.loan_term %>
    </div>
  <% end %>

  <% if false %>
    Asfand: From here I am not making stuff in backend. Have to come back to this
    Utkrist: General: The overall code must be refactored.
    With regards to you prev comment: The issues must be fixed, and variables below must me set to
    the appropriate one in the database.
  <% end %>

  <div id="residualRiskApetite">
    <%= render qa_partial, question: "Sind Sie bereit ein Restrisiko von 5% der Forderungen zu behalten?",
               answer: @insurance.loan_term?? 'Ja' : 'Nein' %>
  </div>

  <% if @insurance.yes_charge_interest_to_importer? %>
    <div id="yesResidualRiskApetite">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-babu">
          <p> In diesem Fall gibt es die Möglichkeit die Finanzierung im Rahmen einer Forfaitierung oder
            eines direkten Kredites von einer unserer Partnerbanken an Ihren Käufer zu realisieren. Im
            Laufe des Antrages ermitteln wir welche der beiden Finanzierungsformen wir Ihnen anbieten
            können.
          </p>
        </div>
      </div>
    </div>
  <% else %>
    <div id="noResidualRiskApetite">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-babu">
          <p> In diesem Fall gibt es die Möglichkeit die Finanzierung im Rahmen eines direkten Kredites
            von einer unserer Partnerbanken an Ihren Käufer zu realisieren.
          </p>
        </div>
      </div>
    </div>
  <% end %>
  </div>
