<p id="notice"><%= notice %></p>

<h1>Prefills</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prefills.each do |prefill| %>
      <tr>
        <td><%= link_to 'Show', prefill %></td>
        <td><%= link_to 'Edit', edit_prefill_path(prefill) %></td>
        <td><%= link_to 'Destroy', prefill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prefill', new_prefill_path %>
