<%= render 'shared/navbar' %>

<div class="handex-form-container">
    <div class="container">
        <div class="section">
            <%= form_with(model: @prefill, local: true, html: {multipart: true}, id: "invite-exporter") do |form| %>

                <div class="form-section z-depth-1">
                    <div class="row">
                        <div class="col s10 m10 offset-m1">

                        <div class="col s12 m12">
                            <div class="text-section black-text">
                                <h3><%= t :application_prefill_header %></h3>
                                <p> <%= t :application_prefill_paragraph %> </p>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :supply_contract, t('supply_contract') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :supply_contract %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.supply_contract_file_name if (@prefill.supply_contract.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :document_one, t('document_one') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :document_one %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.document_one_file_name if (@prefill.document_one.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :document_two, t('document_two') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :document_two %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.document_two_file_name if (@prefill.document_two.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :document_three, t('document_three') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :document_three %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.document_three_file_name if (@prefill.document_three.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :document_four, t('document_four') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :document_four %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.document_four_file_name if (@prefill.document_four.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="col s12 m6">
                            <br>
                            <%= form.label :document_five, t('document_five') %>
                            <br><br>

                            <div class="file-field">
                                <div class="btn handex-btn z-depth-0">
                                    <span> <%= t('browse') %></span>
                                    <%= form.file_field :document_five %>
                                </div>

                                <div class="file-path-wrapper">
                                    <input class="file-path validate" type="text" placeholder="<%= @prefill.document_five_file_name if (@prefill.document_five.present?) %>">
                                </div>
                            </div>
                        </div>

                        <div class="input-field col s2">
                            <br><br>
                            <div class="actions">
                                <%= form.submit "Absenden", id: "submit", class: "btn z-depth-0 handex-btn handex-big-btn btn-flat z-depth-0 validate white-text" %>
                            </div>
                        </div>

                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>