<div class="row">
    <div class="col-md-2">
        <%= render 'tradeinfos/tradeinfo_menu' %>
    </div>
    <div class="col-md-10">
        <div class="panel panel-default">

            <div class="panel-heading">
                Financials
            </div>

            <div class="panel-body">
                <div class="container">

                    <%= form_for @financial, url: tradeinfo_financials_path, method: :post do |f| %>

                        <div id="DIV_226">

                            <div class="form-group">
                                <label class="control-label"> Financing </label>

                                <div class="row">
                                    <br>
                                    <div class="col-md-5">
                                        <p> Total Financing Required (€) </p>
                                        <div> <%= f.text_field :total_financing_required, class: "form-control", required: true %> </div>
                                    </div>

                                    <div class="col-md-4">
                                        <p> Time Duration </p>
                                        <%= f.select :time_duration, [["6 Months", "6 Months"], ["1 Year", "1 Year"],
                                                                      ["1.5 Years", "1.5 Years"], ["2 Years", "3 Years"]], id: "B_168", prompt: "Select..." %>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label"> Projected Sales (€) </label>

                                <div class="row">
                                    <br>
                                    <div class="col-md-5">
                                        <p> 2018-2019 </p>
                                        <div> <%= f.text_field :projected_sales_18_19, class: "form-control", required: true %> </div>
                                    </div>
                                    <div class="col-md-5">
                                        <p> 2019-2020 </p>
                                        <div> <%= f.text_field :projected_sales_20_21, class: "form-control" %> </div>
                                    </div>
                                </div>

                            </div>

                            <div class="form-group">
                                <label class="control-label"> Current Financial Parameters (€) </label>

                                <div class="row">
                                    <br>
                                    <div class="col-md-6">
                                        <p> Net Profitability </p>
                                        <div> <%= f.text_field :net_profitability, class: "form-control" %> </div>
                                    </div>
                                    <div class="col-md-6">
                                        <p> Net Worth </p>
                                        <div> <%= f.text_field :net_worth, class: "form-control"%> </div>
                                    </div>

                                    <div class="col-md-6">
                                        <br>
                                        <p> IFSC of AD Bank</p>
                                        <div> <%= f.text_field :ifsc, class: "form-control" %> </div>
                                    </div>

                                </div>

                            </div>
                            <br>

                            <div class="form-group">
                                <label class="control-label"> Do you have any outstanding Bank or NBFC
                                    facilities? </label>
                                <br>
                                <%= f.check_box :outstanding_bank_nbfc_facility, id: "outstandingDebt" %>
                                Yes
                            </div>

                            <div id="showHideDiv" style="display: none">
                                <div class="row">
                                    <br>
                                    <div class="col-md-6">
                                        <p> Name of institution </p>
                                        <div> <%= f.text_field :name_of_institution, class: "form-control" %> </div>
                                    </div>
                                    <div class="col-md-3">
                                        <p> Type of Loan </p>
                                        <div> <%= f.text_field :type_of_loan, class: "form-control" %> </div>
                                    </div>

                                    <div class="col-md-3">
                                        <p> Size(€) </p>
                                        <div> <%= f.text_field :size_of_loan, class: "form-control" %> </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div class="form-group">
                                <label class="control-label"> Has the company ever defaulted or been overdue on any bank
                                    facilities </label>
                                <br>
                                <%= f.check_box :defaulted_or_overdue,  id: "everDefaulted" %> Yes
                            </div>

                            <div id="showHideDivDefaulted" style="display: none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p> if yes, explain </p>
                                        <div> <%= f.text_area :explain_defaulted_or_overdue, class: "form-control" %> </div>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label"> Are any receivables currently factored? </label>
                                <br><br>
                                <%= f.check_box :receivables_factored, id: "receivableFactored" %> Yes
                            </div>


                            <div id="showHideDivReceivableFactored" style="display: none">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p> if yes, with whom? </p>
                                        <div> <%= f.text_area :explain_receivables_factored, class: "form-control" %> </div>
                                    </div>
                                </div>
                            </div>

                            <br>

                            <div id="DIV_295">
                                <button type="submit" id="BUTTON_298">
                                    PROCEED
                                </button>
                            </div>
                        </div>

                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#outstandingDebt").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDiv").show();
            } else {
                $("#showHideDiv").hide();
            }
        });
    });

    $(function () {
        $("#everDefaulted").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivDefaulted").show();
            } else {
                $("#showHideDivDefaulted").hide();
            }
        });
    });

    $(function () {
        $("#receivableFactored").click(function () {
            if ($(this).is(":checked")) {
                $("#showHideDivReceivableFactored").show();
            } else {
                $("#showHideDivReceivableFactored").hide();
            }
        });
    });

</script>



