<p> <%= t("devise.mailer.reset_password_instructions.greeting") %>  <%= @resource.email %>!</p>

<p> <%= t("devise.mailer.reset_password_instructions.email_introduction") %> </p>

<p> <%= link_to t("devise.mailer.reset_password_instructions.reset_link_text"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p> <%= t("devise.mailer.reset_password_instructions.reset_instructions") %>  reset_instructions</p>