<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>

  <%= wicked_pdf_stylesheet_link_tag 'application'%>

  <%= wicked_pdf_javascript_include_tag 'application' %>
  <%= wicked_pdf_javascript_include_tag 'js/jquery-2.2.4.min.js' %>
  <%= wicked_pdf_javascript_include_tag 'jquery.sticky.js' %>

</head>

<body>

  <div class="content">
    <%= yield %>
  </div>

</body>

</html>
