<!DOCTYPE html>
<html>
<head>
  <title>PalsPlate</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>

  <!--&lt;!&ndash;Custom CSS&ndash;&gt;-->
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.4/TweenMax.min.js"></script>
  <script src="https://fast.wistia.com/embed/medias/6c5z1s88ne.jsonp" async></script>
  <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>

  <%= stylesheet_link_tag params[:controller] %>

  <%= csrf_meta_tags %>
  <%= render :partial => 'layouts/google_analytics' %>
</head>
<body>

<%= render 'shared/message' %>

<%= yield %>

</body>
</html>
