<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <title> HandEX </title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta name="viewport" content="width=device-width"/>

    <!-- Favicon-->
    <%= favicon_link_tag 'fav_5.png' %>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'listing', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'css/themify-icons-demo', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'css/themify-icons', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'css/paper-bootstrap-wizard', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'css/demo', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'activestorage.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'turbolinks.js', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery-2.2.4.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/bootstrap.min', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.bootstrap.wizard', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/demo', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/paper-bootstrap-wizard', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'js/jquery.validate.min', 'data-turbolinks-track': 'reload' %>

    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NKDMSK6');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NKDMSK6"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

<!--    <div class="image-container set-full-height" style="background-image: url('<%#= asset_path ['edit','create','new','upadate'].include?(params[:action]) ? 'banner4.jpg' : '' %>')">-->
    <div class="image-container set-full-height" style="background: linear-gradient(to right, rgb(11,215,164), rgb(6,200,203), rgb(9,208,183), rgb(4,193,222));">

        <%= yield %>
    </div>

    <!-- Start of HubSpot Embed Code -->
    <script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/5380143.js"></script>
    <!-- End of HubSpot Embed Code -->

</body>
</html>
